/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2018, 2:26:20 PM
    Author     : HP1
    */
    /*Begin 20/6/ box s? ki?n hot*/
    .evtHotTit a.clrWh {
        color: #fff;
    }
    /*End 20/6/ box s? ki?n hot*/
    /*Begin 14-05-2018 trungcq XLCYCMHENG_31384_bo_sung_box_dac_biet_trang_chu*/
    .evtHotTit .txtTrf {
        background-color: #ef7930;
        font-size: 12px;
        padding: 5px 10px;
        display: inline-block;
        font-weight: 700;
    }
    /*Begin 20/6/ box s? ki?n hot*/
    .evtHotCt {
        /* padding-left: 10px; */
        border-left: 4px double #ef7930;
        /* padding-top: 10px; */
    }
    /*End 20/6/ box s? ki?n hot*/
    .evtHotTit a {
        color: #ef7930;
        font-size: 14px;
        padding: 5px;
        display: block;
    }
    .lstHot {
        padding-left: 10px;
    }
    /*Begin 20/6/ box s? ki?n hot*/
    .lstHot .nwsTitSlHm {
        background: none;
        font-size: 14px;
        display: block;
        position: relative;
        line-height: 1.3;
    }
    .evtHotCt .lstHot .nwsTitSlHm {
        font-weight: 700;
        /*display: inline;*/ /*sua 8/11/2018*/
    }
    /*End 20/6/ box s? ki?n hot*/
    .lstHot .nwsTitSlHm:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #ef7930;
        display: inline-block;
        top: 8px;
        left: 0;
    }
    .evtHot .imgNwsMdm {
        width: 90px;
        height: 68px;
    }
    .evtHotCt .pdLt {
        padding-left: 100px;
    }
    .evtHotCt .nwsTitHm {
        font-size: 14px;
    }
    .vidIt.first a {
        font-size:18px;
    }
    @media only screen and (min-width: 668px) {
        .evtHotCt .nwsTitHm {
            font-size: 20px;
        }
        .lstHot .nwsTitSlHm,
        .evtHotTit a {
            font-size: 22px;
        }
        .evtHotTit .txtTrf{
            font-size: 18px;
        }
    }
    @media only screen and (min-width: 569px) and (max-width: 667px) {
        .evtHotCt .nwsTitHm {
            font-size: 18px;
        }
        .lstHot .nwsTitSlHm,
        .evtHotTit a {
            font-size: 20px;
        }
        .evtHotTit .txtTrf{
            font-size: 16px;
        }
    }
    @media only screen and (min-width: 480px) and (max-width: 568px) {
        .evtHotCt .nwsTitHm {
            font-size: 16px;
        }
        .lstHot .nwsTitSlHm,
        .evtHotTit a {
            font-size: 18px;
        }
        .evtHotTit .txtTrf{
            font-size: 14px;
        }
    }
    @media only screen and (min-width: 321px) and (max-width: 479px) {
        .evtHotCt .nwsTitHm {
            font-size: 14px;
        }
        .evtHotTit a {
            font-size: 16px;
        }
    }
    /*End 14-05-2018 trungcq XLCYCMHENG_31384_bo_sung_box_dac_biet_trang_chu*/
/*---Start media query---*/
@media only screen and (max-width: 598px) {
    .imgFlt {
        margin-right: 10px;
    }    
    .tbCmg ul {
            /*height: 38px;*/
        overflow: hidden;
            width: 100%;
    }
    /*.m_banner_show > div {
            width: 100% !important;
            overflow: hidden;
    }*/
}
@media only screen and (min-width: 668px){
    .txtBnrHor span {
        font-size: 16px;
    }
        .tmPst a, .ifTtr, .blqPr .extTit, .extTit span, .extTit a, .tpcHt .tpcLitIt li a, #footer p {
        font-size: 18px;
    }
        .ftMn2 a, .cateOthr li a, .tbCmg ul li a, .nwsTitSlHm, .tmPst, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .menutp ul li a, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge, .pollTop {
        font-size: 20px;
    }
        .tcbIt li a, .ldIt a, .nwsTitHm, .icoSkn span, .txtMn, .icoSkn a, .tbCmg ul li, .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls, .seeMrMul span, .plTp {
        font-size: 22px;
    }
        .bdBrk, .titTp a, .ldIt2 a, .vidIt a, .vidItRt a, .tbTcb, .tbCmg h1, .tbTcb a, .ctTp, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 24px;
    }
        .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .content-bv-lq p, .see-now a, .pgS3 a {
        font-size: 26px;
    }
    .titNws a {
        font-size: 28px;
    }
    .atclTit h1, .title-bv a {
        font-size: 32px;
    }
        .tbCmCent a{
            font-size: 23px;
}
    }
@media only screen and (min-width: 569px) and (max-width: 667px) {
    .txtBnrHor span {
        font-size: 14px;
    }
        .ifTtr, .blqPr .extTit, .extTit span, .tmPst a, .extTit a, .tpcHt .tpcLitIt li a, #footer p {
        font-size: 16px;
    }
        .ftMn2 a, .cateOthr li a, .vidItRt a, .tbCmg ul li a, .nwsTitSlHm, .ctTp, .tmPst, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .menutp ul li a, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge, .pollTop {
        font-size: 18px;
    }
        .tcbIt li a, .ldIt a, .nwsTitHm, .icoSkn span, .txtMn, .icoSkn a, .tbCmg ul li, .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls, .seeMrMul span, .plTp {
        font-size: 20px;
    }
        .bdBrk, .titTp a, .ldIt2 a, .vidIt a, .tbTcb, .tbCmg h1, .tbTcb a, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 22px;
    }
        .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .content-bv-lq p, .see-now a, .pgS3 a {
        font-size: 24px;
    }
    .titNws a {
        font-size: 26px;
    }
    .atclTit h1, .title-bv a {
        font-size: 30px;
    }
        .tbCmCent a{font-size: 21px;}
}
@media only screen and (min-width: 480px) and (max-width: 568px) {
    .txtBnrHor span {
        font-size: 12px;
    }
        #footer p, .ifTtr, .blqPr .extTit, .extTit span, .tmPst a, .extTit a, .tpcHt .tpcLitIt li a, .tmPst{
        font-size: 14px;
    }
        .ftMn2 a, .cateOthr li a, .vidItRt a, .vidIt a, .tbCmg ul li a, .nwsTitSlHm, .ctTp, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .menutp ul li a, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge, .pollTop {
        font-size: 16px;
    }
        .tcbIt li a, .ldIt a, .nwsTitHm, .icoSkn span, .txtMn, .icoSkn a, .tbCmg ul li, .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls, .seeMrMul span, .plTp {
        font-size: 18px;
    }
        .bdBrk, .titTp a, .ldIt2 a, .tbTcb, .tbCmg h1, .tbTcb a, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 20px;
    }
        .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .content-bv-lq p, .see-now a, .pgS3 a {
        font-size: 22px;
    }
    .titNws a {
        font-size: 24px;
    }
    .atclTit h1, .title-bv a {
        font-size: 28px;
    }
        .tbCmCent a{
            font-size: 19px;
}
    }
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .txtBnrHor span {
        font-size: 10px;
    }
        .ifTtr, .blqPr .extTit, .extTit span {
        font-size: 12px;
    }
        .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge, .pollTop {
            font-size: 14px;
    }
        .icoSkn span, .icoSkn a,
        .mnRtQk ul li a, .mveCte span, .sbNws, .mnRtCls, .seeMrMul span, .plTp {
        font-size: 16px;
    }
        .bdBrk, .nwsTitSlHm, .titTp a, .nwsTitHm a, .ldIt a, .ldIt2 a, .vidIt a, .vidItRt a, .tbTcb, .tcbIt li a, .tbCmg h1,
        .ftMn2 a, .tbTcb a, .ctTp, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
            /*font-size: 18px;*/
    }
        .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .content-bv-lq p, .see-now a, .pgS3 a {
            font-size: 20px;
    }
    .titNws a {
        font-size: 22px;
    }
    .atclTit h1, .title-bv a {
        font-size: 26px;
    }
}

@media only screen and (min-width: 480px) {
    .mnRtQk {
        width: 320px;
    }
    .menutp ul li {
        padding: 10px 7px;
        }
        .pagS2 a.Prev {
            background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -620px;
        }
        .pagS2 a.Next {
            background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -580px;
        }
        .gopy {
            width: 480px;
            margin: 0 auto;
    }
}
@media only screen and (min-width: 599px) {
        /*.tbCmg ul {
        height: 60px;
        overflow: hidden;
    }
    .tbCmg {
        max-height: 60px;
        }*/
    .mnRtQk {
        width: 400px;
    }
        /* .mnCM-expand {
        width: 38px;
        height: 38px;
        right: 0;
        top: 5px;
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 8px -1485px;
        }*/
    .pgS2 a.Nxt {
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -580px;
    }
    .pgS2 a.Prv {
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -620px;
    }
    .tmPst a {
            /* background-position: 0 -120px; */
    }
    .nwsTitSlHm {
            background-position: 0 -1528px;  
    }
    .mnRtClsBtn {
        right: 320px;
    }
    .menRt {
        width: 320px;
    }
    .mnRt li a {
        font-size: 20px;
    }
        .sbNws {
            background: url(//cdn.24h.com.vn/images/m2014/images/sprites.png) 0 -118px no-repeat;
}



    }




.evtHotTit {
    border-bottom: 1px solid #ef7930;
    overflow: hidden;
}
.evtHotTit .txtTrf {
    float: left;
}
.evtHotTit .hotTb {
    background-color: #faa460;
    font-size: 11px;
    display: inline-block;
        border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    margin-left: 3px;
}
.evtHotCt {
    display: inline-block;
    width: 100%;
}
.seMore {
    font-size: 14px;
    padding: 5px;
    color: #ef7930;
    display: block;
}
@media only screen and (min-width: 668px) {
    .evtHotTit .hotTb {
            font-size: 17px;
    }
    .seMore {
        font-size: 22px;
    }
}
@media only screen and (max-width: 667px) and (min-width: 569px) {
    .evtHotTit .hotTb {
            font-size: 15px;
    }
    .seMore {
        font-size: 20px;
    }
}
@media only screen and (max-width: 568px) and (min-width: 480px) {
    .evtHotTit .hotTb {
            font-size: 13px;
    }
    .seMore {
        font-size: 18px;
    }
}
@media only screen and (max-width: 479px) and (min-width: 321px) {

}
@media only screen and (max-width: 479px) {
    .evtHotTit {
            height: 25px;
    }
    .evtHotTit a.clrWh {
        margin-bottom: 10px;
    }
}
.flRt {
    float: right;
}

/*Begin 08-10-2018 nang_cap_giao_dien_moi */
   .inbl{
       display: inline-block;
   }
   .ct{
       text-align: center;
   }
   .tt{
       display: block;
       font-size: 18px;
       text-transform: uppercase;
       font-weight: bold;
   }
   .c333{
       color: #333;
   }
   .fz14{
       font-size: 14px;
   }
   .fz12{
       font-size: 12px;
   }
   .fz16{
       font-size: 16px;
   }
   .fz18{
       font-size: 18px;
   }
   .wrapper{
       margin: 0;
       padding: 0;
       position: relative;
       width: 100%;
       overflow: hidden;
   }
.tmPst a{
    font-size: 12px;
    font-weight: normal;
}
.nwsTitSlHmD{
    font-size: 14px;
    display: block;
}
.clrGrD{
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.linD{
    margin-left: 7px;
    margin-right: 7px;
}
.bxVidLst{
    margin: 0;
}
.bxVidLst .first{
    float: none;
    display: block;
    width: 100%;
    position: relative;
}
.bxVidLst .first header{
    padding: 10px;
}
.bxVidLst .list{
    padding: 0;
}
/*.bxVidLst .list .vidItRt, .bxVidLst .list .vidIt{
    width: 47%;
    margin-right: 10px;
}*/
.lady .bxLlq .nwsItHm{
    background: none;
}
/*End 08-10-2018 nang_cap_giao_dien_moi */

/* begin 13/10/2018 by dangtq */
.tbCmg ul li .mnAtv{
    color: #fff;
}
.lh0{
    line-height: 0;
}
/*.bxVidLst .list .vidIt{
    width: 46%;
    margin-bottom: 10px;
}*/
.lady .bxLlq .nwsItHm{
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
}
.extTit{
    line-height: 0.5;
    margin-bottom: 10px;
}
.imgNwsMdm{
    width: 139px;
    height: 104px;
}
@media screen and (min-width: 767px) and (max-width: 812px) {
    .ctTpD{
        height: auto;
        font-size: 24px;
    }
    .tmPst, .nwsItHm>.tmPst>a{
        font-size: 16px;
    }
}
/* end 13/10/2018 by dangtq */
/* begin bangnd 24/10/2018 */
.tth-wrap .imgNwsMdm {
    width: 100px;
    height: 75px;
}
/* end bangnd 24/10/2018 */

/* begin 26/10/2018 dangtq */
@media only screen and (max-width: 812px) and (min-width: 569px){
    .ctTp{
        font-size: 20px;
    }
    .barToggle .icoTit:before{
        bottom: -5px;
    }
    .icoTit:before{
        font-size: 15px;
    }
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 22px;
    }
    .evtHotCt .nwsTitHm, .seMore, .nwsItHm>.tmPst>a, .ctTpD, .vidIt a, .evtHotCt .lstHot .nwsTitSlHm{
        font-size: 18px;
    }
    .clrGrD, a.flRt.seMore{
        font-size: 16px;
    }
    .tmPst a{
        background-position: -50px -1770px;
    }
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a{
        font-size: 22px;
    }
    /*.mnCM-expand{
        background-position: 8px -1480px;
    }*/
    .lady a.title.tt{
        background-position: -50px -4138px;
    }
    .tmPst.pt8{
        font-size: 16px;
    }
    .evtBxSp .clrTit{
        font-size: 17px;
    }
}
@media screen and (min-width: 736px) and (max-width: 812px) {
    .ctTp{
        font-size: 22px;
    }
    .barToggle .icoTit:before{
        bottom: -5px;
    }
    .icoTit:before{
        font-size: 17px;
        right: 3px;
    }
    .barToggle .icoTit:before{
        bottom: -8px;
    }
    .clrGrD, .tmPst.pt8, a.flRt.seMore{
        font-size: 18px;
    }
    .seMore, .evtHotCt .nwsTitHm, .nwsItHm>.tmPst>a, .vidIt a, .vidItRt a, .evtHotCt .lstHot .nwsTitSlHm{
        font-size: 20px;
    }
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 24px;
    }
    .evtBxSp .clrTit{
        font-size: 19px;
    }
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a{
        font-size: 24px;
    }
}
@media screen and (min-width: 812px) {
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 24px;
    }
    .tmPst.pt8, .nwsItHm>.tmPst>a, .evtBxSp .clrTit{
        font-size: 20px;
    }
    .vidIt a, header.tbTcb.txtCent.clrWh.bld.fs18{
        font-size: 24px;
    }
}
@media screen and (min-width: 481px) and (max-width: 568px) {
    .ctTp{
        font-size: 18px;
    }
    .barToggle .icoTit:before {
        right: 5px;
        bottom: -1px;
    }
    /*.barToggle .mnWrap .inner {
        max-height: 60px;
    }*/
    .icoTit:before{
        font-size: 13px;
        right: 6px;
    }
    .seMore, .nwsItHm>.tmPst>a, .evtHotCt .nwsTitHm, .evtHotCt .lstHot .nwsTitSlHm{
        font-size: 16px;
    }
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 20px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 15px;
    }
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a{
        font-size: 20px;
    }
    .clrGrD, a.flRt.seMore{
        font-size: 14px;
    }
}
/* chieu_doc */
@media screen and (min-width: 360px) and (max-width: 413px) {
    
    .clrGrD, .tmPst a, .evtHotTit .txtTrf, .extTit a, .tpcHt .tpcLitIt li a, .tmPst.pt8, #footer p, a.flRt.seMore{
        font-size: 14px;
    }
    .evtHotCt .lstHot .nwsTitSlHm, .ftMn2 a, .cateOthr li a, .ctTp.ctTpD, .seMore, .ctTp, .nwsTitSlHm, .evtHotCt .nwsTitHm, .tbCmg ul li, .tbCmg ul li a, .nwsItHm>.tmPst>a, .seMr a, .tbCmg ul li .mnAtv, .vidIt a, .vidItRt a, .lady .nwsTitSlHm{
        font-size: 16px;
    }
    .nwsTitHm, .ldIt a, .ldIt2 a, .tcbIt li a, .ctTp{
        font-size: 18px;
    }
    .titTp a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 20px;
    }
    .menutp ul li{
        padding: 10px 2px;
    }
    .menutp ul li a, .txtMn, .evtHotTit .hotTb, .icoTit:before{
        font-size: 13px;
    }
    .tbCmCent a{
        font-size: 19px;
    }
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a{
        font-size: 20px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 15px;
    }
    .titNws a.clrTit.bld{
        font-size: 24px;
    }
}
@media screen and (min-width: 414px) and (max-width: 487px) {
    .barToggle .icoTit:before {
        right: 5px;
        bottom: -3px;
    }
    .barToggle .icoBars {
        width: 40px;
    }
    /*.barToggle .mnCM-expand, .barToggle .mnCM-close {
            margin-top: -23px;
    }*/
    /*.barToggle .mnWrap .inner {
        max-height: 60px;
    }*/
    .clrGrD, .tmPst a, .evtHotTit .txtTrf, .extTit a, .tpcHt .tpcLitIt li a, .tmPst.pt8, #footer p, a.flRt.seMore{
        font-size: 16px;
    }
    .evtHotCt .lstHot .nwsTitSlHm, .ftMn2 a, .cateOthr li a, .ctTp.ctTpD, .seMore, .ctTp, .nwsTitSlHm, .evtHotCt .nwsTitHm, .tbCmg ul li, .tbCmg ul li a, .nwsItHm>.tmPst>a, .seMr a, .tbCmg ul li .mnAtv, .vidIt a, .vidItRt a, .lady .nwsTitSlHm{
        font-size: 18px;
    }
    .nwsTitHm, .vidIt.first a, .ldIt a, .ldIt2 a, .tcbIt li a, .ctTp{
        font-size: 20px;
    }
    .titTp a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 22px;
    }
    .menutp ul li{
        padding: 10px 2px;
    }
    .menutp ul li a, .txtMn, .evtHotTit .hotTb, .icoTit:before{
        font-size: 15px;
    }
    .tbCmCent a{
        font-size: 21px;
    }
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a{
        font-size: 22px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 17px;
    }
    .titNws a.clrTit.bld{
        font-size: 26px;
    }
    .tmPst a{
        background-position: -50px -1771px;
    }
}
@media screen and (max-width: 320px) {
    .menutp ul{
        padding-left: 13px;
    }
    .menutp ul li{
        padding: 10px 4px;
    }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    .menutp ul{
        padding-left: 8px;
    }
    .menutp ul li{
        padding: 10px 1px;
    }
}
.ldIt{
    padding-left: 0;
    width: 48%;
}
/* end 26/10/2018 dangtq */

/*begin 9/11/2018 dangtq*/
a.flRt.seMore{
    display: inline-block;
    font-size: 12px;
    color: #f17920;
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat 15px -2657px;
    padding-right: 25px;
    float: right;
}
/*end 9/11/2018 dangtq*/
.tbTcb {
    background: #f17920;
    padding: 7px;
}
.tbTcb a {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}
/*---Start ttcb---*/
.ttcb-cnt {
    padding: 0 10px;
    border-bottom: #e1e1e1 solid 1px;
    border-left: #e1e1e1 solid 1px;
    border-right: #e1e1e1 solid 1px;
}
.tcbIt li {
    display: block;
    vertical-align: top;
    list-style: none;
}
.tcbIt li a {
    border-bottom: #ebebeb solid 1px;
    display: block;
    padding: 10px 0 10px 45px;
    font-size: 16px;
}
.tcbIt li:last-child a {
    border-bottom: 0;
}
.tcbGld {
    background: url(//cdn.24h.com.vn/images/m2014/images/ttcb.png) 5px 10px no-repeat;
}
.tcbNgt {
    background: url(//cdn.24h.com.vn/images/m2014/images/ttcb.png) 5px -34px no-repeat;
}
.tcbVlm {
    background: url(//cdn.24h.com.vn/images/m2014/images/orange_tuyen_dung-22px.png) 5px 5px no-repeat;
    background-size: 25px;
}
.tcbXso {
    background: url(//cdn.24h.com.vn/images/m2014/images/ttcb.png) 5px -78px no-repeat;
}
.tcbTht {
    background: url(//cdn.24h.com.vn/images/m2014/images/ttcb.png) 5px -164px no-repeat;
}
.tcbVid {
    background: url(//cdn.24h.com.vn/images/m2014/images/icon-video-ttcb1.png) no-repeat 7px 10px;
}
.tcbLcp {
    background: url(//cdn.24h.com.vn/images/m2014/images/ttcb.png) 5px -210px no-repeat;
}
/*---End ttcb---*/

/*begin vietlot dangtq*/
    .vietLot{
        height: 30px;
        background: url('http://t.24h.com.vn/upload/dangtq/24h.com.vn/mobile/images/gt_jackpot_bg.jpg') no-repeat #ed273b;
        margin: -5px 10px -5px 10px;
        position: relative;
        line-height: 30px;
        background-size: contain;
    }
    .vietLot:before{
        content: '';
        height: 2px;
        background-color: #f6939d;
        position: absolute;
        top: 50%;
        margin-top: -0.5px;
        right: 10px;
        width: 12%;
    }
    .vietLot span{
        font-size: 10px;
        font-weight: 600;
        font-style: italic;
        color: #fff;
        padding-left: 10px;
        text-transform: uppercase;
    }
    .vietLot_img {
        vertical-align: -6px;
        padding-left: 5px;
    }

    @media screen and (min-width: 321px) and (max-width: 375px){
        .vietLot span{
            font-size: 12px;
        }
        .vietLot:before{
            width: 17%;
        }
        .vietLot_img {
            vertical-align: -5px;
        }
    }
    @media screen and (min-width: 321px) and (max-width: 360px){
        .vietLot:before{
            width: 13%;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 414px){
        .vietLot span{
            font-size: 14px;
            display: inline-block;
        }
        .vietLot:before{
            width: 17%;
        }
        .vietLot_img {
            vertical-align: -5px;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 568px){
        .vietLot span{
            font-size: 12px;
            padding-left: 55px;
        }
        .vietLot:before{
            width: 38%;
        }
        .vietLot_img {
            vertical-align: -6px;
        }
    }
    @media screen and (min-width: 569px) and (max-width: 667px){
        .vietLot span{
            font-size: 14px;
            display: inline-block;
            padding-left: 55px;
        }
        .vietLot:before{
            width: 43%;
        }
        .vietLot_img {
            vertical-align: -5px;
        }
    }
    @media screen and (min-width: 569px) and (max-width: 640px){
        .vietLot:before{
            width: 40%;
        }
    }
    @media screen and (min-width: 668px) and (max-width: 736px){
        .vietLot span{
            font-size: 16px;
            padding-top: 2px;
            display: inline-block;
            padding-left: 55px;
        }
        .vietLot_img {
            vertical-align: -4px;
        }
        .vietLot:before{
            width: 44%;
        }
    }
    @media screen and (min-width: 812px){
        .vietLot span{
            font-size: 14px;
            display: inline-block;
            padding-left: 55px;
        }
        .vietLot_img {
            vertical-align: -5px;
        }
        .vietLot:before{
            width: 53%;
        }
    }
    /*end vietlot dangtq*/