.evtHlt .tbTcb {
    padding: 10px;
}
.evtBx .imgNwsMdm {
    width: 45%;
    height: auto;
    margin-right: 4%;
}
.evtBx .imgNwsMdm a img {
    width: 100%;
    display: block;
}
.evtBx .evtBxSp {
    float: left;
    width: 51%;
    color: #333;
    margin-top: 2px;
    background: none;
    padding: 0;
    margin-bottom: 5px;
    display: inline;
    line-height: 1.2;
    font-size: 14px; /*begin dangtq toi_uu_css_sau_nang_cap_giao_dien*/
}

/*---Start box nhieu nguoi doc---*/
.bxRdPsn {
    padding: 7px;
    border: 1px solid #f17920;
    border-top: 6px solid #f17920;
}
.tbLngrn {
    /*color: #f17920;*/
    border-bottom: 0;
    padding: 14px 0;
    font-weight: 700;
    position: relative;
}
.tbLngrn a, .tbLngrn h2 {
    margin: 0;
}
.tbLngrn h2 {
    color: #7ab345;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.bxRdPsnLt a {
    line-height: 1.2;
} 
.bxRdPsn .boxGrey {
    background: none;
    padding: 0;
}
.bxRdPsn .nwsItHm {
    display: inline-block;
    width: 100%;
    clear: both;
}
.bxRdPsn .bxRdPsnLt {
    width: 70%;
    float: left;
    background: none;
    padding-left: 0;
    padding-right: 10px;
}
.bxRdPsn .nwsIt {
    width: 30%;
    float: left;
    position:relative;
}
/*---End box nhieu nguoi doc---*/
/*---Start media query---*/
@media only screen and (max-width: 598px) {   
    /*.tbCmg ul {
        height: 38px;
        overflow: hidden;
        width: 100%;
        padding-right: 40px;
    }*/
    /*.tbCmg ul li h2, .tbCmg ul li h1, .tbCmg ul li h3 {
        font-size: 14px;
    }*/
    /*.tbCmg ul li a {
        font-size: 14px;
    }*/
    /* .mnCM-expand {
        width: 38px;
        height: 38px;
        right: 0;
        top: 0;
        background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 8px -1485px; 
    }*/
    .m_banner_show > div {
        width: 100% !important;
        overflow: hidden;
    }
}
@media only screen and (min-width: 668px) {
    .txtBnrHor span {
        font-size: 16px;
    }
    .nwsTit .ifTtr, .blqPr .extTit, .extTit span, #footer p {
        font-size: 18px;
    }
    .ftMn2 a, .cateOthr li a, .nwsTitSlHm, .tmPst a, .extTit a, .tmPst, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .menutp ul li a, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge {
        font-size: 20px;
    }
    .icoSkn span, .txtMn, .icoSkn a, .nwsTitHm, .tpcHt .tpcLitIt li a, .tbCmg ul li a, .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls {
        font-size: 22px;
    }
    .bdBrk, .titTp a, .tbCmg ul li, .ldIt a, .ldIt2 a, .vidIt a, .vidItRt a, .tbTcb, .tcbIt li a, .tbCmg h1, .tbTcb a, .ctTp, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 24px;
    }
    .tbCmCent a, .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .bxDoRt .nwsTitHm a {
        font-size: 26px;
    }
    .titNws a {
        font-size: 28px;
    }
    .atclTit h1 {
        font-size: 32px;
    }
}
@media only screen and (min-width: 569px) and (max-width: 667px) {
    .txtBnrHor span {
        font-size: 14px;
    }
    .nwsTit .ifTtr, .blqPr .extTit, .extTit span, #footer p {
        font-size: 16px;
    }
    .ftMn2 a, .cateOthr li a, .nwsTitSlHm, .tmPst a, .extTit a, .tmPst, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .menutp ul li a, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge {
        font-size: 18px;
    }
    .icoSkn span, .txtMn, .icoSkn a, .nwsTitHm, .tpcHt .tpcLitIt li a, .tbCmg ul li a, .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls {
        font-size: 20px;
    }
    .bdBrk, .titTp a, .tbCmg ul li, .ldIt a, .ldIt2 a, .vidIt a, .vidItRt a, .tbTcb, .tcbIt li a, .tbCmg h1, .tbTcb a, .ctTp, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 22px;
    }
    .tbCmCent a, .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .bxDoRt .nwsTitHm a {
        font-size: 24px;
    }
    .titNws a {
        font-size: 26px;
    }
    .atclTit h1 {
        font-size: 30px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 568px) {
    .txtBnrHor span {
        font-size: 12px;
    }
    .nwsTit .ifTtr, .blqPr .extTit, .extTit span, #footer p {
        font-size: 14px;
    }
    .ftMn2 a, .cateOthr li a, .nwsTitSlHm, .ctTp, .tmPst a, .extTit a, .tmPst, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .menutp ul li a, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge {
        font-size: 16px;
    }
    .icoSkn span, .txtMn, .icoSkn a, .nwsTitHm, .tpcHt .tpcLitIt li a, .tbCmg ul li a, .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls {
        font-size: 18px;
    }
    .bdBrk, .titTp a, .tbCmg ul li, .ldIt a, .ldIt2 a, .vidIt a, .vidItRt a, .tbTcb, .tcbIt li a, .tbCmg h1, .tbTcb a, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 20px;
    }
    .tbCmCent a, .evtBxTit a, .tbLngrn a, .tbLngrn h2, .evtHlt h2, .tbLngble h3, .bxDoRt .nwsTitHm a {
        font-size: 22px;
    }
    .titNws a {
        font-size: 24px;
    }
    .atclTit h1 {
        font-size: 28px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .txtBnrHor span {
        font-size: 10px;
    }
    .nwsTit .ifTtr, .blqPr .extTit, .extTit span {
        font-size: 12px;
    }
    .extTit a, .tmPst, .seMr a, .pagS2 a.Next, .pagS2 a.Prev, .pagS2 a.New, .pagPge, .nguontin, .tmEvt .nmEvt , .pgS2 a.Nxt, .pgS2 a.Prv, .pgS2 a.Nws, .pgPge, .blk .ftLstVid .vidSeMr a, .pagS2 .pagPge {
        font-size: 14px;
    }
    .icoSkn span, .icoSkn a, .nwsTitHm, .tpcHt .tpcLitIt li a, .tbCmg ul li a, 
    .mnRtQk ul li a, .mveCte span, .evtBx .evtBxSp, .sbNws, .mnRtCls {
        font-size: 16px;
    }
    .bdBrk, .titTp a, .tbCmg ul li, .ldIt a, .ldIt2 a, .vidIt a, .vidItRt a, .tbTcb, .tcbIt li a, .tbCmg h1, .tbTcb a, .tbCmg ul li .mnAtv, .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .plContnr, .sbevt, p, .content-video .vdFul a, .bxVidTit .mnItTit a, .bxMncm li a, .chuyen-huong a {
        font-size: 18px;
    }
    .tbCmCent a, .evtBxTit a, .tbLngrn a, .evtHlt h2, .tbLngble h3, .bxDoRt .nwsTitHm a {
        font-size: 20px;
    }
    .titNws a {
        font-size: 22px;
    }
    .atclTit h1 {
        font-size: 26px;
    }
}
@media only screen and (min-width: 480px) {
    .mnRtQk {
        width: 320px;
    }
    .menutp ul li {
        padding: 10px 7px;
    }
}
@media only screen and (min-width: 599px) {
    /*.tbCmg ul {
        height: 60px;
        overflow: hidden;
    }*/
    /*.tbCmg {
        max-height: 60px;
    }*/
    .mnRtQk {
        width: 400px;
    }
    .mnCM-expand {
        /*width: 38px;
        height: 38px;
        right: 0;
        top: 5px;
        background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 8px -1485px;*/
    }
    .pagS2 a.Next {
        background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -580px;
    }
    .pagS2 a.Prev {
        background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -620px;
    }
    .tmPst a {
        background-position: 0 -120px;
    }
    .nwsTitSlHm {
        background-position: 0 -1528px;  
    }
    .mnRtClsBtn {
        right: 320px;
    }
    .menRt {
        width: 320px;
    }
    .mnRt li a {
        font-size: 20px;
    }
}
/* begin BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.txtRt {
    text-align: right;
}
/*.asiad-bxh {
    margin-left: -7px;
    margin-right: -7px;
}*/
.asiadTit {
    height: 37px;
    background: url('../images/sg30_top_bar2_mobile.jpg') no-repeat; /*18/11/2019: dangtq thay_background_sea_games_30*/
    background-size: cover; /*18/11/2019: dangtq thay_background_sea_games_30*/
    line-height: 37px;
}
/*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
.asiadTit span {
    font-size: 13px;
    color: #002a51;
}
/*End 18/11/2019: dangtq thay_background_sea_games_30*/
.asiadBd {
    border: 2px solid #21c879;
    border-top: 0;
}
.asiadTb {
    width: 100%;
    border-collapse: collapse;
}
.asiadTb thead {
    border-bottom: 1px solid #ddd;
}
.asiadTb thead th{
    padding: 10px 4px;
    font-size: 14px;
    font-weight: 400;
    min-width: 32px;
}
.asiadTb thead th.txtLt {
    text-align: left;
}
.asiadTb thead th img {
    width: 18px;
    /*height: 28px !important;*/
}
.asiadTb tbody tr td {
    padding: 10px 4px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}
.asiadTb tbody tr td.txtLt {
    text-align: left;
    word-break: break-all;
}
.asiadTb tbody tr td.txtLt img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    width: 26px;
}
.asiadVN {
    background-color: #fff2da;
}
.asiad-detail {
    padding-right: 10px;
}
.asiad-detail a {
    font-size: 14px;
    color: #21c879;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 0;
}
@media only screen and (min-width: 668px) {
    .asiadTb tbody tr td {
        font-size: 22px;
    }
    .asiad-detail a, .asiadTb thead th {
        font-size: 20px;
    }
}
@media only screen and (min-width: 569px) and (max-width: 667px) {
    .asiadTb tbody tr td{
        font-size: 20px;
    }
    .asiad-detail a, .asiadTb thead th {
        font-size: 18px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 568px) {
    .asiadTb tbody tr td {
        font-size: 18px;
    }
    .asiad-detail a, .asiadTb thead th {
        font-size: 16px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .asiadTb tbody tr td, .asiadTb thead th {
        font-size: 16px;
    }
    .asiad-detail a {
        font-size: 14px;
    }
}
@media only screen and (min-width: 375px) {
    .asiadTit span {
        font-size: 15px; /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    }
}
/* end BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */

/* begin chuyen muc cap 1 12/10/2018 */
.tbCmg{
    background: none;
}
.tbCmg ul li a{
    color: initial;
    font-size: 14px;
    color: #378b36;
    /* text-transform: uppercase; */
}
.clrGr{
    font-size: 12px;
    display: block;
    margin: 10px 0;
}
.nwsItHm>.tmPst>a{
    font-size: 12px;
}
.ngd{
    border-top: 2px solid #7ab345;
    background-color: #eeeeee;
    /*padding-left: 10px;*/
}
.ngd .bxRdPsnLt a{
    font-size: 14px;
}
.more1{
    font-size: 14px;
    color: initial;
    text-align: center;
    display: block;
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px 0;
}
.tttd>header a{
    display: block;
    color: #7ab345;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #7ab345;
    line-height: 2;
    /*margin: 0 7px;*/
}
.tttd .evtBxTit a{
    font-size: 18px;
}
.tttd .bxLlq .nwsItHm{
    background: none;
    margin: 0;
    padding-left: 0;
}
.ttdn>header a{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ef7930;
    padding: 0 7px;
    line-height: 2;
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -40px -3790px;
    padding-left: 35px;
}
.ttdn .ngd{
    border-top: 2px solid #ef7930;
    padding-right: 10px;
    padding-top: 15px;
    background: #fff1d9;
    margin-left: -1px;
}
.ttdn .clrDft{
    font-size: 14px;
}
.lady.tttd>header a{
    color: #d2577e;
    border-bottom: 2px solid #d2577e;
    margin-bottom: 10px;
}
.cmk .cateOthr .tbCmg li{
    width: 100%;
}
.cmk .tbCmg ul{
    display: block;
}
/* begin chuyen muc cap 1 12/10/2018 */

/* begin change 20/10/2018 DangTQ */
.brkLive{
    font-size: 14px;
    background-color: #fc0d1b;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 60px;
    height: 25px;
    display: inline-block;
    text-align: right;
    border-radius: 4px;
    line-height: 25px;
    padding-right: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.brkLive:before{
    content: '';
    background-color: #fff;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 9px;
    left: 8px;
    border-radius: 50%;
}
.lh0{
    line-height: 0 !important;
}
/* end change 20/10/2018 DangTQ */
/* begin bangnd 25/10/2018 */
.imgNwsMdm {
    width: 139px;
    height: 104px;
    overflow: hidden;
}
/* 9/1/2020: dangtq */
.mainSec .bxMncm {
    border-top: #e1e1e1 solid 1px;
    margin: -5px -10px 10px;
    border-left: none;
    border-right: none;
}
/* 9/1/2020: dangtq */

.ngd h4 {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #7ab345;
    text-align: center;
    margin: 0;
}
/* fix nhieu nguoi doc */
.ngd .ldItHm .stt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    background: #898989;
    color: #fff;
}
.ngd .ldItHm .stt.no1 {
    background: #ed1c24;
}
.ngd .ldItHm .stt.no2 {
    background: #ef7930;
}
.ngd .ldItHm .stt.no3 {
    background: #f5c031;
}
/* end bangnd 25/10/2018 */

/* begin 27/10/2018 dangtq */
/*.mnCM-close{
    border-bottom: 0!important;
}*/
.tmPst{
    padding-left: 0;
}
/* end 27/10/2018 dangtq */

/* begin 28/10/2018 */
.box_ds_tran_dau_hot_chuyen_muc{
    margin: 20px 0;
}
.box_ds_tran_dau_hot_chuyen_muc .txtTrf{
    display: block;
    font-size: 16px;
    background-image: url(//cdn.24h.com.vn/images/Layer-31981.jpg); /* 29/10/2018 dangtq */
    color: #fff;
    padding: 10px;
    text-align: center;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam{
    font-size: 14px;
    font-weight: normal;
    width: 15%;
    text-align: center;
    padding: 9px 0;
    border-bottom: 1px solid #eee;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(1) div:nth-child(1){
    float: right;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(1) div:nth-child(2){
    text-align: right;
    padding-right: 35px;
    padding-left: 10px;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(3) div:nth-child(2){
    float: left;
    margin-top: -14px;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(3) div:nth-child(1){
    text-align: left;
    padding-left: 35px;
    padding-right: 10px;
}
.box_ds_tran_dau_hot_chuyen_muc .match-tyso-date{
    font-size: 12px;
    color: #21c879;
}
.box_ds_tran_dau_hot_chuyen_muc .match-tyso-time{
    font-size: 12px;
    font-weight: bold;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTb{
    border-collapse: collapse;
    border-spacing: 0;
}
.box_ds_tran_dau_hot_chuyen_muc .ltd-detail a{
    display: inline-block;
    color: #21c879;
    background: url(//cdn.24h.com.vn/images/sprites2018_5-2018.png) 25px -49px;
    padding-right: 25px;
    font-size: 13px;
}
/* end 28/10/2018 */

/* begin 29/10/2018 dangtq */
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam{
    font-size: 13px;
}
.box_ds_tran_dau_hot_chuyen_muc{
    border: 2px solid #17ca75;
    border-top: 0;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(2){
    width: 10%;
}
.box_ds_tran_dau_hot_chuyen_muc .ltd-detail{
    text-align: center;
    margin: 8px 0;
}
.ltdTeam {
    position: relative;
}
.ltdTeam .logo-team-b,
.ltdTeam .logo-team-a {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    margin-top: -13px;
}
.ltdTeam .logo-team-a {
    right:0;
}
.ltdTeam .logo-team-b {
    left: 0
}

.asiad-detail a{
    background: url(//cdn.24h.com.vn/images/sprites2018_5-2018.png) 28px -35px;
}
/* end 29/10/2018 dangtq */
/*start bangnd 30/10/2018 */
.bxDoRt {
    margin-left: 149px;
}

/* begin media */
@media only screen and (max-width: 812px) and (min-width: 569px){
    .asiad-detail a{
        background-position: 48px -35px;
    }
    .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(2){
        width: 3%!important;
    }
    .icoTit:before{
        font-size: 15px;
    }
    .ngd .ldItHm .stt, .ctTp, .tbCmg ul li .Atv{
        font-size: 20px;
    }
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .ngd h4, .tttd>header a{
        font-size: 22px;
    }
    /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    .evtHotCt .nwsTitHm, .seMore, .ctTpD, .vidIt a, .ttdn .clrDft, .ngd .bxRdPsnLt a, .tbCmg ul li a, .nwsTitSlHm{
        font-size: 18px;
    }
    .asiadTit span{
        font-size: 17px;
    }
    /*End 18/11/2019: dangtq thay_background_sea_games_30*/
    .clrGrD, .vuot, span.clrGr, .tmPst a, .nwsItHm>.tmPst>a{
        font-size: 16px;
    }
    .tmPst a{
        background-position: -50px -1770px;
    }
    /*begin 11/01/2019 dangtq fix_loi_font_size*/
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a, .nwsTitHm .fs18{
        font-size: 22px!important;
    }
    /*end 11/01/2019 dangtq fix_loi_font_size*/
    /*.mnCM-expand{
        background-position: 8px -1480px;
    }*/
    .lady a.title.tt{
        background-position: -50px -4138px;
    }
    .tmPst.pt8{
        font-size: 16px;
    }
    .evtBxSp .clrTit{
        font-size: 17px;
    }
    .brkLive{
        font-size: 18px;
        padding-right: 4px;
    }
}
@media screen and (min-width: 736px) and (max-width: 812px) {
    .asiad-detail a{
        background-position: 58px -35px;
    }
    .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(2){
        width: 3%!important;
    }
    .icoTit:before{
        font-size: 17px;
        bottom: 0;
    }
    .mainSec .icoTit:before {
        bottom: -4px;
    }
    .ngd .ldItHm .stt, .tbCmg ul li .Atv{
        font-size: 22px;
    }
    .clrGrD, .tmPst.pt8, .vuot, span.clrGr, .tmPst a, .nwsItHm>.tmPst>a{
        font-size: 18px;
    }
    /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    .seMore, .evtHotCt .nwsTitHm, .vidIt a, .vidItRt a, .ttdn .clrDft, .ngd .bxRdPsnLt a, .tbCmg ul li a, .ctTp, .nwsTitSlHm{
        font-size: 20px;
    }
    .asiadTit span{
        font-size: 19px;
    }
    /*End 18/11/2019: dangtq thay_background_sea_games_30*/
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .ngd h5, .tttd>header a, .ngd h4{
        font-size: 24px;
    }
    .evtBxSp .clrTit{
        font-size: 19px;
    }
    /*begin 11/01/2019 dangtq fix_loi_font_size*/
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a, .nwsTitHm .fs18{
        font-size: 24px!important;
    }
    /*end 11/01/2019 dangtq fix_loi_font_size*/
    .brkLive{
        font-size: 20px;
        padding-right: 5px;
        width: 65px;
    }
    .vf .nwsTitSlHm{
        background-position: -50px -145px;
    }
}
@media screen and (min-width: 812px) {
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 24px;
    }
    .tmPst.pt8, .nwsItHm>.tmPst>a, .vuot, .evtBxSp .clrTit{
        font-size: 20px;
    }
    .vidIt a, header.tbTcb.txtCent.clrWh.bld.fs18{
        font-size: 24px!important;
    }
}
@media screen and (min-width: 481px) and (max-width: 568px) {
    .asiad-detail a{
        background-position: 38px -35px;
    }
    .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(2){
        width: 3%!important;
    }
    .icoTit:before{
        font-size: 13px;
    }
    .ngd .ldItHm .stt, .tbCmg ul li .Atv{
        font-size: 18px;
    }
    .clrGrD, .seMore, .evtHotCt .nwsTitHm, .ttdn .clrDft, .ngd .bxRdPsnLt a, .tbCmg ul li a, .ctTp, .nwsTitSlHm{
        font-size: 16px;
    }
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .ngd h4, .tttd>header a{
        font-size: 20px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 15px;
    }
    /*begin 11/01/2019 dangtq fix_loi_font_size*/
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a, .nwsTitHm .fs18{
        font-size: 20px!important;
    }
    /*end 11/01/2019 dangtq fix_loi_font_size*/
    .vuot, span.clrGr, .tmPst a, .nwsItHm>.tmPst>a{
        font-size: 14px;
    }
    .brkLive{
        font-size: 16px;
        padding-right: 6px;
    }
}
/* chieu_doc */
@media screen and (min-width: 360px) and (max-width: 413px) {
    /*.mainSec>header{
        padding-bottom: 10px;
    }*/
    .asiad-detail a{
        background-position: 38px -35px;
    }
    .clrGrD, .tmPst a, .evtHotTit .txtTrf, .extTit a, .tpcHt .tpcLitIt li a, .tmPst.pt8, .vuot, #footer p, span.clrGr, .nwsItHm>.tmPst>a{
        font-size: 14px;
    }
    .nwsTitSlHm, .tbCmg ul li a, .ngd .bxRdPsnLt a, .ttdn .clrDft, .more1, .asiad-detail a, .ftMn2 a, .cateOthr li a, .ctTp.ctTpD, .seMore, .evtHotCt .nwsTitHm, .tbCmg ul li, .seMr a, .tbCmg ul li .mnAtv, .vidIt a, .vidItRt a, .lady .nwsTitSlHm{
        font-size: 16px;
    }
    .nwsTitHm, .ldIt a, .ldIt2 a, .tcbIt li a, .ngd .ldItHm .stt, .ctTp, .tbCmg ul li .Atv{
        font-size: 18px;
    }
    .tttd>header a, .ngd h4, .titTp a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .lady a.title.tt{
        font-size: 20px;
    }
    .menutp ul li{
        padding: 10px 2px;
    }
    .menutp ul li a, .txtMn, .evtHotTit .hotTb, .icoTit:before{
        font-size: 13px;
    }
    .tbCmCent a{
        font-size: 19px;
    }
    /*begin 11/01/2019 dangtq fix_loi_font_size*/
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a, .nwsTitHm .fs18{
        font-size: 20px!important;
    }
    /*end 11/01/2019 dangtq fix_loi_font_size*/
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 15px;
    }
    .titNws a.clrTit.bld{
        font-size: 24px;
    }
    .brkLive{
        font-size: 16px;
        padding-right: 6px;
    }
    .ttdn>header a{
        background-position: -40px -3787px;
    }
}
@media screen and (min-width: 414px) and (max-width: 487px) {
    /*.mainSec>header{
        padding-bottom: 10px;
    }*/
    .asiad-detail a{
        background-position: 48px -35px;
    }
    .clrGrD, .tmPst a, .evtHotTit .txtTrf, .extTit a, .tpcHt .tpcLitIt li a, .tmPst.pt8, .vuot, #footer p, span.clrGr, .nwsItHm>.tmPst>a{
        font-size: 16px;
    }
    /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    .nwsTitSlHm, .tbCmg ul li a, .ngd .bxRdPsnLt a, .ttdn .clrDft, .more1, .asiad-detail a, .asiadTb tbody tr td, .asiadTb thead th, .ftMn2 a, .cateOthr li a, .ctTp.ctTpD, .seMore, .evtHotCt .nwsTitHm, .tbCmg ul li, .seMr a, .tbCmg ul li .mnAtv, .vidIt a, .vidItRt a, .lady .nwsTitSlHm{
        font-size: 18px;
    }
    .asiadTit span{
        font-size: 17px;
    }
    /*End 18/11/2019: dangtq thay_background_sea_games_30*/
    .nwsTitHm, .vidIt.first a, .ldIt a, .ldIt2 a, .tcbIt li a, .ngd .ldItHm .stt, .ctTp, .tbCmg ul li a.Atv{
        font-size: 20px;
    }
    .tttd>header a, .ngd h4, .titTp a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .lady a.title.tt{
        font-size: 22px;
    }
    .menutp ul li{
        padding: 10px 2px;
    }
    .menutp ul li a, .txtMn, .evtHotTit .hotTb, .icoTit:before{
        font-size: 15px;
    }
    .tbCmCent a{
        font-size: 21px;
    }
    /*begin 11/01/2019 dangtq fix_loi_font_size*/
    header.tbTcb.txtCent.clrWh.bld.fs18, .vidIt.first a, .nwsTitHm .fs18{
        font-size: 22px!important;
    }
    /*end 11/01/2019 dangtq fix_loi_font_size*/
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 17px;
    }
    .titNws a.clrTit.bld{
        font-size: 26px;
    }
    .tmPst a{
        background-position: -50px -1771px;
    }
    .brkLive{
        font-size: 18px;
        padding-right: 4px;
    }
    .ttdn>header a{
        background-position: -40px -3786px;
    }
}
@media screen and (max-width: 320px) {
    .tbCmg ul li .Atv{
        font-size: 16px;
    }
    .menutp ul{
        padding-left: 13px;
    }
    .menutp ul li{
        padding: 10px 4px;
    }
    /*.box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(3) div:nth-child(1){
        margin-bottom: -13px;
    }*/
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    .menutp ul{
        padding-left: 8px;
    }
    .menutp ul li{
        padding: 10px 1px;
    }
}
/* end media */

/*bangnd 2/11 */

.brmEvent h1 {
    font-weight: 500 !important;
}

/*begin 25/01/2019 dangtq*/
.vf .vuot{
    padding-bottom: 0;
  }
  .tttd{
    margin-top: 10px!important;
  }
/*end 25/01/2019 dangtq*/

    /*Begin 11-03-2019 trungcq XLCYCMHENG_34264_nang_cap_giao_dien_trang_thoi_tiet*/
    .mainSec .mnWrap{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .tbCmg ul li{
        padding-right: 5px;
        margin-right: 5px;
    }
    .dbttHere h2, .dbttHere h3, .dbttHere h4, .tabDetail h2, .tabDetail h3, .tabDetail h4{
        margin: 0;
        padding: 0;
        font-weight: normal;
        display: inline;
    }
    .dbttKv{
        text-align: center;
        padding: 6px 0 10px 0;
    }
    .dbttKv span{
        font-size: 13px;
        color: #a73737;
    }
    .dbttKv select{
        width: 132px;
        height: 28px;
        outline: none;
        background-color: #fff;
    }
    .dbttHere{
        background-color: #f4fbff;
        padding: 20px 0;
        border-top: 3px solid #45befc;
        overflow: hidden;
        margin-bottom: 10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .dbttHere .fl{
        width: 46%;
        text-align: center;
    }
    .dbttHere .fr{
        width: 54%;
    }
    .dbttHere .addName{
        font-size: 18px;
        color: #a73737;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .dbttHere img{
        width: 60px;
        height: 60px;
    }
    .dbttHere .item{
        color: #6f6f6f;
        font-size: 14px;
    }
    .ndBig{
        font-size: 40px;
        font-weight: 700;
        color: #3d7fbc;
    }
    .tabDetail{
        border-spacing: 0;
        margin-left: -10px;
        margin-right: -10px;
    }
    .tabDetailHead{
        background-color: #3d7fbc;
        color: #fff;
    }
    .tabDetailHead div{
        height: 40px;
        font-weight: 600;
        font-size: 14px;
        line-height: 40px;
    }
    .tabDetail .col1{
        width: 27%;
        padding-left: 10px;
    }
    .tabDetail .col2{
        width: 43%;
    }
    .tabDetail .col3{
        width: 30%;
    }
    .tabDetailBody .item{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        position: relative;
    }
    .statusUpdating{
        position: absolute;
        top: 50%;
        margin-top: -7px;
    }
    .dbttHere .statusUpdating{
        position: static;
        padding-top: 22px;
        font-size: 14px;
    }
    .tabDetailBody .col1, .tabDetailBody .col3{
        line-height: 45px;
    }
    .tabDetailBody .nameKV{
        font-size: 14px;
    }
    .tabDetailBody .nameKV a{
        color: #000000;
    }
    .tabDetailBody img{
        width: 35px;
        vertical-align: top;
    }
    .ndSmall{
        font-size: 24px;
        font-weight: 700;
        color: #3d7fbc;
        padding-left: 5px;
    }
    .tabDetail .more1{
        margin-left: 10px;
        margin-right: 10px;
    }
    .hTuong{
        font-size: 12px;
        color: #6f6f6f;
        margin-top: 5px;
    }
    .dbttMore{
        text-align: center;
        background-color: #ebebeb;
        height: 38px;
        line-height: 38px;
        margin: 10px;
    }
    .dbttMore span{
        background: url('//image.24h.com.vn/images/2014/ttcb/Polygon-1-copy-9.png') no-repeat center left;
        padding-left: 15px;
    }
    .dbttNote{
        margin: 15px 0px 35px 0px;
    }
    .dbttNote *{
        font-size: 12px;
        color: #999999;
        margin-bottom: 5px;
    }
    .dbttNote strong{
        color: #000;
    }
    .dbttTit{
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: #3d7fbc;
        border-bottom: 2px solid #3d7fbc;
        width: 140px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .w100{
        width: 100%;
    }
    .tabDetailBody .col1{
        padding-top: 15px;
        line-height: 20px;
    }
    .tttd>header a{
        font-weight: 600;
    }

    @media screen and (max-width: 320px){
        .dbttKv span, .dbttKv select{
            font-size: 11px;
        }
        .dbttHere .addName{
            font-size: 16px;
        }
        .dbttHere .item, .tabDetailHead div, .tabDetailBody .nameKV, .tabDetailBody .item, .dbttHere .statusUpdating{
            font-size: 12px;
        }
        .ndBig{
            font-size: 38px;
        }
        .ndSmall{
            font-size: 22px;
        }
        .hTuong, .dbttNote *{
            font-size: 11px;
        }
        .dbttMore span{
            font-size: 14px;
        }
        .dbttTit{
            font-size: 18px;
        }
        .dbttHere .fl{
            width: 43%;
            text-align: center;
        }
        .dbttHere .fr{
            width: 57%;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 414px){
        .dbttKv span, .dbttKv select{
            font-size: 15px;
        }
        .dbttHere .addName{
            font-size: 20px;
        }
        .dbttHere .item, .tabDetailHead div, .tabDetailBody .nameKV, .tabDetailBody .item, .dbttHere .statusUpdating{
            font-size: 16px;
        }
        .ndBig{
            font-size: 42px;
        }
        .ndSmall{
            font-size: 26px;
        }
        .hTuong, .dbttNote *{
            font-size: 14px;
        }
        .dbttMore span{
            font-size: 18px;
        }
        .dbttTit{
            font-size: 22px;
        }
        .dbttHere .fl{
            width: 49%;
            text-align: center;
        }
        .dbttHere .fr{
            width: 51%;
        }
        .tabDetailBody .col1{
            padding-top: 16px;
            line-height: 20px;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 568px){
        .dbttHere .fl{
            width: 48%;
            text-align: center;
        }
        .dbttHere .fr{
            width: 52%;
        }
        .tabDetail .more1{
            font-size: 16px;
        }
    }
    @media screen and (min-width: 569px) and (max-width: 667px){
        .dbttKv span, .dbttKv select{
            font-size: 15px;
        }
        .dbttHere .addName{
            font-size: 20px;
        }
        .dbttHere .item, .tabDetailHead div, .tabDetailBody .nameKV, .tabDetailBody .item, .dbttHere .statusUpdating{
            font-size: 16px;
        }
        .ndBig{
            font-size: 42px;
        }
        .ndSmall{
            font-size: 26px;
        }
        .hTuong, .dbttNote *{
            font-size: 14px;
        }
        .dbttMore span, .tabDetail .more1{
            font-size: 18px;
        }
        .dbttTit{
            font-size: 22px;
        }
        .dbttHere .fl{
            width: 49%;
            text-align: center;
        }
        .dbttHere .fr{
            width: 51%;
        }
    }
    @media screen and (min-width: 668px) and (max-width: 736px){
        .dbttKv span, .dbttKv select{
            font-size: 17px;
        }
        .dbttHere .addName{
            font-size: 22px;
        }
        .dbttHere .item, .tabDetailHead div, .tabDetailBody .nameKV, .tabDetailBody .item, .dbttHere .statusUpdating{
            font-size: 18px;
        }
        .ndBig{
            font-size: 44px;
        }
        .ndSmall{
            font-size: 28px;
        }
        .hTuong, .dbttNote *{
            font-size: 16px;
        }
        .dbttMore span, .tabDetail .more1{
            font-size: 20px;
        }
        .dbttTit{
            font-size: 24px;
        }
        .tabDetailBody .col1{
            padding-top: 19px;
        }
        .dbttHere .fl{
            width: 50%;
            text-align: center;
        }
        .dbttHere .fr{
            width: 50%;
        }
    }
    @media screen and (min-width: 812px){
        .dbttKv span, .dbttKv select{
            font-size: 15px;
        }
        .dbttHere .addName{
            font-size: 20px;
        }
        .dbttHere .item, .tabDetailHead div, .tabDetailBody .nameKV, .tabDetailBody .item, .dbttHere .statusUpdating{
            font-size: 16px;
        }
        .ndBig{
            font-size: 42px;
        }
        .ndSmall{
            font-size: 26px;
        }
        .hTuong, .dbttNote *{
            font-size: 14px;
        }
        .dbttMore span, .tabDetail .more1{
            font-size: 18px;
        }
        .dbttTit{
            font-size: 22px;
        }
        .dbttHere .fl{
            width: 49%;
            text-align: center;
        }
        .dbttHere .fr{
            width: 51%;
        }
    }
    /*End 11-03-2019 trungcq XLCYCMHENG_34264_nang_cap_giao_dien_trang_thoi_tiet*/

/*begin nang_cap_giao_dien_trang_ty_gia dangtq*/
.tbCmg ul li .Atv{
    font-weight: 600;
}
.giaVang *{
    font-size: 12px;
}
.giaVang h1, .giaVang h2, .giaVang h3, .giaVang h4, .giaVang h5{
    font-weight: normal;
    margin: 0;
}
.gvH4{
    margin: 0;
}
.gvTit{
    font-size: 20px;
    font-weight: 600;
    color: #1c7964;
}
.inputDate{
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -47px -3333px;
    border: 1px solid #eee;
    padding-left: 20px;
    color: #787878;
    outline: none;
}
.center{
    text-align: center;
}
.giaVang table{
    width: 100%;
    border-spacing: 0;
}
.tabCont{
    margin-left: -10px;
    margin-right: -10px;
}
.tabHead{
    background-color: #c4efe5;
}
.tabHead td{
    height: 40px;
}
.tabHead strong, .tabBody *{
    font-size: 13px;
}
.tabHead i{
    font-size: 11px;
}
.colorGrey{
    color: #787878;
}
.pdL10{
    padding-left: 10px;
}
.tabBody td{
    height: 30px;
    border-bottom: 1px solid #eee;
}
.fixW{
    width: 60px;
    display: inline-block;
}
.fixTd{
    width: 29%;
}
.tabBody img{
    margin-right: 2px;
}
.gvMore{
    text-align: center;
    background-color: #ebebeb;
    height: 38px;
    line-height: 38px;
    margin: 10px;
}
.gvMore span, .giaVangReal .gvMore span{
    padding-left: 15px;
    font-size: 14px;
    background: url(//image.24h.com.vn/images/2014/ttcb/Polygon-1-copy-9.png) no-repeat center left;
}
.gvMore a{
    color: #333;
}
.gvNote{
    margin: 15px 0 20px 0;
}
.gvNote *{
    color: #999999;
}
.gvNote .mgbt15{
    margin-bottom: 10px;
}
.gvNote strong, .gvNote strong *{
    color: #000;
}
.gvNote .icoUp{
    vertical-align: -1px;
}
.gvChart{
    padding-top: 10px;
    border-top: 2px solid #1c7964;
}
.choiseMV select{
    height: 34px;
    border: 2px solid #dddddd;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
}
.center{
    text-align: center;
}
.colorDefault{
    color: #333;
}
.choiseMB a:first-child img{
    vertical-align: -2px;
}
.mgR5{
    margin-right: 5px;
}
.gvTitArt{
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;
}
.gvTitLine{
    width: 139px;
    border-bottom: 2px solid #1c7964;
    margin-bottom: 10px;
}
.gvTitLineReal{
    border-color: #ca931f;
}
.tabHead .pdL10{
    width: 72px;
}

@media screen and (max-width: 320px){
    .giaVang *{
        font-size: 11px;
    }
    .gvTit{
        font-size: 18px;
    }
    .inputDate{
        background-position: -47px -3332px;
        height: 22px;
    }
    .icoPrevDate, .icoNextDate{
        width: 22px;
        height: 22px;
    }
    .tabHead i{
        font-size: 9px;
    }
    .tabHead strong, .tabBody *{
        font-size: 11px;
    }
    .fixW{
        width: 52px;
    }
    .giaVangReal .gvMore span, .gvMore span, .choiseMV select{
        font-size: 12px;
    }
    .tabHead .pdL10{
        width: 60px;
    }
}
@media screen and (min-width: 376px) and (max-width: 414px){
    .giaVang *{
        font-size: 14px;
    }
    .gvTit{
        font-size: 22px;
    }
    .inputDate{
        background-position: -47px -3332px;
    }
    .icoPrevDate, .icoNextDate{
        width: 23px;
        height: 23px;
    }
    .tabHead i{
        font-size: 13px;
    }
    .tabHead strong, .tabBody *{
        font-size: 15px;
    }
    .fixW{
        width: 67px;
    }
    .giaVangReal .gvMore span, .gvMore span, .choiseMV select{
        font-size: 16px;
    }
    .tabHead .pdL10{
        width: 83px;
    }
}
@media screen and (min-width: 480px) and (max-width: 568px){
    .tabHead .pdL10{
        width: auto;
    }
}
@media screen and (min-width: 569px) and (max-width: 667px){
    .giaVang *{
        font-size: 14px;
    }
    .gvTit{
        font-size: 22px;
    }
    .inputDate{
        background-position: -47px -3332px;
    }
    .icoPrevDate, .icoNextDate{
        width: 23px;
        height: 23px;
    }
    .tabHead i{
        font-size: 13px;
    }
    .tabHead strong, .tabBody *{
        font-size: 15px;
    }
    .fixW{
        width: 67px;
    }
    .giaVangReal .gvMore span, .gvMore span, .choiseMV select{
        font-size: 16px;
    }
    .tabHead .pdL10{
        width: auto;
    }
}
@media screen and (min-width: 668px) and (max-width: 736px){
    .giaVang *{
        font-size: 16px;
    }
    .gvTit{
        font-size: 24px;
    }
    .inputDate{
        background-position: -47px -3332px;
    }
    .icoPrevDate, .icoNextDate{
        width: 26px;
        height: 26px;
    }
    .tabHead i{
        font-size: 15px;
    }
    .tabHead strong, .tabBody *{
        font-size: 17px;
    }
    .fixW{
        width: 76px;
    }
    .giaVangReal .gvMore span, .gvMore span, .choiseMV select{
        font-size: 18px;
    }
    .tabHead .pdL10{
        width: auto;
    }
}
@media screen and (min-width: 812px){
    .giaVang *{
        font-size: 14px;
    }
    .gvTit{
        font-size: 22px;
    }
    .inputDate{
        background-position: -47px -3332px;
    }
    .icoPrevDate, .icoNextDate{
        width: 23px;
        height: 23px;
    }
    .tabHead i{
        font-size: 13px;
    }
    .tabHead strong, .tabBody *{
        font-size: 15px;
    }
    .fixW{
        width: 67px;
    }
    .giaVangReal .gvMore span, .gvMore span, .choiseMV select{
        font-size: 16px;
    }
    .tabHead .pdL10{
        width: auto;
    }
}
/*end nang_cap_giao_dien_trang_ty_gia dangtq*/

/*begin nang_cap_giao_dien_trang_gia_vang dangtq*/
.colorGreen{
    color: #008000;
}
.colorRed{
    color: #ff0000;
}
.giaVang.giaVangReal *{
    font-size: 12px;
}
.giaVangReal .gvTit{
    font-size: 20px;
    font-weight: 600;
    color: #ca931f;
}
.center{
    text-align: center;
}
.giaVangReal .tabCont{
    margin-left: -10px;
    margin-right: -10px;
}
.giaVangReal .tabHead{
    background-color: #fcf5db;
}
.giaVangReal .tabHead td{
    height: 30px;
}
.giaVangReal .tabHead strong, .giaVangReal .tabBody *{
    font-size: 13px;
}
.giaVangReal .tabHead i{
    font-size: 11px;
}
.giaVangReal .colorGrey{
    color: #787878;
}
.giaVangReal .pdL10{
    padding-left: 10px;
    width: 130px;
}
.giaVangReal .tabBody td{
    height: 40px;
    border-bottom: 1px solid #eee;
}
.giaVangReal .fixW{
    width: 65px;
    display: inline-block;
}
.giaVangReal .tabBody img{
    margin-right: 2px;
}
.giaVangReal .gvChart{
    padding-top: 10px;
    border-top: 2px solid #ca931f;
}
.giaVangReal .colorDefault{
    color: #333;
}
.giaVangReal .mgR5{
    margin-right: 5px;
}
.giaVangReal .gvTitArt{
    display: inline-block;
    border-bottom: 2px solid #ca931f;
    width: 140px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.giaVangReal .tabHead .pdL10{
    width: auto;
}
.gvTitArtReal{
    color: #ca931f;
}

@media screen and (max-width: 320px){
    .giaVang.giaVangReal *{
        font-size: 11px;
    }
    .giaVangReal .gvTit{
        font-size: 18px;
    }
    .giaVangReal .tabHead i{
        font-size: 9px;
    }
    .giaVangReal .tabHead strong, .giaVangReal .tabBody *{
        font-size: 11px;
    }
    .giaVangReal .fixW{
        width: 55px;
    }
    .giaVangReal .pdL10{
        width: 105px;
    }
    .giaVangReal .tabBody td{
        height: 30px;
    }
}
@media screen and (min-width: 321px) and (max-width: 360px){
    .giaVangReal .pdL10{
        width: 130px;
    }
}
@media screen and (min-width: 376px) and (max-width: 414px){
    .giaVang.giaVangReal *{
        font-size: 14px;
    }
    .giaVangReal .gvTit{
        font-size: 22px;
    }
    .giaVangReal .tabHead i{
        font-size: 13px;
    }
    .giaVangReal .tabHead strong, .giaVangReal .tabBody *{
        font-size: 15px;
    }
    .giaVangReal .fixW{
        width: 77px;
    }
    .giaVangReal .pdL10{
        height: 43px;
    }
}
@media screen and (min-width: 480px) and (max-width: 568px){
    .giaVangReal .pdL10{
        width: auto;
    }
}
@media screen and (min-width: 569px) and (max-width: 667px){
    .giaVang.giaVangReal *{
        font-size: 14px;
    }
    .giaVangReal .gvTit{
        font-size: 22px;
    }
    .giaVangReal .tabHead i{
        font-size: 13px;
    }
    .giaVangReal .tabHead strong, .giaVangReal .tabBody *{
        font-size: 15px;
    }
    .giaVangReal .fixW{
        width: 77px;
    }
    .giaVangReal .pdL10{
        width: auto;
    }
}
@media screen and (min-width: 668px) and (max-width: 736px){
    .giaVang.giaVangReal *{
        font-size: 16px;
    }
    .giaVangReal .gvTit{
        font-size: 24px;
    }
    .giaVangReal .tabHead i{
        font-size: 15px;
    }
    .giaVangReal .tabHead strong, .giaVangReal .tabBody *{
        font-size: 17px;
    }
    .giaVangReal .fixW{
        width: 86px;
    }
    .giaVangReal .pdL10{
        width: auto;
    }
    .giaVangReal .gvTitArt{
        width: 180px;
    }
}
@media screen and (min-width: 812px){
    .giaVang.giaVangReal *{
        font-size: 14px;
    }
    .giaVangReal .gvTit{
        font-size: 22px;
    }
    .giaVangReal .tabHead i{
        font-size: 13px;
    }
    .giaVangReal .tabHead strong, .giaVangReal .tabBody *{
        font-size: 15px;
    }
    .giaVangReal .fixW{
        width: 77px;
    }
    .giaVangReal .pdL10{
        width: auto;
    }
    .giaVangReal .gvTitArt{
        width: 160px;
    }
}
/*end nang_cap_giao_dien_trang_gia_vang dangtq*/

/*begin box_thong_tin_can_biet_giavang_tygia_thoitiet 21/03/2019 dangtq*/
.boxTtcbTt{
    margin: 15px 0 15px 0;
}
.boxTtcbKd{
    margin: 10px 0 15px 0;
}
/*end box_thong_tin_can_biet_giavang_tygia_thoitiet 21/03/2019 dangtq*/

/*Begin template trang sự kiện đặc biệt - dangtq 11/4/2019*/
.eventSpecial .pagination{
    margin-top: -3px;
}
.eventSpecial h4{
    margin: 0;
}
.eventSpecialFirstTitle{
	font-size: 18px;
	color: #646464;
	margin-bottom: 12px;
}
.eventSpecialFirstTit{
	border-bottom: 3px solid #237a57;
	margin-top: 10px;
	margin-bottom: 8px;
}
.eventSpecialFirstTit h2{
	display: inline-block;
	background-color: #237a57;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
}
.eventSpecial .list .imgNwsMdm{
	width: 100px;
	height: 75px;
}
.eventSpecial .list .bxDoRt{
	margin-left: 0;
}
.eventSpecial .list .bxDoRt h2{
	font-size: 14px;
	line-height: 1.4;
}
.eventSpecial .pgCate .pgIt{
	margin: 0 3px;
	display: inline-block;
}
.eventSpecial .pgLnk{
	position: relative;
	display: block;
	padding: 0;
	margin-left: -1px;
	color: #757575;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 28px;
	height: 28px;
	box-sizing: border-box;
	text-align: center;
	line-height: 27px;
	font-size: 14px;
}
.eventSpecial .pgCate .atv a{
	background-color: #78b43d;
    color: #fff;
    border: 1px solid #78b43d;
}
.eventSpecial .pg{
	/*display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;*/
    text-align: center;
}
.eventSpecial article{
	overflow: hidden;
	display: block;
}

/*section 2*/
.eventSpecialTwoTit a{
	display: inline-block;
    font-size: 14px;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    border-left: 7px solid #ff0000;
    margin-bottom: 15px;
}
.eventSpecialTwoTit:before{
	content: '';
    height: 3px;
    position: absolute;
    right: 0;
    width: 80px;
    top: 50%;
    margin-top: -9px;
    background-color: #ff0000;
}

/*section 3*/
.eventSpecialThreeTit{
	border-bottom: 1px solid #dddddd;
    margin-bottom: 18px;
}
.eventSpecialThreeTit a{
	display: inline-block;
    font-size: 14px;
    color: #005ec6;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 25px;
    padding-bottom: 5px;
    border-bottom: 5px solid #005ec6;
    margin-bottom: -3px;
}

/*section 4*/
.eventSpecialFourTit a{
	display: block;
    font-size: 14px;
    color: #237a57;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 8px;
    margin-bottom: 18px;
    border-bottom: 3px solid #237a57;
}
/*End template trang sự kiện đặc biệt - dangtq 11/4/2019*/

/*Begin tổng hợp các độ phân giải màn hình - dangtq 2019*/
@media screen and (min-width: 321px) and (max-width: 375px){
	.eventSpecialFirstTitle{
		font-size: 20px;
	}
	.eventSpecialFirstTit h2, .eventSpecialTwoTit a, .eventSpecialThreeTit a, .eventSpecialFourTit a, .eventSpecial .ctTp, .eventSpecial .bxDoRt .nwsTitHm a, .eventSpecial .pgLnk{
		font-size: 16px;
	}
	.eventSpecialTwoTit:before{
		width: 100px;
	}
}
@media screen and (min-width: 376px) and (max-width: 414px){
	.eventSpecialFirstTitle{
		font-size: 22px;
	}
	.eventSpecialFirstTit h2, .eventSpecialTwoTit a, .eventSpecialThreeTit a, .eventSpecialFourTit a, .eventSpecial .ctTp, .eventSpecial .bxDoRt .nwsTitHm a, .eventSpecial .pgLnk{
		font-size: 18px;
	}
	.eventSpecialTwoTit:before{
		width: 120px;
	}
}
@media screen and (min-width: 480px) and (max-width: 568px){
	.eventSpecialFirstTitle{
		font-size: 20px;
	}
	.eventSpecialFirstTit h2, .eventSpecialTwoTit a, .eventSpecialThreeTit a, .eventSpecialFourTit a, .eventSpecial .ctTp, .eventSpecial .bxDoRt .nwsTitHm a, .eventSpecial .pgLnk{
		font-size: 16px;
	}
	.eventSpecialTwoTit:before{
		width: 300px;
	}
}
@media screen and (min-width: 569px) and (max-width: 667px){
	.eventSpecialFirstTitle{
		font-size: 22px;
	}
	.eventSpecialFirstTit h2, .eventSpecialTwoTit a, .eventSpecialThreeTit a, .eventSpecialFourTit a, .eventSpecial .ctTp, .eventSpecial .bxDoRt .nwsTitHm a, .eventSpecial .pgLnk{
		font-size: 18px;
	}
	.eventSpecialTwoTit:before{
		width: 370px;
	}
}
@media screen and (min-width: 569px) and (max-width: 640px){
	.eventSpecialTwoTit:before{
		width: 320px;
	}
}
@media screen and (min-width: 668px) and (max-width: 736px){
	.eventSpecialFirstTitle{
		font-size: 24px;
	}
	.eventSpecialFirstTit h2, .eventSpecialTwoTit a, .eventSpecialThreeTit a, .eventSpecialFourTit a, .eventSpecial .ctTp, .eventSpecial .bxDoRt .nwsTitHm a, .eventSpecial .pgLnk{
		font-size: 20px;
	}
	.eventSpecialTwoTit:before{
		width: 410px;
	}
}
@media screen and (min-width: 812px){
	.eventSpecialFirstTitle{
		font-size: 22px;
	}
	.eventSpecialFirstTit h2, .eventSpecialTwoTit a, .eventSpecialThreeTit a, .eventSpecialFourTit a, .eventSpecial .ctTp, .eventSpecial .bxDoRt .nwsTitHm a, .eventSpecial .pgLnk{
		font-size: 18px;
	}
	.eventSpecialTwoTit:before{
		width: 510px;
	}
	.eventSpecial .tmPst.pt8{
		font-size: 16px;
	}
	.eventSpecial .nwsTitHm .fs18{
		font-size: 22px!important;
	}
}
/*End tổng hợp các độ phân giải màn hình - dangtq 2019*/
/*Begin 6/1/2020 AnhTT toi_uu_giao_dien_menu_ngang_mobile*/
.boxCateHead .mnWrap {
  padding: 0 10px 3px;
  border-top: 0;
  border-bottom: 2px solid #7ab445;
  margin: 15px 0 0;
  position: relative; }
  .boxCateHead .mnWrap a {
    color: #7ab445; }
    .boxCateHead .mnWrap a.AtvCap2 {
      color: #acc59b; }
.boxCateHead .mnCM-expand, .boxCateHead .mnCM-close {
  top: 11%;
  margin-top: 0; }
  @media screen and (max-width: 320px) {
    .boxCateHead .mnCM-expand, .boxCateHead .mnCM-close {
      top: 7%; } }
  @media screen and (min-width: 414px) {
    .boxCateHead .mnCM-expand, .boxCateHead .mnCM-close {
      top: 13%; } }
  @media screen and (min-width: 480px) {
    .boxCateHead .mnCM-expand, .boxCateHead .mnCM-close {
      top: 11%; } }
  @media screen and (min-width: 640px) {
    .boxCateHead .mnCM-expand, .boxCateHead .mnCM-close {
      top: 13%; } }
  @media screen and (min-width: 736px) {
    .boxCateHead .mnCM-expand, .boxCateHead .mnCM-close {
      top: 10%; } }
.boxCateHead .icoBars {
  background: url(http://t.24h.com.vn/upload/dangtq/24h.com.vn/mobile/images/memu-icon.png) no-repeat;
  width: 20px;
  height: 21px;
  top: 10px;
  right: 10px; }
.boxCateHead .listMenuChild {
  background-color: #f7f7f7;
  padding: 8px 10px;
  display: block; }
  .boxCateHead .listMenuChild li {
    border-right-color: #d7d7d7; }
    .boxCateHead .listMenuChild li a {
      font-size: 14px;
      color: #6b6b6b; }
      @media screen and (max-width: 320px) {
        .boxCateHead .listMenuChild li a {
          font-size: 12px; } }
      @media screen and (min-width: 414px) {
        .boxCateHead .listMenuChild li a {
          font-size: 16px; } }
      @media screen and (min-width: 480px) {
        .boxCateHead .listMenuChild li a {
          font-size: 14px; } }
      @media screen and (min-width: 640px) {
        .boxCateHead .listMenuChild li a {
          font-size: 16px; } }
      @media screen and (min-width: 736px) {
        .boxCateHead .listMenuChild li a {
          font-size: 18px; } }
  .boxCateHead .listMenuChild.cap2 {
    position: relative;
    padding-left: 23px;
    overflow: hidden;
    line-height: 18px; }
    .boxCateHead .listMenuChild.cap2:after {
      content: '';
      display: inline-block;
      height: 16px;
      width: 16px;
      position: absolute;
      top: -11px;
      left: 20px;
      transform: rotate(45deg);
      background-color: #7ab445; }
    .boxCateHead .listMenuChild.cap2 a {
      font-size: 14px;
      color: #78b43d; }
      @media screen and (max-width: 320px) {
        .boxCateHead .listMenuChild.cap2 a {
          font-size: 12px; } }
      @media screen and (min-width: 414px) {
        .boxCateHead .listMenuChild.cap2 a {
          font-size: 16px; } }
      @media screen and (min-width: 480px) {
        .boxCateHead .listMenuChild.cap2 a {
          font-size: 14px; } }
      @media screen and (min-width: 640px) {
        .boxCateHead .listMenuChild.cap2 a {
          font-size: 16px; } }
      @media screen and (min-width: 736px) {
        .boxCateHead .listMenuChild.cap2 a {
          font-size: 18px; } }
.boxCateHead .logoBrand {
  font-size: 14px;
  padding: 0 7px;
  border-radius: 3px;
  position: absolute;
  bottom: 6px;
  right: 40px; }
  .boxCateHead .logoBrand img {
    vertical-align: -6px; }
  @media screen and (max-width: 320px) {
    .boxCateHead .logoBrand {
      font-size: 12px; } }
  @media screen and (min-width: 414px) {
    .boxCateHead .logoBrand {
      font-size: 16px; } }
  @media screen and (min-width: 480px) {
    .boxCateHead .logoBrand {
      font-size: 14px; } }
  @media screen and (min-width: 640px) {
    .boxCateHead .logoBrand {
      font-size: 16px; } }
  @media screen and (min-width: 736px) {
    .boxCateHead .logoBrand {
      font-size: 18px; } }
  .boxCateHead ul{
        position: static;
    }
    .boxCateHead{
        margin-bottom: 5px;
    }
    .boxCateHead .mnCM-close{
        top: 9%;
    }
  /*End 6/1/2020 AnhTT toi_uu_giao_dien_menu_ngang_mobile*/