/*---Start common---*/
@charset "utf-8";
* {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
html {
    color: #333;
}
body {
    margin:0;
}
a {
    text-decoration:none;
}
a:hover {
    color:#78b43d;
}
img { 
    border:0;
}
.clF {
    clear:both;
}
.contnr { 
    margin:0 auto;
    width:1024px;
    background:#ffffff;
}
*html .contnr {
    overflow:hidden;
}
.mrB20 {
    margin-bottom: 20px;
}
.mrT20 {
    margin-top: 20px;
}
.mrT10 {
    margin-top: 10px;
}
.mrT5 {
    margin-top: 5px;
}
.mrB5 {
    margin-bottom: 5px;
}
.mrB10 {
    margin-bottom: 10px;
}
.pdB20 {
    padding-top: 20px;
}
.pdT20 {
    padding-top: 20px;
}
.pdB10 {
    padding-bottom: 10px;
}
.pdT10 {
    padding-top: 10px;
}
.pdT5 {
    padding-top: 5px;
}
.pdB5 {
    padding-bottom: 5px;
}
.padB2 {
    padding-bottom: 10px;
}
.clrBlu {
    color: #0000ff;
}
.clrDf {
    color: #000;
}
.clrWh {
    color: #fff;
}
.clrGr {
    color: #1d8a0d;
}
.clrTit {
    color: #333;
}
.lin {
    border-bottom: 1px solid #ddd;
}
.lind {
    border-bottom: 1px dotted #78b43d;
}
.bld {
    font-weight: 700;
}
.txtCent {
    text-align: center;
}
.txtTrf {
    text-transform: uppercase;
}
.hdr {
    width:100%;
    z-index: 99999;
    position: fixed;
    height:40px;
    background:#78b43d;
    margin: 0 auto;
    margin-bottom: 5px;
}
.log {
    float:left;
    width:90px;
    height:40px;
    overflow:hidden;
    position: relative;
}
.mnTp{ 
    width: 35px;
    float: left;
    border-right: #90c95a solid 1px;
    height: 33px;
    padding: 7px 0 0 10px;
    position: relative;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    display: inline;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.imgNwsHm>.picIco {
    left: 13px;
}
.picIco {
    bottom: 5px;
    left: 5px;
    position: absolute;
    display: block;
}
.picIco {
    width: 20px;
    height: 20px;
    background: url(//static.24h.com.vn/images/2014/icon-album.gif) no-repeat 0px 0;
}
.nwsLstItImg .picIco, .nwsLstItImg .vidIcoLt {
    bottom: 10px;
    left: 15px;
}
.icoPic {
    background: url(//static.24h.com.vn/images/2014/icon-pic.gif) no-repeat 5px 0;
    width: 20px;
    height: 9px;
    display: inline-block;
}
.vdNml {
    background: url(//static.24h.com.vn/images/2014/video_normal.png) 0 6px no-repeat;
    background-size: 11px;
}
.lstNml {
    position: relative;
}
.lstNml:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #378b36;
    display: inline-block;
    top: 8px;
    left: 2px;
}
.viHt {
    background: url(//static.24h.com.vn/images/2014/video_hot.png) 0 6px no-repeat;
    background-size: 11px;
}
.phtNml {
    background: url(//static.24h.com.vn/images/2014/photo_normal.png) 0 4px no-repeat;
    background-size: 11px;
}
.phtHt {
    background: url(//static.24h.com.vn/images/2014/photo_hot.png) 0 5px no-repeat;
    background-size: 11px;
}
.lstRdStr {
    background: url(//static.24h.com.vn/images/2014/red-star.gif) 1px 5px no-repeat!important;
}
.icoquz {
    background: url(//static.24h.com.vn/images/2014/icon-quiz.png) 0 3px no-repeat;
}
.icoNws {
    background: url(//static.24h.com.vn/images/2014/new.gif) no-repeat top left;
    width: 24px;
    height: 12px;
    display: inline-block;
    margin: 0 0 0 5px;
}
.vidIcoLt {
    position: absolute;
    display: block;
    bottom: 5px;
    left: 5px;
    background: url(//static.24h.com.vn/images/m2014/images-small/iconVideo2-small.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.icoVid {
    background: url(//static.24h.com.vn/images/m2014/images-small/iconVideo-small.png) no-repeat 3px 0;
    width: 21px;
    height: 10px;
    margin-left: 2px;
    display: inline-block;
}
.redStar {
    background: url(//static.24h.com.vn/images/2014/red-star.gif) 0px 0px no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    display: inline-block;
}
.grnStar {
    background: url(//static.24h.com.vn/images/2014/green-star.gif) 0px 0px no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    display: inline-block;
}
.icoLiv {
    display: inline-block;
    color: #fff;
    font-size: 7px;
    line-height: 12px;
    position: relative;
    top: -4px;
    text-transform: uppercase;
    font-weight: 700;
    background: #f00;
    padding: 0 3px;
    border-radius: 3px;
    margin-left: 5px;
}
.nwsIco {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.txtCent {
    text-align: center;
}
.txtTrf {
    text-transform: uppercase;
}
.pkLnk {
    color: #d2577e;
}
.vidIco {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: url(//static.24h.com.vn/images_ipad/videoicon.gif) 0 0 no-repeat;
    width: 20px;
    height: 18px;
}
.mWrp img {
    max-width: 660px;
}
/*Start duclv: fix img*/
.news-image {
    margin-top: 5px;
    height: initial !important;
}
/*End duclv: fix img*/
/*---End common---*/

/*---Start header---*/
.hmClk {
    position: absolute;
    top: 0px;
    left: 1px;
}
.nav, .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    z-index: 1000000000000;
}
.nav {
    width: 182px;
    margin-right: 0;
    font-size: 11px;
    margin-bottom: -1px;
}
.mnTp>.nav>.sbLi>a {
    font-size: 12px;
    background: url(//static.24h.com.vn/images/2014/menu-top-xem-danh-muc.gif) no-repeat 0px 0px;
    height: 23px;
    border: 0;
    color: #fff;
}
.nav .sbLi {
    width: 100%;
}
.sbLi {
    margin-top: -50000px;
}
.sbA {
    margin-top: 50000px;
}
.nav a {
    position: relative;
    background: #aad862 url(//static.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
    border-bottom: #78b43d solid 1px;
    float: left;
    color: #000;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
    padding: 6px 0 5px 25px;
}
.hdrRt {
    position: fixed;
    z-index: 999999;
    top: 0;
    background: #78b43d;
}
.hdrRt .contnr {
    position: relative;
}
.tpMnRt {
    position: absolute;
    top: 0;
    right: 0;
    width: 895px;
}
.tpMnRt>ul {
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
    padding: 0;
    overflow: hidden;
}
.tpMnRt ul>li {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    float: left;
    padding: 0 5px 0 0;
    cursor: pointer;
}
.tpMnRt ul li a {
    font-size: 16px;
    border-right: 1px solid #fff;
    line-height: 40px;
    color: #fff;
    vertical-align: middle;
    padding: 0 7px 0 0;
    white-space: nowrap;
    font-weight: 700;
}
.tpMnRt .icoSch {
    float: right;
    position: absolute;
    margin-top: 3px;
    right: 10px;
}
.hsFedBck {
    float: right;
    transition: all .35s,border-radius 0s;
    width: 32px;
    height: 32px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    position: relative;
}
.icoSch .hsFedBck input[placeholder] {
    opacity: 0;
}
.icoSch .hsFedBck:hover input[placeholder] {
    opacity: 1;
}
.hsFedBck .frmctrl {
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    width: 98%;
    height: 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.hsFedBck:hover .frmctrl {
    width: 94%;
    background-color: #fff;
    padding-left: 10px;
}
.hsFedBck a {
    position: absolute;
    right: 6px;
    top: 8px;
}
.tpMnRt .icoSch:hover {
    width: 100%;
}
.icoSch .hsFedBck:hover {
    width: 98%;
    border-radius: 4px 25px 25px 4px;
}
.tpMnRt ul li:last-child a {
    border-right: 0;
}
/*---End header---*/

/*---Start pagination ---*/
.pgCate {
    margin-top: 15px;
}
.pg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pgCate .pg {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.pgCate .pgIt {
    margin: 0 3px;
}
.pgLnk {
    position: relative;
    display: block;
    padding: .5rem .85rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #757575;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.pgBf img {
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
}
.pgAt img {
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -3px;
}
.pgCate .atv a {
    background-color: #78b43d;
    color: #fff;
    border: 1px solid #78b43d;
}
.bdrNn .pgLnk {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*---End pagination ---*/

/*---Start home---*/
.colLt {
    float: left;
    width: 699px;
    margin-left: 8px;
    position: relative;
}
.brkNwsHm {
    width: 679px;
    margin-bottom: 3px;
    background: #eaf8d2;
    border: #a2d645 solid 2px;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
}
.ltBrk {
    width: 350px;
    float: left;
    margin-right: 15px;
    position: relative;
}
.ltBrk a img {
    width: 350px;
    height: 210px;
}
.rtBrk {
    float: left;
    width: 314px;
}
.titBrk {
    display: block;
    padding: 0 0 10px 0;
    margin: 0;
}
.titBrk a {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    line-height: 1.2;
}
.icoSkn span {
    font-size: 12px;
    text-decoration: none;
    color: #666;
    padding-left: 15px;
    background: url(//static.24h.com.vn/images/2014/sprites.png) 0 2px no-repeat;
}
.icoSkn a {
    text-decoration: underline;
    color: #666;
    font-weight: 700;
}
.bxDoL {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #a2d645 solid 2px;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.bxDoT {
    width: 689px;
    padding-left: 8px;
    height: 29px;
    overflow: hidden;
    left: 0;
    top: -22px;
    position: absolute;
}
.grnTbL {
    float: left;
    width: 5px;
    height: 29px;
    background: url(//static.24h.com.vn/images_ipad/sprites.gif) 0 -123px no-repeat;
}
.grnTbR {
    float: left;
    height: 28px;
    padding: 0 10px 0 5px;
    background: url(//static.24h.com.vn/images_ipad/green-tab-right.png) top right no-repeat;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
.gryTbR h3 {
    font-weight: 400;
}
.grnTbR ul li, .gryTbR ul li {
    display: block;
    list-style: none;
}
.grnTbR h1, .grnTbR h2, .grnTbR h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    display: inline;
    line-height: 20px;
}
.grnTbR a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.gryTbL {
    float: left;
    width: 5px;
    height: 21px;
    background: url(//static.24h.com.vn/images_ipad/sprites.gif) 0 -191px no-repeat;
}
.gryTbR {
    float: left;
    height: 21px;
    padding: 0 8px 0 3px;
    background: url(//static.24h.com.vn/images_ipad/grey-tab-right.gif) top right no-repeat;
    font-size: 12px;
    color: #000;
}
.gryTbR a {
    font-size: 16px;
    color: #000;
}
.bxDoR {
    margin: 35px 0 7px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #a2d645 solid 2px;
    position: relative;
    top: 20px;
}
.bxDoC {
    width: 100%;
    display: inline-block;
}
.bxDoC2 {
    float: left;
    width: 333px;
    padding: 3px 0 10px;
}
.bxDoC2 .bxDoItspc {
    width: 100%;
    padding-left: 0;
}
.lnkMrNws {
    /*color: #599621;*/
    font-size: 13px;
    padding: 7px 0 0;
}
.lnkMrNws a, .lnkMrNws u {
    color: #000;
    font-size: 14px;
}
.bxDoItspc {
    float: left;
    width: 265px;
    padding: 10px 0 5px 8px;
}
.bxDoItspcR {
    float: left;
    width: 415px;
    margin: 0 0 0 7px;
}
.nwsTit {
    display: block;
    font-weight: bold;
    color: #333;
    text-align: justify;
    margin: 0;
}
.nwsTit a {
    color: #1d8a0d;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.bxDoL2 .nwsTit a {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.bxDoL2 {
    padding: 7px 10px 0px 10px;
}
.nwsTit a:hover {
    color: #78b43d;
}
.imgNwsHm {
    width: 110px;
    height: 83px;
}
.imgFlt {
    float: left;
    margin-right: 10px;
    display: block;
    position: relative;
}
.bxTrtmC .imgFlt {
    width: 90px;
}
.bxTrtmC .imgFlt a, .bxTrtmC .imgFlt img {
    display: block;
}
.bxDoItspc .nwsTit {
    text-align: left;
}
.nwsSpSpc {
    text-align: justify;
    display: block;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    height: auto;
}
.nwsTxt {
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 22px;
}
.bxDoL2 .bxTrtmC {
    float: left;
    width: 333px;
    padding: 5px 0 0 10px;
}
.bxDoL2 {
    border: #ebebeb solid 1px;
}
.divSbNws {
    font-size: 11px;
    text-align: justify;
    padding: 5px 0 0 104px;
}
.divSbNws a {
    font-size: 11px;
    text-decoration: none;
    color: #777;
    padding-left: 15px;
    background: url(//static.24h.com.vn/images/2014/sprites.png) 0 2px no-repeat;
}
.hmNwsSpe2 {
    background: #eaf8d2;
    padding: 7px 0 5px 8px;
    height: 83px;
}
.hmNwsSpe2 article, .hmNwsSpe1 article {
    display: block;
    list-style: none;
    padding: 0 0 3px 15px;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
}
.hmNwsSpe2 article a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
}
.hmNwsSpe2 article a:hover {
    color: #692;
}
.hmNwsSpe1 {
    background: #d5ecab;
    height: 60px;
    padding: 0 0 0 8px;
}
.hmNwsSpe1 article a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
.bxDoMrNws {
    overflow: hidden;
    display: block;
    padding: 10px 0 0;
    font-size: 14px;
    clear: both;
}
.bxDoMrNws article {
    display: block;
    list-style: none;
    padding: 0 0 8px 15px;
    line-height: 20px;
}
.imgLstItm img {
    width: 120px;
    height: 90px;
}
.bxDoMrNws article a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    position: relative;
}  
.bxDoMrNws article a:hover {
    text-decoration: underline;
}
/*---End home---*/

/*---Start banner*/
#banner_hot {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}
.bnrPtn {
    position: relative;
    padding-bottom: 3px;
    padding-top: 1px;
}
.txtBnrVtl {
    position: absolute;
    left: -7px;
    bottom: 5px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
}
.divBnrHm {
    display: inline-block;
    width: 100%;
}
.txtBnrVtl span, .txtBnrHor span {
    color: #999;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    position: relative;
}
.txtBnrVtl span:before, .txtBnrHor span:before {
    content: "ad zone of 24h";
}
.bnrHmL {
    float: left;
    width: 336px;
    height: 280px;
    /*background: #eee;*/
    /*margin-top: -15px;*/
}
.mBnrShw {
    margin: 0 auto;
    display: block;
    padding-bottom: 0;
}
.bnrHmR {
    float: right;
    width: 349px;
    padding: 0;
    margin: 0 0 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #ebebeb solid 2px;
}
.bxTrtmT {
    width: 339px;
    height: 23px;
    padding: 3px 0 3px 10px;
    float: left;
    background: url(//static.24h.com.vn/images_ipad/LR-15-11-t-c.png) repeat-x;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.bxTrtmT a {
    color: #fff;
    font-size: 18px;
}
.bxTrtmC {
    width: 333px;
    /*height: 238px;*/
    padding: 10px 8px 0;
    overflow: hidden;
    display: inline-block;
}
.bnrHmR .bxTrtmC {
    height: 236px;
}
.pgRto {
    text-align: center;
}
.pgRto a{
    margin: 0 5px;
}
.nwsLstItImg {
    position: relative;
}
.nwsLstItImg img {
    width: 80px;
    height: 60px;
}
.bxDoIt .nwsTit {
    height: 34px;
    text-align: left;
}
.nwsSp {
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    display: block;
    color: #333;
}
.bxDoMrNwsOne {
    overflow-x: hidden;
}
.bxDoMrNwsOne ul li {
    line-height: 20px;
}
.bxDoMrNwsTwo {
    background-color: #d5ecab;
}
.bxDoMrNwsOne::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
.bxDoMrNwsOne::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #f5f5f5;
    height: 10px;
}
/*---End banner---*/

/*---Start video chon loc---*/
.grnBxT {
    float: left;
    height: 28px;
    padding: 0 10px 0 5px;
    background: url(//static.24h.com.vn/images_ipad/green-tab-right.png) top right no-repeat;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;    
}
.divVd {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 0 10px;
    position: relative;
    margin-top: 20px;
}
.bxVdtrn {
    background: url(//static.24h.com.vn/images/2014/video-iconwhite.png) 0 0 no-repeat;
    width: 22px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}
.grnBxT a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.grnBxT .lkHmVdCh {
    font-size: 14px;
}
.divVdR {
    margin-left: 5px;
    margin-top: 5px;
    width: 403px;
    float: left;
}
.bdDivVdR {
    padding: 0 10px;
}
.titBdDivVdR {
    margin: 10px 0;
}
.titBdDivVdR a {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.smbdDivVdR span {
    font-size: 16px;
    line-height: 22px;
}
.divTitVd {
    width: 689px;
    padding-left: 8px;
    height: 29px;
    overflow: hidden;
    left: 0;
    top: -22px;
    position: absolute;
}
.divVdL {
    height: 440px;
    margin-left: 4px;
    margin-top: 5px;
    overflow-x: hidden;
    width: 285px;
    float: left;
}
.divVd .divVdL {
    height: 430px;
    margin-left: 4px;
    margin-top: 5px;
    overflow-x: hidden;
}
.cmDivVdL {
    margin-bottom: 5px;
    margin-right: 15px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.imgDivVdL {
    width: 108px;
    height: 81px;
    float: left;
    margin-right: 10px;
}
.imgDivVdL a {
    display: block;
    width: 100%;
    position: relative;
}
.imgDivVdL a:before {
    content: "";
    position: absolute;
    background: url(//static.24h.com.vn/images/2014/small-iconvideo.png) center center no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-size: 35px;
}
.imgDivVdL a img {
    width: 108px;
    height: 81px;
}
.bdDivVdL a {
    font-weight: 400;
    line-height: 18px;
    color: #333;
    font-size: 14px;
}
.divVdL::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
.divVdL::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #f5f5f5;
    height: 10px;
}
/*---End video chon loc---*/

/*---Start topic hot---*/
.tpcHtBlk {
    padding-left: 0;
    margin: 12px 0;
}
.tpcHt {
    position: relative;
}
.tpcHt #interact_wrap {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    background-color: #eee;
    user-select: none;
    -webkit-user-select: none;
    padding: 5px 10px;
    height: 102px;
}
.tpcHt .tpcLitIt {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.tpcHt .tpcLitIt li {
    float: left;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
}
.tpcHt .tpcLitIt li a {
    font-size: 14px;
    color: #f17920;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    background: #fff;
    float: left;
    margin: 5px 4px 5px 5px;
    border: 1px solid #ddd;
    width: 148px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.tpcHt a .icon, .tpcHt a .ico {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
/*---End topic hot---*/

/*---Start box don---*/
.bxDnT {
    width: 699px;
    height: 27px;
    overflow: hidden;
}
.bxDnC {
    width: 699px;
    padding: 5px 0 5px 0;
}
.bxDnMrNws {
    margin: 5px 0 0 0;
    padding: 0;
    float: left;
}
.bxDnMrNws li {
    display: block;
    list-style: none;
    padding: 2px 0 1px 15px;
}
.bxDnMrNws li a {
    line-height: 20px;
}
.bxDnMrNws li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
/*---End box don---*/

/*---Start thong tin dn---*/
.bx4TBtmHm {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url(//static.24h.com.vn/images/2014/box4T-bg.png) repeat;
    border: solid 1px #7bb541;
    padding: 5px 5px;
    position: relative;
    float: left;
}
.t4ArwLt {
    width: 20px;
    height: 45px;
    display: block;
    position: absolute;
    top: 78px;
    left: 0;
    background: url(//static.24h.com.vn/images/2014/arrowLeftRight.png) no-repeat;
    z-index: 100;
}
.t4ArwRt {
    width: 20px;
    height: 45px;
    display: block;
    position: absolute;
    top: 78px;
    right: 0;
    background: url(//static.24h.com.vn/images/2014/arrowLeftRight.png) no-repeat -20px 0;
    z-index: 100;
}
.dnIt2 {
    float: left;
    width: 238px;
    padding: 8px 0 8px 10px;
}
.dnIt2 .imgNws {
    width: 110px;
    height: 83px;
}
.imgFltT4 {
    float: left;
    border: #ebebeb solid 1px;
    margin-right: 10px;
    display: block;
    background: #f5f5f5;
    position: relative;
}
.tdnSp {
    color: #333;
    display: block;
    padding: 0 0 0 90px;
    line-height: 16px;
}
/*---End thong tin dn---*/

/*---Start colRt---*/
.colRt {
    float: left;
    width: 300px;
    margin-left: 5px;
}
.grnBxTit {
    background: #78b43d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    height: 20px;
    line-height: 20px;
}
.grnBxTit h2 {
    margin: 0;
    font-weight: 700;
}
.bx4Tbg {
    background: url(//static.24h.com.vn/images/2014/box4T-bg.png) repeat;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: 278px;
}
.grnBxCntGrn {
    border-left: #78b43d solid 2px;
    border-right: #78b43d solid 2px;
    border-bottom: #78b43d solid 2px;
    padding: 5px 9px;
}
.bxRsEvaCnt.bx4Tbg .imgNwsHm {
    width: 80px;
    height: 60px;
}
.bx4Tbg .imgNwsHm {
    width: 90px;
    height: 70px;
}
.lstNws {
    color: #000;
}
.lstNws ul li {
    display: block;
    list-style: none;
    padding: 2px 0 1px 12px;
    font-size: 11px;
}
.bxDn .lstNws ul li a {
    font-size: 12px;
    line-height: 16px;
}

.lstNws ul li a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
}
/*---End colRt---*/

/*---Start box danh cho phai dep---*/
.dcpd {
    width: 300px;
}
.dcpd .bxRsEvaTp {
    background: #d2577e;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.dcpd .bxRsEvaTp a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.dcpd .bxRsEvaCnt {
    border-left: #d2577e solid 2px;
    border-right: #d2577e solid 2px;
    background: #fff;
    border-bottom: #d2577e solid 2px;
    padding: 5px 9px;
}
.phTr {
    padding: 5px;
    text-align: center;
    line-height: 18px;
    position: relative;
    font-size: 12px;
    display: inline-block;
    width: 100%;
}
.phTr a {
    margin: 0 5px;
}
.bx4Tbg .nwsTit a {
    font-size: 16px;
    color: #333;
    line-height: 22px;
    font-weight: 400;
}
.bx4Tbg .nwsTit a.bld {
    font-weight: 700;
}
/*---End box danh cho phai dep---*/

/*---Start ve dau trang---*/
.btnTpDt {
    background: url(//static.24h.com.vn/images_ipad/btup.jpg) no-repeat;
    font-weight: bold;
    color: #F30;
    padding: 7px 0 8px 35px;
    display: inline-block;
    margin-right: 10px;
}
/*---End ve dau trang---*/

/*---Start footer---*/
footer {
    width: 1024px;
    display: inline-block;
}
.ftPrt1 {
    background: #787363;
    padding: 8px 50px;
    color: #fff;
    text-align: center;
}
.ftPrt1 li {
    display: inline;
    list-style: none;
    padding: 0 0 8px 0;
    color: #FFF;
    font-size: 12px;
}
.ftPrt1 li a {
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
}
.ftPrt2 {
    background: #7cc502;
    padding: 5px 90px;
    color: #000;
    text-align: center;
}
.ftPrt2 li {
    display: inline;
    list-style: none;
    padding: 0 0 8px 0;
    color: #000;
    font-size: 12px;
}
.ftPrt2 li a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}
.ftCpRt {
    width: 824px;
    float: left;
    color: #333;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
}
.ftLog {
    width: 200px;
    float: left;
}
.width-100{
    width: 100%;
}
/*---End footer---*/

/*Start rss*/
.box_rss_6_rss24hTop {
    background: #378b36;
    padding: 2px 10px 0 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.box_rss_6_rss24hTop a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.box_rss_6_rss24hTop a:hover {
    color: #000;
}
.box_rss_6_rss24hTop img {
    vertical-align: middle;
    margin: 0 5px 5px 0;
}
.box_rss_6_rss24hCnt {
    border-left: #378b36 solid 2px;
    border-right: #378b36 solid 2px;
    border-bottom: 2px solid #378b36;
    background: #fff;
    padding: 5px;
}
.box_rss_6_rss24hCnt .lstNws a {
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.box_rss_6_rss24hCnt .lstNws a:hover {
    color: #78b43d;
}
.box_rss_6_rss24hCnt article {
    display: block;
    list-style: none;
    padding: 0 0 8px 12px;
    line-height: 20px;
}
/*End rss*/

/*# sourceMappingURL=common.css.map */
.swiper-container {
 margin:0 auto;
 position:relative;
 overflow:hidden;
 -webkit-backface-visibility:hidden;
 -moz-backface-visibility:hidden;
 -ms-backface-visibility:hidden;
 -o-backface-visibility:hidden;
 backface-visibility:hidden;

 z-index:1;
}
.swiper-wrapper {
 -webkit-transition-property:-webkit-transform, left, top;
 -webkit-transition-duration:0s;
 -webkit-transform:translate3d(0px,0,0);
 -webkit-transition-timing-function:ease;

 -moz-transition-property:-moz-transform, left, top;
 -moz-transition-duration:0s;
 -moz-transform:translate3d(0px,0,0);
 -moz-transition-timing-function:ease;

 -o-transition-property:-o-transform, left, top;
 -o-transition-duration:0s;
 -o-transform:translate3d(0px,0,0);
 -o-transition-timing-function:ease;
 -o-transform:translate(0px,0px);

 -ms-transition-property:-ms-transform, left, top;
 -ms-transition-duration:0s;
 -ms-transform:translate3d(0px,0,0);
 -ms-transition-timing-function:ease;

 transition-property:transform, left, top;
 transition-duration:0s;
 transform:translate3d(0px,0,0);
 transition-timing-function:ease;

 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
 -webkit-transition-timing-function: ease-out;
 -moz-transition-timing-function: ease-out;
 -ms-transition-timing-function: ease-out;
 -o-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
 margin: 0 auto;
}
.swiper-slide {
 float: left;
 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
}
.swiper-wp8-horizontal {
 -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
 -ms-touch-action: pan-x;
}
/*Start ttdn*/
.bxDoL2 .ttDN:nth-of-type(3n+1) {
    clear: both;
}
.ttDN {
    width: 220px;
    float: left;
    margin: 8px 5px 10px 0;
    font-size: 14px;
    position: relative;
}
.ttDN span {
    bottom: initial;
    top: 35px;
}
.tttDN a:visited {
    color: #686868;
}
.ttDN a {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}
/*Start 18-06-2018 duclv http://jira.24h.com.vn/browse/XLCYCMHENG-31853#add-comment*/
.bxGrVid .ttDN a img {
    height: 60px;
}
/*End 18-06-2018 duclv http://jira.24h.com.vn/browse/XLCYCMHENG-31853#add-comment*/
.ttDN a img {
    width: 80px;
    float: left;
    padding-right: 10px;
}
.itmImg {
    float: left;
    padding-right: 10px;
    width: initial;
}
.newsIcon-65x5 {
    position: absolute;
    top: 38px;
    left: 11px;
}
/*End ttdn*/
/*---Begin Menu right---*/
.fdInRt {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.anmtd {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mnRtClsBtn a{
    position: fixed;
    top: 40px;
    left: 270px;
    z-index: 999;
}
.menRt, .mnRtClsBtn {
    z-index: 9999999;
}
.mnRtClsBtn a {
    display: block;
    width: 40px;
    height: 40px;
    background: #000 url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 12px -870px;
}
.menRt {
    display: block;
    overflow-y: auto;
    position: fixed;
    top: 40px;
    left: 0;
    background: #464646;
}
.schBx {
    border-bottom: #555 solid 1px;
    padding: 10px;
}
.schTxtBx {
    background: #d7d7d7;
    border: 0;
    padding: 10px 50px 10px 10px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #666;
    float: left;
    border-radius: 3px;
    box-sizing: border-box;
}
.schBtn {
    display: block;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #78b43d url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 10px -982px;
    float: right;
    margin-right: 0;
    padding: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
}
.mnRt {
    overflow-x: hidden;
    max-height: 600px;
    width: 270px;
}
.mnRt li {
    display: block;
    border-bottom: #555 solid 1px;
    list-style: none;
}
.mnRt li a {
    padding: 8px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.mnRt li a:first-child {
    display: inline-block;
    width: 72%;
}
.mnRt li a.home {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 15px -927px;
    padding-left: 47px;
}
.mnRt li a.down {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -754px;
}
.mnRt li a.up {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -665px;
}
.mnRt li ul {
    margin: 0;
    padding: 0;
    background: #636363;
}
.mnRt li ul li {
    display: block;
    border-bottom: #464646 solid 1px;
    padding-left: 20px;
}
.mnRtCls {
    background: #000;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
}
.mnRtCls .ico {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -880px;
    vertical-align: middle;
    padding-left: 5px;
}
/*---End Menu right---*/

/*---Start mxh---*/
span.mxh-ver-right {
    line-height: 16px;
}
.mxh-ver-left {
    width: 10px;
    height: 17px;
    display: inline-block;
    background: url(//static.24h.com.vn/images_ipad/mxh-ver-left.gif) no-repeat;
    font-size: 12px;
    padding: 3px 0 0 0;
    vertical-align: bottom;
}
.mxh-ver-right {
    height: 17px;
    display: inline-block;
    background: url(//static.24h.com.vn/images_ipad/mxh-ver-right.gif) no-repeat right;
    font-size: 12px;
    padding: 3px 5px 0 0;
    vertical-align: bottom;
}
/*---End mxh---*/

.flag-thidau {
    display: table-row !important;
}

.txtRt {
    text-align: right;
}

.icoSocial a img {
    width: 100%;
}

.icoSocialCm {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 5px;
}

.bmTpSeoBlk .icoSocial {
    float: right;
    margin-top: -6px;
    margin-left: 5px;
}
.bmTpSeoBlk .icoSocial.mrT6 {
    margin-top: 0px;
}

/*.bmTpSeoBlk {
    height: initial;
    overflow: initial;
    }*/

    .brmCm2 {
        display: inline-block;
        width: 100%;
        overflow: initial;
    }

    .flRt {
        float: right;
    }
    .mrL4 {
        margin-left: 4px;
    }
    /*Start 18-06-2018 duclv video icon left*/
    .nwsHotLt .vidIcoLt, .nwsHotLt .picIco {
        left: initial;
        right: 10px;
        bottom: initial;
        top: 10px;
    }
    /*End 18-06-2018 duclv video icon left*/
    /*Begin Duclv css video 24h_player */
    .video-js .vjs-menu-button-inline.vjs-slider-active,
    .video-js .vjs-menu-button-inline:focus,
    .video-js .vjs-menu-button-inline:hover,
    .video-js.vjs-no-flex .vjs-menu-button-inline {
        width: 10em
    }

    .video-js .vjs-controls-disabled .vjs-big-play-button {
        display: none !important
    }

    .video-js .vjs-control {
        width: 3em
    }

    .video-js .vjs-menu-button-inline:before {
        width: 1.5em
    }

    .vjs-menu-button-inline .vjs-menu {
        left: 3em
    }

    .vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
    .video-js.vjs-ended .vjs-big-play-button,
    .video-js.vjs-paused .vjs-big-play-button {
        display: block
    }

    .video-js .vjs-load-progress div,
    .vjs-seeking .vjs-big-play-button,
    .vjs-waiting .vjs-big-play-button {
        display: none !important
    }

    .video-js .vjs-mouse-display:after,
    .video-js .vjs-play-progress:after {
        padding: 0 .4em .3em
    }

    .video-js.vjs-ended .vjs-loading-spinner {
        display: none;
    }

    .video-js.vjs-ended .vjs-big-play-button {
        display: block !important;
    }

    .video-js *,
    .video-js:after,
    .video-js:before {
        box-sizing: inherit;
        font-size: inherit;
        color: inherit;
        line-height: inherit
    }

    .video-js.vjs-fullscreen,
    .video-js.vjs-fullscreen .vjs-tech {
        width: 100% !important;
        height: 100% !important
    }

    .video-js {
        font-size: 14px;
        overflow: hidden
    }

    .video-js .vjs-control {
        color: inherit
    }

    .video-js .vjs-menu-button-inline:hover,
    .video-js.vjs-no-flex .vjs-menu-button-inline {
        width: 8.35em
    }

    .video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content {
        height: 3em;
        width: 6.35em
    }

    .video-js .vjs-control:focus:before,
    .video-js .vjs-control:hover:before {
        text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff
    }

    .video-js .vjs-spacer,
    .video-js .vjs-time-control {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .video-js .vjs-time-control {
        -webkit-box-flex: 0 1 auto;
        -moz-box-flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: auto
    }

    .video-js .vjs-time-control.vjs-time-divider {
        width: 14px
    }

    .video-js .vjs-time-control.vjs-time-divider div {
        width: 100%;
        text-align: center
    }

    .video-js .vjs-time-control.vjs-current-time {
        margin-left: 1em
    }

    .video-js .vjs-time-control .vjs-current-time-display,
    .video-js .vjs-time-control .vjs-duration-display {
        width: 100%
    }

    .video-js .vjs-time-control .vjs-current-time-display {
        text-align: right
    }

    .video-js .vjs-time-control .vjs-duration-display {
        text-align: left
    }

    .video-js .vjs-play-progress:before,
    .video-js .vjs-progress-control .vjs-play-progress:before,
    .video-js .vjs-remaining-time,
    .video-js .vjs-volume-level:after,
    .video-js .vjs-volume-level:before,
    .video-js.vjs-live .vjs-time-control.vjs-current-time,
    .video-js.vjs-live .vjs-time-control.vjs-duration,
    .video-js.vjs-live .vjs-time-control.vjs-time-divider,
    .video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
        display: none
    }

    .video-js.vjs-no-flex .vjs-time-control {
        display: table-cell;
        width: 4em
    }

    .video-js .vjs-progress-control {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: .5em;
        top: -.5em
    }

    .video-js .vjs-progress-control .vjs-load-progress,
    .video-js .vjs-progress-control .vjs-play-progress,
    .video-js .vjs-progress-control .vjs-progress-holder {
        height: 100%
    }

    .video-js .vjs-progress-control .vjs-progress-holder {
        margin: 0
    }

    .video-js .vjs-progress-control:hover {
        height: 1.5em;
        top: -1.5em
    }

    .video-js .vjs-control-bar {
        -webkit-transition: -webkit-transform .1s ease 0s;
        -moz-transition: -moz-transform .1s ease 0s;
        -ms-transition: -ms-transform .1s ease 0s;
        -o-transition: -o-transform .1s ease 0s;
        transition: transform .1s ease 0s
    }

    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
    .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
        visibility: visible;
        opacity: 1;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateY(3em);
        -moz-transform: translateY(3em);
        -ms-transform: translateY(3em);
        -o-transform: translateY(3em);
        transform: translateY(3em);
        -webkit-transition: -webkit-transform 1s ease 0s;
        -moz-transition: -moz-transform 1s ease 0s;
        -ms-transition: -ms-transform 1s ease 0s;
        -o-transition: -o-transform 1s ease 0s;
        transition: transform 1s ease 0s
    }

    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,
    .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
        height: .25em;
        top: -.25em;
        pointer-events: none;
        -webkit-transition: height 1s, top 1s;
        -moz-transition: height 1s, top 1s;
        -ms-transition: height 1s, top 1s;
        -o-transition: height 1s, top 1s;
        transition: height 1s, top 1s
    }

    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
    .video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
        opacity: 0;
        -webkit-transition: opacity 1s ease 1s;
        -moz-transition: opacity 1s ease 1s;
        -ms-transition: opacity 1s ease 1s;
        -o-transition: opacity 1s ease 1s;
        transition: opacity 1s ease 1s
    }

    .video-js.vjs-live .vjs-live-control {
        margin-left: 1em
    }

    .video-js .vjs-big-play-button {
        top: 50%;
        left: 50%;
        margin-left: -1em;
        margin-top: -1em;
        width: 2em;
        height: 2em;
        line-height: 2em;
        border: none;
        border-radius: 50%;
        font-size: 3.5em;
        background-color: rgba(0, 0, 0, .45);
        color: #fff;
        -webkit-transition: border-color .4s, outline .4s, background-color .4s;
        -moz-transition: border-color .4s, outline .4s, background-color .4s;
        -ms-transition: border-color .4s, outline .4s, background-color .4s;
        -o-transition: border-color .4s, outline .4s, background-color .4s;
        transition: border-color .4s, outline .4s, background-color .4s
    }

    .video-js .vjs-menu-button-popup .vjs-menu {
        left: -3em
    }

    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
        background-color: transparent;
        width: 12em;
        left: -1.5em;
        padding-bottom: .5em
    }

    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
        background-color: #151b17;
        margin: .3em 0;
        padding: .5em;
        border-radius: .3em
    }

    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
        background-color: #2483d5
    }

    .video-js .vjs-big-play-button {
        background-color: #b1ce9b;
        font-size: 5em;
        border-radius: 50%;
        height: 2em !important;
        line-height: 2em !important;
        margin-top: -1em !important
    }

    .video-js:hover .vjs-big-play-button,
    .video-js .vjs-big-play-button:focus,
    .video-js .vjs-big-play-button:active {
        background-color: ##B1CE9B
    }

    .video-js .vjs-loading-spinner {
        border-color: #000000
    }

    .video-js .vjs-control-bar2 {
        background-color: #000000
    }

    .video-js .vjs-control-bar {
        background-color: #2c2c2c !important;
        color: #ffffff;
        font-size: 14px
    }

    .video-js .vjs-play-progress,
    .video-js .vjs-volume-level {
        background-color: #7ab43f
    }

    .video-js .vjs-big-play-button {
        background-color: rgba(177, 206, 155, 0.6) !important;
        border: 0.07em solid #fff !important;
        font-size: 450% !important;
    }
    .nwsHt a.highlight {
        color: #000;
    }
    .v-mobile .vjs-marker-tableinfo {
        border: 1px solid #ddd;
        display: inline-block;
        margin-top: 0;
        width: 100%;
    }
    .v-mobile .sub-time-highlight {
        margin-left: 0;
    }
    .v-mobile .vjs-marker-tableinfo > div:first-child .sub-time-highlight {
        border-top: 0;
    }
    .v-mobile .vjs-marker-tableinfo::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }
    .v-mobile .vjs-marker-tableinfo::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #a1a1a1;
    }
    .v-mobile .vjs-marker-tableinfo::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }
    .video_vtv_container {
        display: inline-block;
        width: 100%;
    }
    .viewVideoPlay {
        display: inline-block;
        width: 100%;
    }
    .plCurrent span {
        width: 20px;
        display: block;
        padding: 5px 10px;
        background: #ddd;
        color: #000;
        font-weight: 700;
    }
    /*End Duclv css video 24h_player */
    .icoMaz {
        background: url(//static.24h.com.vn/images/2014/icon_magazine_frontend.png) 0 5px no-repeat;
        display: inline-block;
    }
    .magzIco {
        background: url(//static.24h.com.vn/images/2014/icon_magazine_frontend.png) 0 1px no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0 0 0 5px;
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
    .video_vtv_container {
        display: inline-block;
        width: 100%;
    }
    .ltdTb {

        width: 100%;
        border-collapse: collapse;
    }
    .ltdTb tbody tr:nth-child(even) {
        background-color: #eff5e9;
    }
    .ltd-detail {
        padding-top: 10px;
    }
    .ltd-detail a {
        font-size: 12px;
        color: #78b43d;
        font-style: italic;
        border-bottom: 1px solid #7ab345;
    }

    /*Start less-bxh*/
    .less-ltd .ltdTb tbody tr td {
        padding: 6px 4px;
        border: 1px solid #ddd;
        text-align: center;
        position: relative;
    }
    .less-ltd .ltdTb tbody tr td.ltdTeamRt {
        text-align: left;
    }
    .less-ltd .ltdTb tbody tr td.ltdTeamLt span {
        margin-right: 30px;
        display: block;
        font-size: 12px;
    }
    .less-ltd .ltdTb tbody tr td.ltdTeamLt {
        text-align: right;
    }
    .less-ltd .ltdTb tbody tr td.ltdTeamRt span {
        margin-left: 30px;
        display: block;
        font-size: 12px;
    }
    .ltdNb {
        font-size: 12px;
        width: 20%;
    }
    .ltdTeam {
        font-size: 12px;
    }
    .ltdTit {
        text-align: center;
        background-color: #7ab345;
        padding: 6px 4px;
    }
    .ltdTit span {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
    }
    .ltdTit .ltd-detail {
        float: right;
        padding-right: 0;
    }
    .ltdTime {
        font-size: 14px;
    }
    .bnrHmR.less-ltd {
        border: 0;
    }
    .ltdTeamLt img {
        vertical-align: middle;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 30%;
        right: 5px;
    }
    .less-ltd .ltdTb tbody tr .ltdTeamLt img {
        float: right;
    }
    .less-ltd .ltdTb tbody tr .ltdTeamRt img {
        float: left;
    }
    .ltdTeamRt img {
        vertical-align: middle;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 30%;
        left: 5px;
    }

    /* begin livescore ipad 3/11/2018 dangtq */
    @media screen and (min-width: 768px) {
        .ket_qua_thi_dau_mot_giai .lbl-select{
            width: auto;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltdTit{
            display: block;
            font-size: 16px;
            background-image: url(../images/2014/2018/Layer-31981.jpg);
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltd-detail{
            text-align: center;
            padding: 11px;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltd-detail a{
            display: inline-block;
            color: #21c879;
            background: url(//cdn.24h.com.vn/images/sprites2018_5-2018.png) 25px -49px;
            padding-right: 25px;
            font-size: 13px;
            border-bottom: 0;
            font-style: normal;
        }
        .box_ds_tran_dau_hot_chuyen_muc .frm-ltd{
            border: 2px solid #17ca75;
            border-top: 0;
        }
        .box_ds_tran_dau_hot_chuyen_muc table a{
            color: #333;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(1) a{
            padding-right: 45px;
            padding-left: 10px;
            font-size: 15px;
            color: #333;
            font-weight: normal;
            display: block;
            position: relative;
            text-align: right;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(3) a{
            padding-left: 45px;
            padding-right: 10px;
            font-size: 15px;
            color: #333;
            font-weight: normal;
            display: block;
            position: relative;
            text-align: left;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(1) img{
            position: absolute;
            top: 50%;
            right: 0;
            height: 35px;
            width: 35px;
            margin-top: -17px;
        }
        .box_ds_tran_dau_hot_chuyen_muc .ltdTeam:nth-child(3) img{
            position: absolute;
            top: 50%;
            left: 0;
            height: 35px;
            width: 35px;
            margin-top: -17px;
        }
    }
    /* end livescore ipad 3/11/2018 dangtq */
/* begin bangnd 7/11/2018 XLCYCMHENG_33212_bo_sung_logo_khach_hang_len_menu */
 .aff-xanh a{
    background: url(//cdn.24h.com.vn/images/detox3-092018.jpg) no-repeat 4px center #50b849!important;
    color: #fff!important;
    padding-left: 60px!important;
    background-size: auto 85%!important;
}
.aff-nau a{
    background: url(https://cdn.24h.com.vn/images/cumar3-092018.jpg) no-repeat 4px center #7d450a!important;
    color: #fff!important;
    padding-left: 70px!important;
    background-size: auto 85%!important;
}
/* end bangnd 7/11/2018 XLCYCMHENG_33212_bo_sung_logo_khach_hang_len_menu */
.displaynone{
    display:none;
}