.mgz-op-wrapper *{
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.5;
}
.mgz-op-wrapper img{
	width: 100%;
}
.mgz-op-wrapper .caption-h1{
	font-size: 24px;
	padding: 10px 10px 0 10px;
}
.mgz-op-wrapper p{
	font-size: 18px;
	padding: 10px;
}
.mgz-op-wrapper .image-credit{
	font-size: 18px;
	font-weight: 700;
	display: block;
	text-align: right;
	padding: 0 10px 10px 10px;
}

@media screen and (min-width: 321px) and (max-width: 375px){
	.mgz-op-wrapper .caption-h1{
		font-size: 26px;
	}
	.mgz-op-wrapper p, .mgz-op-wrapper .image-credit{
		font-size: 20px;
	}
}
@media screen and (min-width: 376px) and (max-width: 414px){
	.mgz-op-wrapper .caption-h1{
		font-size: 28px;
	}
	.mgz-op-wrapper p, .mgz-op-wrapper .image-credit{
		font-size: 22px;
	}
}
@media screen and (min-width: 480px) and (max-width: 568px){
	.mgz-op-wrapper .caption-h1{
		font-size: 26px;
	}
	.mgz-op-wrapper p, .mgz-op-wrapper .image-credit{
		font-size: 20px;
	}
}
@media screen and (min-width: 569px) and (max-width: 667px){
	.mgz-op-wrapper .caption-h1{
		font-size: 28px;
	}
	.mgz-op-wrapper p, .mgz-op-wrapper .image-credit{
		font-size: 22px;
	}
}
@media screen and (min-width: 668px) and (max-width: 736px){
	.mgz-op-wrapper .caption-h1{
		font-size: 30px;
	}
	.mgz-op-wrapper p, .mgz-op-wrapper .image-credit{
		font-size: 24px;
	}
}
@media screen and (min-width: 737px) and (max-width: 812px){
	.mgz-op-wrapper .caption-h1{
		font-size: 32px;
	}
	.mgz-op-wrapper p, .mgz-op-wrapper .image-credit{
		font-size: 26px;
	}
}