.brmCm2 {
    width: 693px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.bdmHmTb {
    float: left;
    height: auto;
    line-height: 14px;
    padding: 2px 0 3px 0;
    font-size: 11px!important;
    font-weight: bold;
    color: #fff;
}
.bdmHmTb ul li {
    display: block;
    list-style: none;
}
.bdmHmTb a {
    font-size: 12px;
    font-weight: bold;
    color: #78b43d;
    line-height: 12px;
}
.brmCmTb {
    padding: 1px 3px;
    display: inline-block;
    float: left;
    color: #78b43d;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 2px;
}
.brmCmTb ul li {
    list-style: none;
    display: inline;
    padding: 0 0 3px;
}
.brmCmTb a {
    color: #78b43d;
    padding-left: 5px;
}
.znMnCm2Brm {
    z-index: 99999;
    position: absolute;
}
.bmTpSeoBlk {
    height: 15px;
    overflow: hidden;
}
.bmTpSeo {
    text-align: right;
    float: right;
}
.bmTpSeo a {
    font-size: 11px;
}
.sbMnCate {
    position: relative;
    padding-bottom: 5px;
    margin-top: 5px;
}
.sbMnCate ul li a {
    display: inline-block;
    margin-right: 2px;
    border-radius: 2px;
    padding: 5px 9px;
    background: #e1e1e1;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: background .3s,color .3s;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
    float: left;
    color: #212121;
    font-size: 11px;
}
.sbMnCate ul li.dnSltUpn {
    background-color: #fff;
}
.dnSltUpn .icoUpSlt {
    background: #fff url(//static.24h.com.vn/images/icon-upselect.png) no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    cursor: pointer;
}
.znMnCm2Brm ul li a {
    font-weight: 400;
    border-right: 0;
    background: #aad862 url(//static.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
    padding: 6px 0 5px 25px;
    width: 185px;
    line-height: 16px;
    color: #000!important;
    text-decoration: none;
    border-bottom: #78b43d solid 1px;
    float: left;
    transition: background .3s,color .3s;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
}
.sbMnCate ul li.dnSltUpn a.icoDnSlt {
    background: #fff url(//static.24h.com.vn/images/icon-downselect.png) no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    padding: 0;
    cursor: pointer;
}
/*.dnSltUpn ul li {
    display: inline-block;
}*/
.sbMnCate ul.sbMnCateUpn li:hover a, .sbMnCateUl>li:hover>a, .sbMnCate ul.sbMnCateUpn li:hover a {
    color: #fff;
    background: #666;
}
.sbMnCate ul li.dnSltUpn:hover .icoUpSlt {
    background: #fff url(//static.24h.com.vn/images/icon-upselect.png) no-repeat;
}
.znMnCm2Brm {
    display: none;
}
.mainCate {
    display: inline-block;
    width: 100%;
}
.atclMnBxImg {
    width: 180px;
    margin-right: 10px;
    float: left;
    position: relative;
}
.imgNwsMdm {
    width: 180px;
    height: 135px;
    position: relative;
}
.qteImg {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #666;
}
.atclTpCt {
    width: 500px;
    float: left;
}
.titSb {
    font-size: 11px;
    padding: 0 0 3px 0;
}
.titSb a {
    font-size: 11px;
    text-decoration: none;
}
.nwsTitg {
    display: block;
    font-weight: bold;
    color: #5ca038;
    padding: 0 0 5px 0;
    font-size: 16px;
}
.updTm {
    font-size: 10px;
    color: #999;
    padding-bottom: 5px;
    font-weight: 500;
}
.nwSp {
    text-align: justify;
    display: block;
    color: #333;
    font-size: 13px;
    line-height: 16px;
}
.grnBxBg {
    background: #d5ecab;
    padding: 7px 10px;
    border-radius: 5px;
}
.grnBxBg .lstNws article a {
    font-size: 12px;    
    line-height: 18px;
}
.bxDoiSbIt {
    width: 342px;
    display: inline-block;
    padding: 0;
}
.bxDoiSbIt .nwsSp {
    padding-left: 120px;
}
.seMr {
    text-align: right;
    display: block;
    padding: 6px 0 0 0;
}
.seMr a {
    font-size: 11px;
    text-decoration: none;
    padding-left: 10px;
    background: url(//static.24h.com.vn/images/2014/sprites.png) 0 -615px no-repeat;
}
.bnrAtcl {
    display: inline-block;
    width: 100%;
}
.ttdnTr .bx4TBtmHm{
    width: 687px;
    border-radius: 0;
}
.bxCmSbPg {
    width: 100%;
    display: inline-block;
}
.sclDivSbPg .grnBxT {
    background-color: #d2577e;
}
.bxGrtt {
    border-left: #ebebeb solid 1px;
    border-right: #ebebeb solid 1px;
    border-bottom: #ebebeb solid 1px;
    padding: 6px 0 3px 6px;
    height: 245px;
}
.sclDiv {
    overflow-y: auto;
    overflow-x: hidden;
    width: 339px;
    height: 100%;
    _height: 213px;
    padding-left: 5px;
    _padding-left: 0;
}
.sclDivSbPg {
    width: 185px;
    padding-left: 0;
}
.bxCmSbPg .sclDivSbPg {
    width: 100%;
}
.bxCmSbPg .sclDiv article {
    float: left;
    padding: 2px 3px 6px 15px;
    width: 47%;
}
.bxCmSbPg .lstNml {
    background: url(//static.24h.com.vn/images/2014/sprites-eva.png) 2px -548px no-repeat;
}
.bxCmSbPg .lstNml a {
    color: #333;
}
.bxCmSbPg .lstNml a:hover {
    color: #075cbb;
}
.bnrSbPg {
    display: inline-block;
    width: 358px;
    margin-left: 5px;
}
.bnrSbPg .bxCmSbPg .sclDiv article {
    width: 320px;
}
.bnrSbPg .bxCmSbPg .lstNml {
    background: url(//static.24h.com.vn/images/2014/thoi_tiet/sprites.png) 1px -547px no-repeat;
}
/*Start custom*/
.hdr {
    background-color: #2c90d0;
}
.mnTp {
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
}
.nav a {
    background: #248FD3 url(//static.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
    border-bottom: #2C6D96 solid 1px;
    color: #fff;
}
.nav li:hover > a {
    color: #fff;
    background: #236B98 url(//static.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
}
.nav ul.fly li a {
    background: #236B98;
    border-bottom: #2C6D96 solid 1px;
}
.tpMnRt ul li ul.menu-c2 li a {
    background: #248FD3 url(//static.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
    color: #fff;
}
.tpMnRt ul li ul.menu-c2 li:hover>a {
    color: #fff;
    background: #236B98 url(//static.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
}
.tinhkhac {
    padding: 10px 20px;
    border-left: #e7e7e7 solid 1px;
    border-bottom: #e7e7e7 solid 1px;
    border-right: #e7e7e7 solid 1px;
    margin: 0 0 5px 0;
}
.tinhkhac ul li {
    display: inline;
    width: 214px;
    list-style: none;
    float: left;
    margin: 0px 0px 7px 0px;
}
.tinhkhac ul li a {
    background: url(//static.24h.com.vn/images/2014/thoi_tiet/sprites.png) 0px -548px no-repeat;
    padding: 0 0 0px 10px;
    display: block;
    color: #333;
}
.grnBxT, .bxCmSbPg .grnBxT {
    background-color: #2c90d0;
}
.ftMn2Contnr {
    background-color: #51b9ee;
}
.bxGrnBr {
    border: #61cafa solid 2px;
    padding: 8px;
    margin: 0 0 5px 0;
}
.notiTxt {
    float: left;
    width: 400px;
    padding: 10px 0 0 10px;
}
.notiTxt p {
    font-size: 14px;
    color: #0000ff;
    margin: 0;
}
.notiImg {
    float: left;
    width: 100px;
    text-align: center;
}
.ttBx {
    border-left: #a7d8f4 solid 1px;
    border-right: #a7d8f4 solid 1px;
    border-top: #a7d8f4 solid 1px;
    margin: 0 0 5px 0;
}
.txt17 {
    font-size: 17px;
}
.ttBx select {
    padding: 5px 10px;
}
.tbTp td {
    background: #436072;
    height: 41px;
    overflow: hidden;
    padding: 3px 0 3px 10px;
    color: #fff;
}
.cap-nhat {
    font-style: italic;
    color: #fed700;
}
.ttClLn {
    border-bottom: #a7d8f4 solid 1px;
    border-right: #e7e7e7 solid 1px;
    padding: 10px;
}
.tnhTp {
    color: #666666;
    padding: 5px 0px;
    font-size: 11px;
}
.tnhTp h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}
.tnhTp strong {
    color: #075cbb;
    font-size: 13px;
}
.ndBig {
    font-size: 24px;
    font-weight: bold;
}
.ndBig sup {
    font-size: 18px;
    font-weight: bold;
}
.ndSml {
    font-size: 14px;
    font-weight: bold;
}
.ndSml sup {
    font-size: 12px;
    font-weight: bold;
}
.ttCel {
    border-bottom: #a7d8f4 solid 1px;
    padding: 10px;
}
.grnBxTit {
    background: #2c90d0;
}
.grnBxTit a {
    color: #fff;
}
.grnBxTit a:hover {
    color: #000;
}
.grnBxCntGrn {
    width: 300px;
    box-sizing: border-box;
    border-left: #e6e6e6 solid 1px;
    border-right: #e6e6e6 solid 1px;
    padding: 5px 9px;
}
.print {
    text-align: right;
    padding: 0 0 20px 0;
}
.print a {
    background: url(//static.24h.com.vn/images/2014/thoi_tiet/print.png) 3px 0 no-repeat;
    color: #000;
    text-decoration: underline;
    padding: 5px 0 10px 40px;
}