.giaVang *{
	box-sizing: border-box;
}
.giaVang h1, .giaVang h2, .giaVang h3, .giaVang h4, .giaVang h5{
	font-weight: normal;
}
.gvTit{
	font-size: 20px;
	font-weight: 600;
	color: #1c7964;
}
.inputDate{
	background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -47px -3333px;
	border: 1px solid #eee;
	text-align: right;
	color: #787878;
	padding-top: 1px;
	margin-left: 15px;
	outline: none;
}
.icoPrevDate{
	display: inline-block;
	background: url(../images/pc_trang_gia_vang_b.jpg) no-repeat center;
	width: 21px;
	height: 21px;
	cursor: pointer;
	border: 1px solid #eee;
	vertical-align: bottom;
}
.icoNextDate{
	display: inline-block;
	background: url(../images/pc_trang_gia_vang_c.jpg) no-repeat center;
	width: 21px;
	height: 21px;
	cursor: pointer;
	border: 1px solid #eee;
	vertical-align: bottom;
}
.tabTit{
	background-color: #fcf5db;
	height: 28px;
}
.tabTit .fl{
	width: 50%;
	text-align: right;
	padding-right: 37px;
}
.tabTit .fr{
	width: 50%;
	text-align: right;
	padding-right: 90px;
}
.tabTit strong{
	font-size: 13px;
	color: #000000;
	line-height: 28px;
}
.giaVang table{
	width: 100%;
	border-spacing: 0;
}
.colorGrey{
	color: #787878;
}
.colorBlur{
	color: #c6c6c6;
}
.tabHead{
	background-color: #c4efe5;
	height: 28px;
}
.tabHead strong, .tabBody *{
	font-size: 13px;
}
.tabHead i{
	font-size: 11px;
}
.colorGreen{
	color: #008000;
}
.colorRed{
	color: #ff0000;
}
.tabBody{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.tabBody td{
	height: 30px;
	border-bottom: 1px solid #eee;
}
.tabBody .icoUpDown{
	margin-left: 5px;
}
.tabBody .fixW{
	width: 60px;
	display: inline-block;
}
.pdL10{
	padding-left: 10px;
}
.tabBody{
	height: 150px;
	overflow: hidden;
	overflow-y: scroll;
}
.tabBody::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5
}

.tabBody::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5
}

.tabBody::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #7C7C7C
}
.gvNote .imgUp{
	vertical-align: -1px;
}
.gvNote i{
	color: #8c8c8c;
}
.gvChart{
	padding-top: 10px;
	border-top: 1px solid #1c7964;
}
.gvChart .fl{
	width: 60%;
}
.gvChart .fr{
	padding-top: 60px;
	width: 40%;
	padding-left: 20px;
}
.gvChart select{
	height: 34px;
	border: 2px solid #dddddd;
	outline: none;
	margin-left: 15px;
	background-color: #fff;
}
.colorDefault{
	color: #333;
}
.choiseMB a:first-child img{
	vertical-align: -2px;
}
.choiseMB a:last-child img{
	vertical-align: -1px;
}
.mgR5{
	margin-right: 5px;
}
.gvTitArt{
	border-bottom: 2px solid #1c7964;
	width: 309px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	display: inline-block;
}
.imgFlag{
	width: 40px;
	display: inline-block;
	vertical-align: -2px;
	line-height: 0;
}