.catfish_banner {
  position: fixed !important;
  bottom: 0;
  left: 0;
  line-height: 0;
  z-index: 9999 !important; }
  .catfish_banner .boxClose {
    color: #fff;
    border: 1px solid #AEAEAE;
    background-color: #605F61;
    font-size: 24px;
    line-height: 0px;
    padding: 11px 4px;
    position: absolute;
    right: 0;
    z-index: 9999; }
    .catfish_banner .boxClose:before {
      content: 'x'; }
