p.linkOrigin, p.linkOrigin * {
  font-size: 13px !important;
  color: #757575;
  margin: 10px 0; }
  p.linkOrigin * {
    margin: 0; }
  p.linkOrigin .icoDrop {
    display: inline-block;
    background: url("../images/icoDrop.png") no-repeat;
    width: 13px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer; }
