p.linkOrigin, p.linkOrigin * {
  font-size: 13px;
  color: #757575; }
  p.linkOrigin .icoDrop {
    display: inline-block;
    background: url("../images/icoDrop.png") no-repeat;
    width: 13px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer; }
