.boxCateHead{
	background: none;
	margin-left: -10px;
	margin-right: -10px;
	.mnWrap{
		padding: 10px 10px 3px;
		border-bottom: 2px solid #7ab445;
		a{
			color: #7ab445;
			font-size: 18px;
			font-weight: normal;
			@media screen and (max-width: 320px) {
				font-size: 16px;
			}
			@media screen and (min-width: 414px) {
				font-size: 20px;
			}
			@media screen and (min-width: 480px) {
				font-size: 18px;
			}
			@media screen and (min-width: 640px) {
				font-size: 20px;
			}
			@media screen and (min-width: 736px) {
				font-size: 22px;
			}
		}
	}
	.mnCM-expand{
		top: 4%;
		margin-top: 0;
		@media screen and (max-width: 320px) {
			top: 0;
		}
		@media screen and (min-width: 414px) {
			top: 9%;
		}
		@media screen and (min-width: 480px) {
			top: 4%;
		}
		@media screen and (min-width: 640px) {
			top: 9%;
		}
	}
	.icoBars{
		background: url('../images/memu-icon.png') no-repeat;
		width: 20px;
		height: 21px;
		top: 10px;
		right: 10px;
	}
	.listMenuChild{
		background-color: #f7f7f7;
		padding: 4px 15px;
		display: block;
		li{
			border-right-color: #d7d7d7;
			a{
				font-size: 14px;
				color: #6b6b6b;
				@media screen and (max-width: 320px) {
					font-size: 12px;
				}
				@media screen and (min-width: 414px) {
					font-size: 16px;
				}
				@media screen and (min-width: 480px) {
					font-size: 14px;
				}
				@media screen and (min-width: 640px) {
					font-size: 16px;
				}
				@media screen and (min-width: 736px) {
					font-size: 18px;
				}
			}
		}
	} 
}