.boxCateHead{
	&.mainSec{
		.mnWrap{
			padding: 0 10px 3px;
			border-top: 0;
			border-bottom: 2px solid #7ab445;
			margin: 15px 0 0;
			position: relative;
			a{
				color: #7ab445;
			}
		}
	}
	.mnCM-expand{
		top: 11%;
		margin-top: 0;
		@media screen and (max-width: 320px) {
			top: 7%;
		}
		@media screen and (min-width: 414px) {
			top: 13%;
		}
		@media screen and (min-width: 480px) {
			top: 11%;
		}
		@media screen and (min-width: 640px) {
			top: 13%;
		}
		@media screen and (min-width: 736px) {
			top: 15%;
		}
	}
	.icoBars{
		background: url('../images/memu-icon.png') no-repeat;
		width: 20px;
		height: 21px;
		top: 10px;
		right: 10px;
	}
	.listMenuChild{
		background-color: #f7f7f7;
		padding: 10px;
		display: block;
		li{
			border-right-color: #d7d7d7;
			a{
				font-size: 14px;
				color: #6b6b6b;
				@media screen and (max-width: 320px) {
					font-size: 12px;
				}
				@media screen and (min-width: 414px) {
					font-size: 16px;
				}
				@media screen and (min-width: 480px) {
					font-size: 14px;
				}
				@media screen and (min-width: 640px) {
					font-size: 16px;
				}
				@media screen and (min-width: 736px) {
					font-size: 18px;
				}
			}
		}
	}
	.logoBrand{
		font-size: 14px;
		padding: 0 7px;
		border-radius: 3px;
		position: absolute;
		bottom: 6px;
		right: 40px;
		img{
			vertical-align: -6px;
		}
		@media screen and (max-width: 320px) {
			font-size: 12px;
		}
		@media screen and (min-width: 414px) {
			font-size: 16px;
		}
		@media screen and (min-width: 480px) {
			font-size: 14px;
		}
		@media screen and (min-width: 640px) {
			font-size: 16px;
		}
		@media screen and (min-width: 736px) {
			font-size: 18px;
		}
	} 
}
