/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2018, 8:47:59 AM
    Author     : HP1
*/
footer {
    padding: 10px;
}
.menRt {
    background: #464646;
}
.schBx {
    border-bottom: #ebebeb solid 1px;
    padding: 10px;
    position: relative;
}
.schTxtBx {
    background: #d7d7d7;
    border: 0;
    padding: 10px 50px 10px 10px;
    width: 100%;
    height: 40px;
    color: #666;
    border-radius: 3px;
    font-size: 14px;
}
.schBtn {
    border: none;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #78b43d url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 10px -980px;
    float: right;
    border-radius: 0 3px 3px 0;
}
.mnRt li {
    display: block;
    list-style: none;
    position: relative;
    border-bottom: #555 solid 1px;
}
.show-menu-input {
    display: none;
}
.mnRt li a.home {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 15px -927px;
    padding-left: 47px;
}
.mnRt li a {
    padding: 9px 15px;
    color: #fff;
    display: block;
}
.show-menu {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 20px -754px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 70px;
    height: 40px;
    border: none;
    text-indent: 999999px;
}
.mnRt label {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 700;
}
.hide-menu {
    display: none;
}
.mnRt li .submenu-header {
    margin: 0;
    padding: 0;
    background: #636363;
}
.submenu-header {
    display: none;
}
input:checked ~ .show-menu ~ .hide-menu {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 20px -665px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 70px;
    height: 40px;
    border: none;
    display: block;
}
input:checked ~ .show-menu ~ .hide-menu ~ .submenu-header {
    display: block;
}
input:checked ~ .show-menu {
    display: none;
}
input:checked ~ .show-menu ~ .hide-menu ~ .submenu-header ul li {
    padding-left: 15px;
}

/*Start menu right*/
.mnTpImg1 {
    width: 20px;
    height: 20px;
    background: url(images/ico1.png);
}
.mnTpImg2 {
    width: 20px;
    height: 20px;
    background: url(images/ico2.png);
}
.mnTpImg3 {
    width: 20px;
    height: 20px;
    background: url(images/ico3.png);
}
.mnTpImg4 {
    width: 20px;
    height: 20px;
    background: url(images/ico4.png);
}
/*End menu right*/
@media only screen and (min-width: 688px) {
    #footer p {
        font-size: 20px;
    }
    .menutp ul li a, .txtMn, .schTxtBx {
        font-size: 22px;
    }
    .mnRt li a, .ftMn2 a {
        font-size: 24px;
    }
}
@media only screen and (min-width: 569px) and (max-width: 677px) {
    #footer p {
        font-size: 18px;
    }
    .menutp ul li a, .txtMn, .schTxtBx {
        font-size: 20px;
    }
    .mnRt li a, .ftMn2 a {
        font-size: 22px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 568px) {
    #footer p {
        font-size: 16px;
    }
    .menutp ul li a, .txtMn, .schTxtBx {
        font-size: 18px;
    }
    .mnRt li a, .ftMn2 a {
        font-size: 20px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    #footer p {
        font-size: 14px;
    }
    .menutp ul li a, .txtMn, .schTxtBx {
        font-size: 16px;
    }
    .mnRt li a, .ftMn2 a {
        font-size: 18px;
    }
}
// begin bangnd 7/11/2018 XLCYCMHENG_33212_bo_sung_logo_khach_hang_len_menu
.aff-xanh > a{
    background-color: #50b849;
    background-image: url(//cdn.24h.com.vn/images/detox3-092018.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 70px;
}
.aff-nau > a{
    background-color: #7d450a;
    background-image: url(//cdn.24h.com.vn/images/cumar3-092018.jpg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    margin-right: 70px;
}
// end bangnd 7/11/2018 XLCYCMHENG_33212_bo_sung_logo_khach_hang_len_menu