.nwsItAtcl {
    color: #000;
    overflow: hidden;
}

/*begin toi_uu_css_amp dangtq 2019*/
/*.atclTit {
    color: #000;
}*/
/*end toi_uu_css_amp dangtq 2019*/

.articleBody p{
    padding: 0 10px;
}
.articleBody .albumCnt .txtIlImg {
    padding: 10px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ebebeb;
}

/*begin toi_uu_css_amp dangtq 2019*/
/*.atclRdSb .lind {
    border-bottom: 1px dotted #78b43d;
}*/
/*end toi_uu_css_amp dangtq 2019*/

.atclTit h1 {
    font-size: 24px;
}
.sbNws {
    font-size: 12px;
    color: #7d7d7d;
    float: left;
    margin-right: 5px;
}
.nwsHt .tmPst {
    color: #959595;
}
/*Start fix banner 18052018*/
.nwsHt {
    background-color: #fff;
}
/*End fix banner 18052018*/

/*Start bai viet lien quan*/
/*Begin toi_uu_css_amp dangtq 2019*/
/*.bv-lq-inner {
    padding: 10px 10px 0;
    border: 1px solid #82b440;
    clear: both;
    margin-top: 5px;
}
.bv-lq-inner .imgFloat {
    float: none;
    margin-right: 0;
}
.bv-lq-inner .imgFloat amp-img {
    display: block;
    width: 100%;
}
*/
/*End toi_uu_css_amp dangtq 2019*/
.content-bv-lq p {
    font-size: 18px;
}
/*Begin toi_uu_css_amp dangtq 2019*/
/*.title-bv {
    margin-top: 20px;
    text-align: justify;
}
.title-bv a {
    font-weight: 700;
}
*/
/*End toi_uu_css_amp dangtq 2019*/

/*begin toi_uu_css_amp dangtq 2019*/
/*.see-now {
    text-align: center;
    border: 1px solid #82b440;
    margin-top: -1px;
    padding: 6px;
    background-color: #82b440;
    margin-right: -10px;
    margin-left: -10px;
}
.see-now a {
    font-size: 18px;
    color: #fff;
}*/
/*end toi_uu_css_amp dangtq 2019*/

/*begin 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
.nguontin {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    /*text-align: right;*/ /*begin toi_uu_css_amp dangtq 2019*/
    margin-bottom: 10px;
    text-transform: none;
}
.nguontin em{
    font-style: normal;
    font-weight: normal;
}
/*end 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
/*End bai viet lien quan*/

/*begin toi_uu_css_amp dangtq 2019*/
/*Start blq tren*/
/*.GrnBxBgLht {
    background: #eaf8d2;
    padding: 7px 10px;
    margin-top: 10px;
}
.GrnBxBgLht p{
    margin: 0;
    color: #000;
    background: url(//cdn.24h.com.vn/images/2014/sprites.png) 1px -538px no-repeat;
    text-decoration: none;
    padding: 4px 12px 2px;
    border-bottom: #e1e1e1 solid 1px;
}
.GrnBxBgLht a {
    color: #000;
    font-size: 16px;
}*/
/*End blq tren*/
/*end toi_uu_css_amp dangtq 2019*/

/*Start bai lien quan duoi*/
.atclRdSbIn span.imgFlt {
    width: 139px;
    float: left;
    margin-right: 10px;
}
.atclRdSbIn .nwsTit {
    padding: 0;
    width: inherit;
    margin-left: 0;
    float: inherit;
    width: 51%;
}
/* begin BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.atclRdSbIn span.imgFlt amp-img {
    width: 100%;
    height: inherit;
    display: block;
}
/* end BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
/*begin 04/01/2019 dangtq Bỏ nền gạch sọc chéo dưới bài PR box tin*/
.atclRdPr  {
    margin-bottom: 10px;
}
/*end 04/01/2019 dangtq Bỏ nền gạch sọc chéo dưới bài PR box tin*/
.ifTtr {
    font-size: 10px;
    margin-bottom: 3px;
    color: #999;
    font-weight: 400;
    display: block;
}
.atclRdSbIn .nwsTit a {
    color: #333;
}


/*End bai lien quan duoi*/

/*Start tin cung su kien*/
/*Begin toi_uu_css_amp dangtq 2019*/
.tbLngble {
    /*padding: 0 0 10px;
    font-weight: 700;
    position: relative;
    padding-bottom: 0;*/
    border-bottom: 2px solid #7ab345;
    line-height: 2;
    margin-bottom: 0;
    clear: both;
}
/*End toi_uu_css_amp dangtq 2019*/

/*begin toi_uu_css_amp dangtq 2019*/
/*.disnone {
    display: none;
}*/
/*end toi_uu_css_amp dangtq 2019*/


/*End tin cung su kien*/

/*begin toi_uu_css_amp dangtq 2019*/
/*.pgS3 {
    margin-top: 10px;
}
.pgS3 a {
    display: inline-block;
    background: #fff;
    border: #e1e1e1 solid 1px;
    padding: 8px 14px;
    font-size: 18px;
    text-align: center;
    margin-right: 5px;
    color: #000;
}
.pgS3 .Atv {
    background: #7d7d7d;
    color: #fff;
    border: #7d7d7d solid 1px;
}*/
/*end toi_uu_css_amp dangtq 2019*/

/*Start bai nhieu ky*/

/*begin toi_uu_css_amp dangtq 2019*/
/*.seeMrMul span {
    color: #5ca038;
    font-size: 14px;
}
.pgS2 {
    background: #ebebeb;
    padding-left: 10px;
}
.pgS2 a {
    padding: 10px 5px;
    display: inline-block;
    color: #000;
}
.pgS2 a.Prv {
    background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -625px;
}
.pgS2 a.Nxt,
.pgS2 a.Prv,
.pgS2 a.Nws {
    font-size: 12px;
    text-transform: uppercase;
}
*/
/*end toi_uu_css_amp dangtq 2019*/

/*begin toi_uu_css_amp dangtq 2019*/
/*.pgS2 a.Prv {
    background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -623px;
    padding-left: 15px;
    float: left;
}
.pgS2 a.Nxt {
    background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -584px;
    padding-right: 15px;
    float: right;
}
.pgPge {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #7d7d7d;
    border-left: #d7d7d7 solid 1px;
    border-right: #d7d7d7 solid 1px;
    font-size: 12px;
}
.pgS2 a.Nws {
    background: #fff;
    float: right;
    margin: 1px 1px 1px 10px;
    padding: 9px 10px;
}
*/
/*end toi_uu_css_amp dangtq 2019*/
/*End bai nhieu ky*/

/*Start bai bong da*/
/*Begin toi_uu_css_amp dangtq 2019*/
/*.ftNm {
    color: #666;
    font-size: 18px;
}

.ftSce {
    color: #eb1b22;
    font-size: 40px;
}

.tbBgGr {
    background-color: #ebebeb;
}

.tbBgGr td:nth-child(odd) {
    border-right: 1px solid #ddd;
}

.ttTt a {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bxGryBr {
    border: #d7d7d7 solid 1px;
}

.titOrge {
    background: #f17920;
    font-weight: 700;
    color: #fff;
    padding: 2px 10px;
    margin-right: 5px;
    font-size: 14px;
}

.icoWhle {
    display: inline-block;
    vertical-align: middle;
    background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) 0 -1334px no-repeat;
    width: 28px;
    height: 22px;
}

.bxGrBr {
    background: #ebebeb;
    border: #d7d7d7 solid 1px;
    padding: 10px;
    margin-bottom: 10px;
}

.vidHiLt {
    display: flex;
}

.btnGrnBig,
.btnGryBig {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 -2px rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    width: 50%;
}

.btnGrnBig {
    background-color: #78b43d;
}
.btnGryBig {
        background-color: #000;
}
*/
/*End toi_uu_css_amp dangtq 2019*/

/*End bai bong da*/

/*Start video highlight*/
.frmZplayer {
    border: 1px solid #ddd;
    max-width: 100%;
    display: inline-block;
    max-height: 140px;
    overflow-x: hidden;
    width: 100%;
}
.ptVidZplayer {
    text-align: left;
}
.ptVidZplayer span {
    padding: 1px 10px;
    background: #ddd;
    color: #000;
    font-weight: 700;
}
.bxTmHgLit {
    margin-left: -1%;
    margin-right: -1%;
}
.tmHgLit {
    width: 100%;
    text-align: left;
    border-top: 1px solid #ddd;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.tmHgLit a.HgLit {
    color: #000;
}
.icoEvtHgLit {
    width: 23px;
    height: 23px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    margin-top: -3px;
    float: left;
}
/* begin BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.icoEvtHgLit amp-img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    position: absolute;
    top: 3px;
    right: -5px;
    width: 18px;
    height: 29px;
}
/* end BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.frmZplayer::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
.frmZplayer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a1a1a1;
}
.frmZplayer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*End video highlight*/

/*begin toi_uu_css_amp dangtq 2019*/
/*Start dang bang, quote*/
/*.tblArtl {
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(222, 241, 200);
    padding: 5px;
    z-index: 3;
    position: relative;
}
.tblArtl p {
    margin: 0;
}
blockquote {
    font-style: italic;
    font-family: Georgia,Times,"Times New Roman",serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}*/
/*End dang bang*/

/*.evtHlt h2{
    font-size: 18px;
} 
.evtHlt .tbTcb {
    padding: 10px;
}*/
/*end toi_uu_css_amp dangtq 2019*/

.evtBxTit a {
    font-size: 18px;
    color: #333;
}
.evtBx .imgNwsMdm {
    width: 45%;
    height: auto;
    margin-right: 4%;
}
/* begin BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.evtBx .imgNwsMdm a amp-img {
    width: 100%;
    display: block;
}
/* end BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.evtBx .evtBxSp {
    float: left;
    width: 51%;
    color: #333;
    margin-top: -5px;
    background: none;
    padding: 0;
    margin-bottom: 5px;
    font-size: 14px;
    display: inline;
    line-height: 1.3;
}

/*---Start box nhieu nguoi doc---*/
.bxRdPsn {
    padding: 7px;
    border: 1px solid #f17920;
    border-top: 6px solid #f17920;
}
.tbLngrn {
    color: #f17920;
    border-bottom: 0;
    padding: 14px 0; /*begin 17/01/2019 dangtq*/
    font-weight: 700;
    position: relative;
}
.tbLngrn a,
.tbLngrn h2 {
    font-size: 18px;
    margin: 0;
}
.tbLngrn h2 {
    color: #f17920;
}
.bxRdPsnLt a {
    font-size: 16px;
    line-height: 1.5;
} 
.bxRdPsn .boxGrey {
    background: none;
    padding: 0;
}
.bxRdPsn .nwsItHm {
    display: inline-block;
    width: 100%;
    clear: both;
}
.bxRdPsn .bxRdPsnLt {
    width: 70%;
    float: left;
    background: none;
    padding-left: 0;
    padding-right: 10px;
}
.bxRdPsn .nwsItHm .nwsIt {
    width: 30%;
    float: left;
}
/*---End box nhieu nguoi doc---*/

/*---Start media query---*/
@media only screen and (max-width: 598px) {
    .imgFlt {
        margin-right: 10px;
    }    
}
@media only screen and (min-width: 668px){
    .txtBnrHor span {
        font-size: 16px;
    }
        .ifTtr,
        .blqPr .extTit,
        .extTit span {
        font-size: 18px;
    }
        .tmPst a,
        .extTit a,
        .tmPst,
        .seMr a,
        .pagS2 a.Next,
        .pagS2 a.Prev,
        .pagS2 a.New,
        #footer p,
        .pagPge,
        .nguontin,
        .menutp ul li a,
        .tmEvt .nmEvt,
        .pgS2 a.Nxt,
        .pgS2 a.Prv,
        .pgS2 a.Nws,
        .pgPge,
        .blk .ftLstVid .vidSeMr a,
        .pagS2 .pagPge,
        .thethaoCnt td,
        .pollTop, .plNum {
        font-size: 20px;
    }
        .icoSkn span,
        .txtMn,
        .icoSkn a,
        .nwsTitHm,
        .tpcHt .tpcLitIt li a,
        .tbCmg ul li a,
        .tbCmg ul li,
        .cateOthr li a,
        .mveCte span,
        .evtBx .evtBxSp,
        .sbNws,
        .mnRtCls,
        .seeMrMul span,
        .plTp,
        .titOrge,
        .btnGrnBig,
        .btnGryBig, .plAnwr {
        font-size: 22px;
    }
        .bdBrk,
        .nwsTitSlHm,
        .titTp a,
        .ldIt a,
        .ldIt2 a,
        .vidIt a,
        .vidItRt a,
        .tbTcb,
        .tcbIt li a,
        .tbCmg h1,
        .ftMn2 a,
        .tbTcb a,
        .ctTp,
        .tbCmg ul li .mnAtv,
        .bxRdPsnLt a,
        .atclRdSbIn .nwsTit a,
        .plContnr,
        .sbevt,
        p,
        .content-video .vdFul a,
        .bxVidTit .mnItTit a,
        .bxMncm li a,
        .chuyen-huong a,
        .pollContainer,
        .box-grey-br, .boxGreyBr b, .content-bv-lq p,
        .see-now a {
        font-size: 24px;
    }
        .tbCmCent a,
        .evtBxTit a,
        .tbLngrn a,
        .tbLngrn h2,
        .evtHlt h2,
        .tbLngble h3,
        .bongda-name {
        font-size: 26px;
    }
    .titNws a {
        font-size: 28px;
    }
    .title-bv a {
        font-size: 30px;
    }
    .atclTit h1 {
            font-size: 30px;
    }
    }

@media only screen and (min-width: 569px) and (max-width: 667px) {
    .txtBnrHor span {
        font-size: 14px;
    }
        .ifTtr,
        .blqPr .extTit,
        .extTit span {
        font-size: 16px;
    }
        .tmPst a,
        .extTit a,
        .tmPst,
        .seMr a,
        .pagS2 a.Next,
        .pagS2 a.Prev,
        .pagS2 a.New,
        #footer p,
        .pagPge,
        .nguontin,
        .menutp ul li a,
        .tmEvt .nmEvt,
        .pgS2 a.Nxt,
        .pgS2 a.Prv,
        .pgS2 a.Nws,
        .pgPge,
        .blk .ftLstVid .vidSeMr a,
        .pagS2 .pagPge,
        .thethaoCnt td,
        .pollTop, .plNum {
        font-size: 18px;
    }
        .icoSkn span,
        .txtMn,
        .icoSkn a,
        .nwsTitHm,
        .tpcHt .tpcLitIt li a,
        .tbCmg ul li a,
        .tbCmg ul li,
        .cateOthr li a,
        .mveCte span,
        .evtBx .evtBxSp,
        .sbNws,
        .mnRtCls,
        .seeMrMul span,
        .plTp,
        .titOrge,
        .btnGrnBig,
        .btnGryBig, .plAnwr {
        font-size: 20px;
    }
        .bdBrk,
        .nwsTitSlHm,
        .titTp a,
        .ldIt a,
        .ldIt2 a,
        .vidIt a,
        .vidItRt a,
        .tbTcb,
        .tcbIt li a,
        .tbCmg h1,
        .ftMn2 a,
        .tbTcb a,
        .ctTp,
        .tbCmg ul li .mnAtv,
        .bxRdPsnLt a,
        .atclRdSbIn .nwsTit a,
        .plContnr,
        .sbevt,
        p,
        .content-video .vdFul a,
        .bxVidTit .mnItTit a,
        .bxMncm li a,
        .chuyen-huong a,
        .pollContainer,
        .box-grey-br, .boxGreyBr b, .content-bv-lq p,
        .see-now a {
        font-size: 22px;
    }
        .tbCmCent a,
        .evtBxTit a,
        .tbLngrn a,
        .tbLngrn h2,
        .evtHlt h2,
        .tbLngble h3,
        .bongda-name {
        font-size: 24px;
    }
    .titNws a {
        font-size: 26px;
    }
    .title-bv a {
        font-size: 28px;
    }
    .atclTit h1 {
            font-size: 28px;
    }
    }

@media only screen and (min-width: 480px) and (max-width: 568px) {
    .txtBnrHor span {
        font-size: 12px;
    }
        .ifTtr,
        .blqPr .extTit,
        .extTit span {
        font-size: 14px;
    }
        .tmPst a,
        .extTit a,
        .tmPst,
        .seMr a,
        .pagS2 a.Next,
        .pagS2 a.Prev,
        .pagS2 a.New,
        #footer p,
        .pagPge,
        .nguontin,
        .menutp ul li a,
        .tmEvt .nmEvt,
        .pgS2 a.Nxt,
        .pgS2 a.Prv,
        .pgS2 a.Nws,
        .pgPge,
        .blk .ftLstVid .vidSeMr a,
        .pagS2 .pagPge,
        .thethaoCnt td,
        .pollTop, .plNum {
        font-size: 16px;
    }
        .icoSkn span,
        .txtMn,
        .icoSkn a,
        .nwsTitHm,
        .tpcHt .tpcLitIt li a,
        .tbCmg ul li a,
        .tbCmg ul li,
        .cateOthr li a,
        .mveCte span,
        .evtBx .evtBxSp,
        .sbNws,
        .mnRtCls,
        .seeMrMul span,
        .plTp,
        .titOrge,
        .btnGrnBig,
        .btnGryBig, .plAnwr {
        font-size: 18px;
    }
        .bdBrk,
        .nwsTitSlHm,
        .titTp a,
        .ldIt a,
        .ldIt2 a,
        .vidIt a,
        .vidItRt a,
        .tbTcb,
        .tcbIt li a,
        .tbCmg h1,
        .ftMn2 a,
        .tbTcb a,
        .ctTp,
        .tbCmg ul li .mnAtv,
        .bxRdPsnLt a,
        .atclRdSbIn .nwsTit a,
        .plContnr,
        .sbevt,
        p,
        .content-video .vdFul a,
        .bxVidTit .mnItTit a,
        .bxMncm li a,
        .chuyen-huong a,
        .pollContainer,
        .box-grey-br, .boxGreyBr b, .content-bv-lq p,
        .see-now a {
        font-size: 20px;
    }
        .tbCmCent a,
        .evtBxTit a,
        .tbLngrn a,
        .tbLngrn h2,
        .evtHlt h2,
        .tbLngble h3,
        .bongda-name {
        font-size: 22px;
    }
    .titNws a {
        font-size: 24px;
    }
    .title-bv a {
        font-size: 26px;
    }
    .atclTit h1 {
            font-size: 26px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .txtBnrHor span {
            font-size: 11px;
    }
        .ifTtr,
        .blqPr .extTit,
        .extTit span {
        font-size: 12px;
    }
        .tmPst a,
        .extTit a,
        .seMr a,
        .pagS2 a.Next,
        .pagS2 a.Prev,
        .pagS2 a.New,
        .pagPge,
        .tmEvt .nmEvt,
        .pgS2 a.Nxt,
        .pgS2 a.Prv,
        .pgS2 a.Nws,
        .pgPge,
        .blk .ftLstVid .vidSeMr a,
        .pagS2 .pagPge,
        .thethaoCnt td,
        .pollTop, .plNum {
        font-size: 14px;
    }
        .icoSkn span,
        .icoSkn a,
        .nwsTitHm,
        .tpcHt .tpcLitIt li a,
        .tbCmg ul li,
        .mveCte span,
        .mnRtCls,
        .seeMrMul span,
        .plTp,
        .titOrge,
        .btnGrnBig,
        .btnGryBig, .plAnwr {
        font-size: 16px;
    }
        .bdBrk,
        .titTp a,
        .vidIt a,
        .vidItRt a,
        .tbTcb,
        .tcbIt li a,
        .tbCmg h1,
        .tbTcb a,
        .ctTp,
        .bxRdPsnLt a,
        .atclRdSbIn .nwsTit a,
        .plContnr,
        .sbevt,
        p,
        .content-video .vdFul a,
        .bxVidTit .mnItTit a,
        .bxMncm li a,
        .chuyen-huong a,
        .pollContainer,
        .box-grey-br, .boxGreyBr b, .content-bv-lq p,
        .see-now a {
        font-size: 18px;
    }
        .tbCmCent a,
        .evtBxTit a,
        .tbLngrn a,
        .tbLngrn h2,
        .evtHlt h2,
        .tbLngble h3,
        .bongda-name {
        font-size: 20px;
    }
    .titNws a {
        font-size: 22px;
    }
    .title-bv a {
        font-size: 24px;
    }
    .atclTit h1 {
        font-size: 26px;
    }
}

@media only screen and (min-width: 480px) {
    .menutp ul li {
        padding: 10px 7px;
    }
    /*Begin toi_uu_css_amp dangtq 2019*/
    /*.pagS2 a.Prev {
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -620px;
    }
    .pagS2 a.Next {
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -580px;
    }
    .gopy {
        width: 480px;
        margin: 0 auto;
    }*/
    /*End toi_uu_css_amp dangtq 2019*/
}
@media only screen and (min-width: 599px) {
    /*Begin toi_uu_css_amp dangtq 2019*/
    /*.pgS2 a.Nxt {
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat right -580px;
    }
    .pgS2 a.Prv {
        background: url(//cdn.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 0 -620px;
    }*/
    /*End toi_uu_css_amp dangtq 2019*/
    .tmPst a {
        background-position: 0 -120px;
    }
    .nwsTitSlHm {
        background-position: 0 -1528px;
    }
    /*Begin toi_uu_css_amp dangtq 2019*/
    /*.menRt {
        width: 320px;
    }
    .mnRt li a {
        font-size: 20px;
    }*/
    /*Begin toi_uu_css_amp dangtq 2019*/
    }
    /* Begin - Tytv 14/12/2017 - xay_dung_banner_tai_tro_video*/
    #zone_banner_sponser_video.outiframe_banner_sponsor{margin-top: -21px;margin-left:-4px}
    #zone_banner_sponser_video{margin: auto}
    #zone_banner_sponser_product{margin:auto auto 15px auto}
    /* End - Tytv 14/12/2017 - xay_dung_banner_tai_tro_video*/    

/*begin toi_uu_css_amp dangtq 2019*/
/* Begin 06-08-2018 : Trungcq XLCYCMHENG_32140_bo_sung_muc_luc_bai_viet*/
/*.mucluc {
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}
.muclucCtn {
    padding: 10px;
}
.muclucTit {
    text-align: center;
}
.muclucTit span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.mucluc a {
    color: #78b43d;
    display: block;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}
.mucluc a:hover {
    text-decoration: underline;
}
.stepMl {
    padding-left: 15px;
}
.stepMl a {
    position: relative;
}
.stepMl a:before {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -15px;
    top: 13px;
    background-color: #78b43d;
}
.addInfo {
    padding-left: 30px;
}
.addInfo .addInfoLk {
    position: relative;
}
.addInfoLk:before {
    position: absolute;
    content: "";
    display: block;
    left: -15px;
    top: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #78b43d;
}
h3.toc_heading, h4.toc_heading, h5.toc_heading {
    font-size: 18px;
}
@media only screen and (min-width: 667px) {
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 24px;
    }
    .muclucTit span {
        font-size: 30px;
    }
    .mucluc a {
        font-size: 24px;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) {
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 22px;
    }
    .muclucTit span {
        font-size: 28px;
    }
    .mucluc a {
        font-size: 22px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 567px) {
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 20px;
    }
    .muclucTit span {
        font-size: 26px;
    }
    .mucluc a {
        font-size: 20px;
    }
}
@media only screen and (min-width: 361px) and (max-width: 479px) {
    .muclucTit span {
        font-size: 24px;
    }
    .mucluc a {
        font-size: 18px;
    }
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 18px;
    }
}*/
/* End 06-08-2018 : Trungcq XLCYCMHENG_32140_bo_sung_muc_luc_bai_viet*/
/*end toi_uu_css_amp dangtq 2019*/

/* begin BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
/*Begin toi_uu_css_amp dangtq 2019*/
/*.txtRt {
    text-align: right;
}*/
/*End toi_uu_css_amp dangtq 2019*/
/*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
.asiadTit {
    height: 37px;
    background: url('../images/sg30_top_bar2_mobile.jpg') no-repeat; /*18/11/2019: dangtq thay_background_sea_games_30*/
    background-size: cover; /*18/11/2019: dangtq thay_background_sea_games_30*/
    line-height: 37px;
}
.asiadTit span {
    font-size: 13px;
    color: #002a51;
}
/*End 18/11/2019: dangtq thay_background_sea_games_30*/
}
.asiadTb {
    width: 100%;
    border-collapse: collapse;
}
.asiadTb thead {
    border-bottom: 1px solid #ddd;
}
.asiadTb thead th{
    padding: 10px 4px;
    font-size: 14px;
    font-weight: 400;
    min-width: 32px;
    text-align: center;
}
}
.asiadTb thead th.txtLt {
    text-align: left;
}
.asiadTb tbody tr td {
    padding: 10px 4px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}
.asiadTb tbody tr td.txtLt {
    text-align: left;
}
.asiadTb tbody tr td.txtLt amp-img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    width: 32px;
    float: left;
}
.asiadVN {
    background-color: #fff2da;
}
.asiad-detail {
    padding-right: 10px;
}
.asiad-detail a {
    font-size: 12px;
    color: #78b43d;
    font-style: italic;
    text-decoration: underline;
}
@media only screen and (min-width: 668px) {
    .asiadTb tbody tr td, .asiadTb thead th {
        font-size: 22px;
    }
    .asiad-detail a {
        font-size: 20px;
    }
}
@media only screen and (min-width: 569px) and (max-width: 667px) {
    .asiadTb tbody tr td, .asiadTb thead th {
        font-size: 20px;
    }
    .asiad-detail a {
        font-size: 18px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 568px) {
    .asiadTb tbody tr td, .asiadTb thead th {
        font-size: 18px;
    }
    .asiad-detail a {
        font-size: 16px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .asiadTb tbody tr td, .asiadTb thead th {
        font-size: 16px;
    }
    .asiad-detail a {
        font-size: 14px;
    }
}
@media only screen and (min-width: 375px) {
    .asiadTit span {
        font-size: 15px; /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    }
}
/* end BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */

/* begin DangTQ 14/10/2018 */
a.sbevt.clrGr{
    font-size: 12px;
    color: #378b36;
    font-weight: normal;
}
/*Begin toi_uu_css_amp dangtq 2019*/
.tbLngble h3{
    font-size: 18px;
    color: #7ab345;
    /*overflow: hidden;
    display: block;
    width: 100%;*/
}
/*End toi_uu_css_amp dangtq 2019*/
.atclRdSbIn .nwsTit a{
    font-size: 14px;
}
.tbCmg {
    background: #fff;
}

h4{
    margin: 0;
}
.bxLlq .nwsItHm{
    padding: 0;
    background: none;
}
.more1{
    display: block;
    background-color: #ebebeb;
    text-align: center;
    color: initial;
    padding: 10px;
    margin: 0 7px;
    margin-top: 10px;
    font-size: 14px;
}
.sk .tbLngble{
    padding: 0 0 10px;
    font-weight: 700;
    position: relative;
    background-color: #e6f3d9;
    padding-bottom: 0;
    line-height: initial;
    margin-bottom: 10px;
    border-bottom: 0;
}
.sk h3 span{
    color: #fff;
}
/*begin 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
.sk .tbLngble h3 a{
    color: initial;
    font-weight: 700;
    padding: 5px 5px 5px 10px;
    display: block;
    padding-left: 30%;
}
/*end 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
.tttd>header a,
.tcbds >header a{
    display: block;
    color: #7ab345;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #7ab345;
    line-height: 2;
}
.ttdn>header a{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ef7930;
    padding: 0 7px;
    line-height: 2;
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -40px -3790px;
    padding-left: 35px;
}
.ngd{
    border-top: 2px solid #7ab345;
    background-color: #eeeeee;
    padding-left: 0;
}
.ngd .bxRdPsnLt a{
    font-size: 14px;
}
.ngd h4 {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #7ab345;
    text-align: center;
    margin: 0;
}
/* fix nhieu nguoi doc */
.ngd .ldItHm .stt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    background: #898989;
    color: #fff;
}
.ngd .ldItHm .stt.no1 {
    background: #ed1c24;
}
.ngd .ldItHm .stt.no2 {
    background: #ef7930;
}
.ngd .ldItHm .stt.no3 {
    background: #f5c031;
}
/*begin 17/01/2019 dangtq*/
.ngd .lh0{
    line-height: 0;
}
/*end 17/01/2019 dangtq*/
.ttdn .ngd{
    border-top: 2px solid #ef7930;
    padding-right: 10px;
    padding-top: 15px;
    background: #fff1d9;
}
.ttdn .clrDft{
    font-size: 14px;
}
.ttdn .dots li.active{
    background: #ef7930;
}
/* end DangTQ 14/10/2018 */

/* begin 15/10/2018 by dangtq */
/*Begin toi_uu_css_amp dangtq 2019*/
div.bv-lq-inner{
    position: relative;
    min-height: 190px;
    border: 0;
    border-top: 2px solid #7ab345;
    background-color: #f1f1f1;
    padding: 7px;
    clear: both;
    margin-top: 5px;
}
div.img-bv-lq{
    width: 150px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    float: none;
    margin-right: 0;
}
div.img-bv-lq .news-image{
    margin-left: 0;
    margin-right:0;
    display: block;
    width: 100%;
}
.title-bv{
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0;
    padding: 0 10px;
    text-align: justify;
}
.title-bv a{
    display: block;
    font-size: 18px;
    color: #3b8a3b;
    text-align: left;
    height: 42px;
    overflow: hidden;
    font-weight: 700;
}
/*End toi_uu_css_amp dangtq 2019*/
.ct-bv{
    width: 200px;
    float: right;
    position: absolute;
    bottom: 28px;
    right: 0;
    height: 96px;
    overflow: hidden;
    padding-right: 10px;
    }
.ct-bv p{
    font-size: 15px;
    margin: 0;
    text-align: left;
    line-height: 1.3;
    }
/* end 15/10/2018 by dangtq */

/* begin bai_tach_doi 16/10/2018 by DangTQ */
.artTd .artleBk{
    display: inline-block;
    border: 1px solid #7d7d7d;
    padding: 10px 15px;
    margin: 0 7px;  
    text-align: center;
}
.artTd .artleBk span{
    display: inline-block;
    font-size: 15px;
    color: #7d7d7d;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 40px;
    background: url(//cdn.24h.com.vn/images/Forma-1b-092018.png) no-repeat 15px;
}
.artTd .seeMrArtcl{
    display: block;
    padding: 0 0 15px 0;
}
.artTd .seeMrArtcl span{
    display: inline-block;
    font-size: 15px;
    color: #78b43d;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #78b43d;
    padding: 10px 15px;
    padding-right: 40px;
    background: url('//cdn.24h.com.vn/images/Forma-1-copyb-092018.png') no-repeat 155px;
}
.artTd p{
    font-size: 18px;
    padding: 0 7px;
}
.artTd p amp-img{
    display: block;
    margin-left: -7px;
    width: 104%;
}
/* end bai_tach_doi 16/10/2018 by DangTQ */
/* begin bai_nhieu_ky 16/10/2018 by DangTQ */
div.pgS2{
    background: none;
    border-bottom: 1px solid #78b43d;
    border-radius: 0;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}
.pgS2 .tit{
    font-size: 14px;
    color: #78b43d;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}
div.pgS2 .tit:before{
    content: '';
    position: absolute;
    height: 1px;
    top: 8px;
    left: 0;
    right: 70%;
    background: #78b43d;
}
div.pgS2 .tit:after{
    content: '';
    position: absolute;
    height: 1px;
    top: 8px;
    right: 0;
    left: 70%;
    background: #78b43d;
}
.pgS2 a{
    font-size: 12px;
    color: #757575;
    font-weight: normal;
    border: 1px solid #ebebeb;
    padding: 5px 7px;
    display: inline-block;
    margin: 0 2px;
    margin-bottom: 10px;
}
.pgS2 a:hover, .pgS2 a.active{
    background-color: #78b43d;
    color: #fff;
}
.pgS2 span{
    margin: 0 5px;
}
.artNk p{
    font-size: 17px;
    padding: 0 7px;
}
.artNk p img{
    display: block;
    margin-left: -7px;
    width: 104%;
}
/* end bai_nhieu_ky 16/10/2018 by DangTQ */
.tbCmg1 ul li a{
    font-size: 14px;
    color: #378b36;
}
.tbCmg1 ul li .Atv{
    font-size: 16px;
}
.eventList{
    margin-top: -6px;
}
.eventList h3{
    display: inline;
}

@media screen and (max-width: 320px) {
    /*begin 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
    .sk .tbLngble h3{
        max-height: 49px;
    }
    /*end 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
    .sk h3 span{
        padding: 5px 0;
    }
    .pgS2 a{
        padding: 5px 8px;
    }
}
/* end 25/10/2018 dangtq */
/* begin 26/10/2018 dangtq */
.nwsItHm>.tmPst>a{
    font-size: 12px;
}
/* end 26/10/2018 dangtq */
/* start:bangnd 26/10/2018 */
.imgNwsMdm {
    width: 139px;
    height: 104px;
    overflow: hidden;
}
/*begin toi_uu_css_amp dangtq 2019*/
/*.tbCmCent .lkHmVdCh {
    font-size: 17px;
    color: #78b43d;
}*/
/*end toi_uu_css_amp dangtq 2019*/
/* end:bangnd 26/10/2018 */

/*Begin 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
.artNk .pgS2 .paginext, .artNk .pgS2 .pagiprev{
    text-align: center;
    padding: 6px 11px;
    vertical-align: bottom;
}
.pagi-img{
    width: 8px;
    height: 12px;
}
/*End 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/

/* begin media */
@media only screen and (max-width: 812px) and (min-width: 569px){
    .title-bv a{
        height: 50px;
    }
    .icoTit:before{
        font-size: 15px;
    }
    div.img-bv-lq{
        height: 110px;
        overflow: hidden;
    }
    .sbNws{
        background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -1772px;
        padding-left: 15px;
    }
    .tbCmg{
        max-height: 100%;
    }
    .ifTtr{
        font-size: 14px;
    }
    .ct-bv{
        width: 500px;
        bottom: 23px;
    }
    .ct-bv p{
        font-size: 19px;
    }
    .ngd .ldItHm .stt, .tbCmg1 ul li .Atv{
        font-size: 20px;
    }
    .tttd>header a, .tcbds >header a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .title-bv a, .nguontin, .tbLngble h3{
        font-size: 22px;
    }
       /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    .tbCmg ul li a, .pgS2 .clrTit.fl, .pgS2 .clrTit.fr, .pgS2 .tit, .articleBody .albumCnt .txtIlImg, .ftMn2 a, .cateOthr li a, .evtHotCt .nwsTitHm, .seMore, .ctTpD, .vidIt a, .ttdn .clrDft, .ngd .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .ctTp, .nwsTitSlHm{
        font-size: 18px;
    }
    .asiadTit span{
        font-size: 17px;
    }
    /*End 18/11/2019: dangtq thay_background_sea_games_30*/
    .clrGrD, span.clrGr, .nwsHt .tmPst, .nwsItHm>.tmPst>a, #footer p, .pgS2 a, .bxRcdVid .video-body-tile a{
        font-size: 16px;
    }
    .tmPst a{
        background-position: -50px -1770px;
    }
    .vidIt.first a, .nwsTitHm h2.fs18, h2.fs18{
        font-size: 22px;
    }
    .lady a.title.tt{
        background-position: -50px -4138px;
    }
    .tmPst.pt8, .sbNws, a.sbevt.clrGr{
        font-size: 16px;
    }
    .evtBxSp .clrTit{
        font-size: 17px;
    }
    .brkLive{
        font-size: 18px;
        padding-right: 4px;
    }
    .tbLngble .parent {
        width: 16%;
    }

    /*Begin 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
    .artNk .pgS2 .paginext, .artNk .pgS2 .pagiprev{
        padding: 8px 11px;
    }
    /*End 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
}
@media only screen and (min-width: 569px) and (max-width: 666px){
    .ct-bv{
        width: 445px;
    }
}
@media screen and (min-width: 736px) and (max-width: 812px) {
    .title-bv a{
        height: 55px;
    }
    .icoTit:before{
        font-size: 17px;
    }
    .mainSec .icoTit:before {
        bottom: -4px;
    }
    .sbNws{
        background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -1772px;
        padding-left: 15px;
    }
    .ifTtr, .nwsHt .tmPst, .sbNws, a.sbevt.clrGr{
        font-size: 16px;
    }
    .ct-bv{
        width: 570px;
    }
    .ct-bv p{
        font-size: 21px;
    }
    .eventList{
        margin-top: -8px;
    }
    .ngd .ldItHm .stt, .tbCmg1 ul li .Atv, p, .nguontin{
        font-size: 22px;
    }
    .bxRcdVid .video-body-tile a, .clrGrD, .tmPst.pt8, span.clrGr, .nwsItHm>.tmPst>a, #footer p, .pgS2 a{
        font-size: 18px;
    }
        /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    .tbCmg ul li a, .pgS2 .clrTit.fl, .pgS2 .clrTit.fr, .pgS2 .tit, .articleBody .albumCnt .txtIlImg, .ftMn2 a, .cateOthr li a, .ctTp, .seMore, .evtHotCt .nwsTitHm, .vidIt a, .vidItRt a, .ttdn .clrDft, .ngd .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .ctTp, .nwsTitSlHm{
        font-size: 20px;
    }
    .asiadTit span{
        font-size: 19px;
    }
    /*End 18/11/2019: dangtq thay_background_sea_games_30*/
    .tttd>header a, .tcbds >header a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .title-bv a, .tbLngble h3{
        font-size: 24px;
    }
    .evtBxSp .clrTit{
        font-size: 19px;
    }
    .vidIt.first a, .nwsTitHm h2.fs18{
        font-size: 24px;
    }
    h2.sapo.fs18{
        font-size: 22px;
    }
    .brkLive{
        font-size: 20px;
        padding-right: 5px;
        width: 65px;
    }
    .vf .nwsTitSlHm{
        background-position: -50px -145px;
    }
    /*Begin 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
    .artNk .pgS2 .paginext, .artNk .pgS2 .pagiprev{
        padding: 9px 11px;
    }
    /*End 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
}
@media screen and (min-width: 812px) {
    .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li{
        font-size: 24px;
    }
    .tmPst.pt8, .nwsItHm>.tmPst>a, .evtBxSp .clrTit{
        font-size: 20px;
    }
    .vidIt a{
        font-size: 24px;
    }
}
@media screen and (min-width: 481px) and (max-width: 568px) {
    .title-bv a{
        height: 45px;
    }
    .icoTit:before{
        font-size: 13px;
    }
    div.img-bv-lq{
        height: 115px;
        overflow: hidden;
    }
    .sbNws{
        background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -1772px;
        padding-left: 15px;
    }
    .ifTtr{
        font-size: 12px;
    }
    .ct-bv{
        width: 400px;
    }
    .ct-bv p{
        font-size: 17px;
    }
    .ngd .ldItHm .stt, .tbCmg1 ul li .Atv{
        font-size: 18px;
    }
    .tbCmg ul li a, .pgS2 .clrTit.fl, .pgS2 .clrTit.fr, .pgS2 .tit, .articleBody .albumCnt .txtIlImg, .ftMn2 a, .clrGrD, .seMore, .evtHotCt .nwsTitHm, .ttdn .clrDft, .ngd .bxRdPsnLt a, .atclRdSbIn .nwsTit a, .ctTp, .nwsTitSlHm, .cateOthr li a{
        font-size: 16px;
    }
    .tttd>header a, .tcbds >header a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .title-bv a, .nguontin, .tbLngble h3{
        font-size: 20px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 15px;
    }
    .vidIt.first a, .nwsTitHm h2.fs18, h2.fs18{
        font-size: 20px;
    }
    span.clrGr, .nwsHt .tmPst, .sbNws, a.sbevt.clrGr, .nwsItHm>.tmPst>a, #footer p, .pgS2 a, .bxRcdVid .video-body-tile a{
        font-size: 14px;
    }
    .brkLive{
        font-size: 16px;
        padding-right: 6px;
    }
    /*Begin 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
    .artNk .pgS2 .paginext, .artNk .pgS2 .pagiprev{
        padding: 7px 11px;
    }
    /*End 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
}
/* chieu doc */
@media screen and (min-width: 360px) and (max-width: 413px) {
    /*begin 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
    .sk .tbLngble h3{
        max-height: 54px;
    }
    /*end 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
    .title-bv a{
        height: 49px;
    }
    .icoTit:before{
        font-size: 13px;
    }
    div.img-bv-lq{
        height: 105px;
        overflow: hidden;
    }
    .ct-bv{
        bottom: 25px;
        height: 88px;
        width: 200px;
    }
    .eventList{
        margin-top: -4px;
    }
    div.pgS2 .tit:before{
        right: 73%;
    }
    div.pgS2 .tit:after{
        left: 73%;
    }
    .sk h3 span{
        width: 30%;
    }
    .ct-bv p{
        font-size: 17px;
    }
    .bxRcdVid .video-body-tile a, .pgS2 a, a.sbevt.clrGr, .sbNws, .nwsHt .tmPst, .clrGrD, .tmPst a, .evtHotTit .txtTrf, .extTit a, .tpcHt .tpcLitIt li a, .tmPst.pt8, #footer p, span.clrGr, .nwsItHm>.tmPst>a{
        font-size: 14px;
    }
    .tbCmg ul li a, .pgS2 .clrTit.fl, .pgS2 .clrTit.fr, .pgS2 .tit, .articleBody .albumCnt .txtIlImg, .atclRdSbIn .nwsTit a, .ngd .bxRdPsnLt a, .ttdn .clrDft, .more1, .asiad-detail a, .ftMn2 a, .cateOthr li a, .ctTp.ctTpD, .seMore, .ctTp, .nwsTitSlHm, .evtHotCt .nwsTitHm, .tbCmg ul li, .seMr a, .tbCmg ul li .mnAtv, .vidIt a, .vidItRt a, .lady .nwsTitSlHm{
        font-size: 16px;
    }
    .nwsTitHm, .ldIt a, .ldIt2 a, .tcbIt li a, .ngd .ldItHm .stt, .tbCmg1 ul li .Atv{
        font-size: 18px;
    }
    .tttd>header a, .tcbds >header a, .tbLngble h3, .nguontin, .title-bv a, p, .ngd h4, .titTp a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .lady a.title.tt{
        font-size: 20px;
    }
    .menutp ul li{
        padding: 10px 2px;
    }
    .menutp ul li a, .txtMn, .evtHotTit .hotTb{
        font-size: 13px;
    }
    .tbCmCent a{
        font-size: 19px;
    }
    .vidIt.first a, .nwsTitHm h2.fs18, h2.fs18{
        font-size: 20px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 15px;
    }
    .titNws a.clrTit.bld{
        font-size: 24px;
    }
    .brkLive{
        font-size: 16px;
        padding-right: 6px;
    }
    .ttdn>header a{
        background-position: -40px -3787px;
    }
    /*Begin 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
    .artNk .pgS2 .paginext, .artNk .pgS2 .pagiprev{
        padding: 7px 11px;
    }
    /*End 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
}
@media screen and (min-width: 414px) and (max-width: 487px) {
    /*begin 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
    .sk .tbLngble h3{
        max-height: 61px;
    }
    /*end 11/01/2019 dangtq Tối ưu trang bài viết - Phiên bản mobile*/
    .title-bv a{
        height: 54px;
    }
    .icoTit:before{
        font-size: 15px;
    }
    div.img-bv-lq{
        height: 100px;
        overflow: hidden;
    }
    .ct-bv{
        bottom: 10px;
        height: 105px;
    }
    .eventList{
        margin-top: -3px;
    }
    div.pgS2 .tit:before{
        right: 73%;
    }
    div.pgS2 .tit:after{
        left: 73%;
    }
    .txtBnrHor span{
        font-size: 13px;
    }
    .sk h3 span{
        width: 29%;
    }
    .ifTtr, .nwsHt .tmPst, .sbNws, a.sbevt.clrGr{
        font-size: 14px;
    }
    .ct-bv{
        width: 245px;
        height: 96px;
        bottom: 16px;
    }
    .ct-bv p{
        font-size: 19px;
    }
    .atclTit h1{
        font-size: 28px;
    }
    .bxRcdVid .video-body-tile a, .pgS2 a, .clrGrD, .tmPst a, .evtHotTit .txtTrf, .extTit a, .tpcHt .tpcLitIt li a, .tmPst.pt8, #footer p, span.clrGr, .nwsItHm>.tmPst>a{
        font-size: 16px;
    }
    /*Begin 18/11/2019: dangtq thay_background_sea_games_30*/
    .tbCmg ul li a, .pgS2 .clrTit.fl, .pgS2 .clrTit.fr, .pgS2 .tit, .articleBody .albumCnt .txtIlImg, .atclRdSbIn .nwsTit a, .ngd .bxRdPsnLt a, .ttdn .clrDft, .more1, .asiad-detail a, .asiadTb tbody tr td, .asiadTb thead th, .ftMn2 a, .cateOthr li a, .ctTp.ctTpD, .seMore, .ctTp, .nwsTitSlHm, .evtHotCt .nwsTitHm, .tbCmg ul li, .seMr a, .tbCmg ul li .mnAtv, .vidIt a, .vidItRt a, .lady .nwsTitSlHm{
        font-size: 18px;
    }
    .asiadTit span{
        font-size: 17px;
    }
    /*End 18/11/2019: dangtq thay_background_sea_games_30*/
    .nwsTitHm, .vidIt.first a, .ldIt a, .ldIt2 a, .tcbIt li a, .ngd .ldItHm .stt, .tbCmg1 ul li .Atv, p, .nguontin{
        font-size: 20px;
    }
    .tttd>header a, .tcbds >header a, .tbLngble h3, .title-bv a, .ngd h4, .titTp a, .nwsItHm>.nwsTitHm>a, .lady > header a, .lady .nwsItHm>.evtBxTit>a, footer .tbCmg ul li, .ttdn>header a, .lady a.title.tt{
        font-size: 22px;
    }
    .menutp ul li{
        padding: 10px 2px;
    }
    .menutp ul li a, .txtMn, .evtHotTit .hotTb{
        font-size: 15px;
    }
    .tbCmCent a{
        font-size: 21px;
    }
    .vidIt.first a, .nwsTitHm h2.fs18{
        font-size: 22px;
    }
    h2.sapo.fs18{
        font-size: 20px;
    }
    .lady a.title.tt{
        background-position: -50px -4140px;
    }
    .evtBxSp .clrTit{
        font-size: 17px;
    }
    .titNws a.clrTit.bld{
        font-size: 26px;
    }
    .tmPst a{
        background-position: -50px -1771px;
    }
    .brkLive{
        font-size: 18px;
        padding-right: 4px;
    }
    .ttdn>header a{
        background-position: -40px -3786px;
    }
    /*Begin 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
    .artNk .pgS2 .paginext, .artNk .pgS2 .pagiprev{
        padding: 8px 11px;
    }
    /*End 30/11/2018 dangtq XLCYCMHENG_33486_xu_ly_validate_bai_nhieu_ky*/
}
@media screen and (max-width: 320px) {
    .menutp ul{
        padding-left: 13px;
    }
    .menutp ul li{
        padding: 10px 4px;
    }
    .ct-bv{
        width: 155px;
    }
    div.pgS2 .tit:before{
        right: 75%;
    }
    div.pgS2 .tit:after{
        left: 75%;
    }
    .pgS2 a{
        margin: 0 1px;
        margin-bottom: 10px;
    }
    div.img-bv-lq{
        height: 115px;
        overflow: hidden;
    }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    .menutp ul{
        padding-left: 8px;
    }
    .menutp ul li{
        padding: 10px 1px;
    }
}
/* end media */
/* begin 30/10/2018 */
.infoCnt .news-image{
    margin-left: 0;
}
.pollTop{
    padding: 3px 10px 7px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    background: #78b43d;
}
.btn-green{
    background-color: #78b43d;
    color: #FFF;
    padding: 5px 15px;
    display: block;
    white-space: nowrap;
    text-align: center;
    margin: 5px 0;
}
.pollContainer .news-image{
    margin-left: 0;
    width: 100%;
}
@media screen and (max-width: 812px) {
    p{
        margin: 10px 0;
    }
}
/* end 30/10/2018 */
/*start bangnd 30/10/1992 */
.bxDoRt {
    margin-left: 149px;
}
.data-embed-code-quiz {
    padding-left: 10px;
    padding-right: 10px;
}
.tbLngble .parent {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 28%;
    background-color: #7ab345;
    text-align: center;
}
.tbLngble .child {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
}
.tbLngble .inner {
    display: table-cell;
    vertical-align: middle;
}
/*bangnd 2/11 */
.mainSec.tbCmg1 .mnWrap {
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner_home {
    line-height: 0;
}
/* start fix table https://new.24h.com.vn/the-gioi-thoi-trang/vua-ra-bo-suu-tap-moi-vua-khuyen-mai-juno-lai-tao-con-sot-c672a924094.html */
.articleBody table {
    table-layout: auto;
    width: 100%;
}
.articleBody table td[valign="top"] {
    word-break: break-word;
}
.articleBody table td[valign="top"] p {
    padding:0 10px;
}
.articleBody table td p {
    padding: 0;
}
/* end fix table */
.pollContainer {
    margin-left: 10px;
    margin-right: 10px;
}
.tttd .mnCM-expand,
.tcbds .mnCM-expand {
    border-bottom: 0;
}
.articleBody amp-img {
    margin-left: -10px;
    margin-right: -10px;
}
.twentytwenty-container amp-img {
    margin: 10px auto;
}
.quiz-result {
    color: #78b43d;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

/*Begin template box pr nhãn - dangtq 12/4/2019*/
.lh0{
    line-height: 0;
}
/*End template box pr nhãn - dangtq 12/4/2019*/
/* Begin [ND24h] Tối ưu khoảng cách của tiêu đề và sapo trong trang bài viết 24h mobile - dangtq 7/5/2019 */
.atclTit.mrT20.mrB15{
    margin-top: 5px;
    margin-bottom: 10px;
}
.sapo.fs18{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* End [ND24h] Tối ưu khoảng cách của tiêu đề và sapo trong trang bài viết 24h mobile - dangtq 7/5/2019 */

/* Begin 9/7/2019: dangtq Toi_uu_bai_chua_muc_luc */
/* Begin 10/7/2019: dangtq Toi_uu_mat_can_le_bai_chua_muc_luc */
.mucluc {
    border: 1px solid #ddd;
    margin: 20px 10px;
}
/* Begin 10/7/2019: dangtq Toi_uu_mat_can_le_bai_chua_muc_luc */
.muclucCtn {
    padding: 10px;
}
.muclucTit {
    text-align: center;
}
.muclucTit span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.mucluc a {
    color: #78b43d;
    display: block;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}
.mucluc a:hover {
    text-decoration: underline;
}
.stepMl {
    padding-left: 15px;
}
.stepMl a {
    position: relative;
}
.stepMl a:before {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -15px;
    top: 13px;
    background-color: #78b43d;
}
.addInfo {
    padding-left: 30px;
}
.addInfo .addInfoLk {
    position: relative;
}
.addInfoLk:before {
    position: absolute;
    content: "";
    display: block;
    left: -15px;
    top: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #78b43d;
}
h3.toc_heading, h4.toc_heading, h5.toc_heading {
    font-size: 18px;
}
@media only screen and (min-width: 667px) {
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 24px;
    }
    .muclucTit span {
        font-size: 30px;
    }
    .mucluc a {
        font-size: 24px;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) {
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 22px;
    }
    .muclucTit span {
        font-size: 28px;
    }
    .mucluc a {
        font-size: 22px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 567px) {
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 20px;
    }
    .muclucTit span {
        font-size: 26px;
    }
    .mucluc a {
        font-size: 20px;
    }
}
@media only screen and (min-width: 361px) and (max-width: 479px) {
    .muclucTit span {
        font-size: 24px;
    }
    .mucluc a {
        font-size: 18px;
    }
    h3.toc_heading, h4.toc_heading, h5.toc_heading {
        font-size: 18px;
    }
}

/* Begin 9/7/2019: dangtq Toi_uu_quote_trong_noi_dung_bai */
blockquote{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}
/* End 9/7/2019: dangtq Toi_uu_quote_trong_noi_dung_bai */

/* Begin 10/7/2019: dangtq Toi_uu_mat_can_le_bai_chua_muc_luc */
.articleBody h3, .articleBody h4, .articleBody h5, .articleBody h6{
    padding: 0 10px;
}
/* End 10/7/2019: dangtq Toi_uu_mat_can_le_bai_chua_muc_luc */

/* Begin 16/7/2019: dangtq Toi_uu_ghi_chu_anh_trang_bai_viet */
.img_chu_thich_0407{
    color: rgb(37, 37, 37);
    font-style: italic;
    text-align: center;
    font-size: 14px;
}
@media screen and (min-width: 375px) {
    .img_chu_thich_0407{
        font-size: 16px;
    }
}
@media screen and (min-width: 414px) {
    .img_chu_thich_0407{
        font-size: 18px;
    }
}
@media screen and (min-width: 568px) {
    .img_chu_thich_0407{
        font-size: 16px;
    }
}
@media screen and (min-width: 640px) {
    .img_chu_thich_0407{
        font-size: 18px;
    }
}
@media screen and (min-width: 736px) {
    .img_chu_thich_0407{
        font-size: 20px;
    }
}
/* End 16/7/2019: dangtq Toi_uu_ghi_chu_anh_trang_bai_viet */

/* Begin 19/7/2019: dangtq toi_uu_text_ghi_chu_trong_noi_dung_bai_dai_ky */
.table_info_news_live.borders{
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(222, 241, 200);
}
.table_info_news_live.borders td{
    text-align: justify;
}
/* End 19/7/2019: dangtq toi_uu_text_ghi_chu_trong_noi_dung_bai_dai_ky */
/* Begin: 9-11-2019 bo_sung_link_goc_cho_bai_khai_thac_frontend */
p.linkOrigin {
  font-size: 14px;
  color: #757575;
  padding: 0;
  margin: 10px; }
  @media screen and (max-width: 320px) {
    p.linkOrigin {
      font-size: 12px; } }
  @media screen and (min-width: 414px) {
    p.linkOrigin {
      font-size: 16px; } }
  @media screen and (min-width: 480px) {
    p.linkOrigin {
      font-size: 14px; } }
  @media screen and (min-width: 640px) {
    p.linkOrigin {
      font-size: 16px; } }
  @media screen and (min-width: 736px) {
    p.linkOrigin {
      font-size: 18px; } }
/* ENd: 9-11-2019 bo_sung_link_goc_cho_bai_khai_thac_frontend */