/* ======================= cate.css =================== */
.brmCm2 {
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	display: block; /*Tối ưu CSS sau triển khai giao diện mới*/
}
.bdmHmTb {
	float: left;
	height: auto;
	line-height: 14px;
	padding: 2px 0 3px 0;
	font-size: 11px!important;
	font-weight: 600;
	color: #fff;
	padding-top: 5px; /*Tối ưu CSS sau triển khai giao diện mới*/
}
.bdmHmTb ul li {
	display: block;
	list-style: none;
}
.bdmHmTb a {
	font-size: 12px;
	font-weight: 600;
	color: #78b43d;
	line-height: 12px;
}
.brmCmTb {
	padding: 4px 3px;
	display: inline-block;
	float: left;
	color: #78b43d;
	font-weight: 600;
	border-radius: 2px;
	margin-left: 2px;
	margin-bottom: 3px;
}
.brmCmTb .menu-c2{
	top: 3px;
}
.brmCmTb ul li {
	list-style: none;
	display: inline;
	padding: 0 0 3px;
}
.brmCmTb a {
	color: #78b43d;
	padding-left: 5px;
}
.znMnCm2Brm {
	z-index: 99999;
	position: absolute;
}
/*Begin tối ưu CSS sau triển khai giao diện mới*/
.bmTpSeo {
	text-align: right;
	float: right;
	padding-top: 5px; 
	margin-right: 10px;
}
/*End tối ưu CSS sau triển khai giao diện mới*/
.bmTpSeo a {
	font-size: 11px;
}
.sbMnCate {
	position: relative;
	padding-bottom: 5px;
	margin-top: 5px;
}
.sbMnCateUl {
	padding-right: 20px;
}
/*Start duclv: 19/6/2018 tab wc*/
.sbMnCate ul li a {
	display: inline-block;
	margin-right: 2px;
	border-radius: 2px;
	padding: 5px;
	background: #e1e1e1;
	margin-top: 2px;
	margin-bottom: 2px;
	transition: background .3s,color .3s;
	-webkit-transition: background .3s,color .3s;
	-moz-transition: background .3s,color .3s;
	float: left;
	color: #212121;
	font-size: 11px;
	font-weight: initial; /*Tối ưu CSS sau triển khai giao diện mới*/
}
/*End duclv: 19/6/2018 tab wc*/
.sbMnCate ul li.dnSltUpn {
	background-color: #fff;
}
.dnSltUpn .icoUpSlt {
	background: #fff url(//cdn.24h.com.vn/images/icon-upselect.png) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	cursor: pointer;
}
.znMnCm2Brm ul li a {
	font-weight: 400;
	border-right: 0;
	background: #aad862 url(//cdn.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
	padding: 6px 0 5px 25px;
	width: 185px;
	line-height: 16px;
	color: #000!important;
	text-decoration: none;
	border-bottom: #78b43d solid 1px;
	float: left;
	transition: background .3s,color .3s;
	-webkit-transition: background .3s,color .3s;
	-moz-transition: background .3s,color .3s;
}
.sbMnCate ul li.dnSltUpn a.icoDnSlt {
	background: #fff url(//cdn.24h.com.vn/images/icon-downselect.png) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	position: absolute;
	top: 1px;
	right: 0;
	padding: 0;
	cursor: pointer;
}
.sbMnCate ul.sbMnCateUpn li:hover a, .sbMnCateUl>li:hover>a, .sbMnCate ul.sbMnCateUpn li:hover a {
	color: #fff;
	background: #666;
}
.sbMnCate ul li.dnSltUpn:hover .icoUpSlt {
	background: #fff url(//cdn.24h.com.vn/images/icon-upselect.png) no-repeat;
}
.znMnCm2Brm {
	display: none;
}
.mainCate {
	display: inline-block;
	width: 100%;
}
.atclMnBxImg {
	width: 180px;
	margin-right: 10px;
	float: left;
	position: relative;
}
.imgNwsMdm {
	width: 180px;
	height: 135px;
	position: relative;
}
.qteImg {
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #666;
}
.atclTpCt {
	width: 500px;
	float: left;
}
.titSb {
	font-size: 11px;
	padding: 0 0 3px 0;
}
.titSb a {
	font-size: 11px;
	text-decoration: none;
}
.nwsTitg {
	display: block;
	font-weight: 600;
	color: #5ca038;
	padding: 0 0 5px 0;
	font-size: 16px;
}
.updTm {
	color: #999;
	padding-bottom: 5px;
	font-weight: 500;
}
.nwSp {
	text-align: justify;
	display: block;
	color: #333;
	font-size: 13px;
	line-height: 16px;
}
.grnBxBg {
	background: #d5ecab;
	padding: 7px 10px;
	border-radius: 5px;
}
.grnBxBg .lstNws article a {
	font-size: 12px;    
	line-height: 18px;
}
.grnBxBg .lstNws article a:hover {
	color: #78b43d;
}
.bxDoiSbIt {
	width: 336px;
	float: left;
}
.bxDoiSbIt .nwsSp {
	padding-left: 120px;
	line-height: 18px;
}
.seMr {
	text-align: right;
	display: block;
	padding: 6px 0 0 0;
}
.seMr a {
	font-size: 11px;
	text-decoration: none;
	padding-left: 10px;
	background: url(//cdn.24h.com.vn/images/2014/sprites.png) 0 -615px no-repeat;
}
.seMr a:hover {
	text-decoration: underline;
	color: #777;
}
.bnrAtcl {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.ttdnTr .bx4TBtmHm{
	width: 687px;
	border-radius: 0;
	box-sizing: border-box;
	padding: 10px 0;
}
.bxCmSbPg {
	width: 100%;
	display: inline-block;
}
.sclDivSbPg .grnBxT {
	background-color: #d2577e;
}
.bxGrtt {
	border-left: #ebebeb solid 1px;
	border-right: #ebebeb solid 1px;
	border-bottom: #ebebeb solid 1px;
	padding: 6px 0 3px 6px;
	height: 245px;
}
.sclDiv {
	overflow-y: auto;
	overflow-x: hidden;
	width: 339px;
	height: 100%;
	_height: 213px;
	padding-left: 5px;
	_padding-left: 0;
}
.sclDivSbPg {
	width: 185px;
	padding-left: 0;
}
.bxCmSbPg .sclDivSbPg {
	width: 100%;
}
.bxCmSbPg .sclDiv article {
	float: left;
	padding: 2px 20px 6px 15px;
	width: 50%;
	box-sizing: border-box;
}
.bxCmSbPg .lstNml {
	background: url(//cdn.24h.com.vn/images/2014/sprites-eva.png) 2px -548px no-repeat;
}
.bxCmSbPg a {
	color: #333;
}
.bxCmSbPg .lstNml a:hover {
	color: #692;
}
/* Start duclv: Tối ưu hiển thị box nhiều người đọc */
.bnrSbPg {
	display: inline-block;
	width: 358px;
	margin-left: 5px;
	margin-top: 15px;
}
/* End duclv: Tối ưu hiển thị box nhiều người đọc */
.bnrSbPg .bxCmSbPg .sclDiv article {
	width: 320px;
}
.bnrSbPg  .bxCmSbPg .lstNml {
	background: url(//cdn.24h.com.vn/images/2014/sprites.png) 2px -545px no-repeat;
}
.bnrSbPg .bxCmSboto .grnBxT {
	background-color: #78b43d;
}
.bnrSbPg .bxCmSboto .sclDiv article {
	height: auto;
}
/* begin BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */
.asiadTit {
	height: 40px;
	background: url(//cdn.24h.com.vn/images/bxh/asiad-bg.png) center right;
	line-height: 40px;
}
.asiadTit span {
	font-size: 18px;
}
.asiadTb {
	width: 100%;
	border-collapse: collapse;
}
.asiadTb thead {
	border-bottom: 1px solid #ddd;
}
.asiadTb thead th{
	padding: 10px 4px;
	font-size: 14px;
	font-weight: 400;
}
.asiadTb tbody tr td {
	padding: 10px 4px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-size: 16px;
}
.asiadTb tbody tr td span {
	font-size: 16px;
}
.asiadTb tbody tr td.txtLt {
	text-align: left;
}
.asiadTb tbody tr td.txtLt img {
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 10px;
}
.asiadVN {
	background-color: #fff2da;
}
.asiadVN .txtLt {
	font-weight: 600;
}
.asiad-detail {
	padding-right: 10px;
}
.asiad-detail a {
	font-size: 12px;
	color: #78b43d;
	font-style: italic;
	text-decoration: underline;
}

/*Start less-bxh*/
.less-bxh {
	margin-top: 5px;
}
.less-bxh .asiadTb thead th {
	background-color: #4d4948;
	border: 1px solid #ddd;
	padding: 4px;
}
.asiadTb thead th.txtLt {
	text-align: left;
}
.less-bxh .asiadTb thead th.asiad-vang {
	background-color: #f3a346;
}
.less-bxh .asiadTb thead th.asiad-bac {
	background-color: #898989;
}
.less-bxh .asiadTb thead th.asiad-dong {
	background-color: #bc632e;
}
.less-bxh .asiadTb tbody tr td {
	padding: 4px;
	border: 1px solid #ddd;
}
.less-bxh .asiadTb th, .less-bxh .asiadTb td, .less-bxh .asiadTb td span {
	font-size: 11px;
}
.less-bxh .asiadTb tbody tr td.txtLt img {
	width: 20px;
}
.lessasiadTit span {
	font-size: 11px;
	color: #f3a346;
	display: inline-block;
	text-align: center;
	width: 78%;
	position: relative;
}
.lessasiadTit span:before {
	position: absolute;
	content: "";
	border-bottom: 1px solid #f3a346;
	top: 5px;
	left: 0;
	width: 70px;
	height: 1px;
}
.lessasiadTit span:after {
	position: absolute;
	content: "";
	border-bottom: 1px solid #f3a346;
	top: 5px;
	right: 0;
	width: 70px;
	height: 1px;
}
.lessasiadTit .asiad-detail {
	float: right;
	padding-right: 0;
}
.lessasiadTit .asiad-detail a {
	font-size: 11px;
	text-decoration: none;
}
.lessasiadTit .asiad-detail a:hover {
	text-decoration: underline;
}
.lessasiadTit {
	margin-bottom: 5px;
}
/* end BangND 6-8-2018 XLCYCMHENG_32258_xay_dung_box_bxh_trang_chi_tiet_bai_viet */

/*Start duclv fixed: tmBv*/
/*=========================== CSS GIAO DIEN MOI ===========================*/
/* ======================= /cate.css ======================= */
.cxanh a:hover{
	color: #78b43d!important;
}
.fl{
	float: left!important;
}
.fr{
	float: right!important;
}
.inbl{
	display: inline-block;
}

/* 
main */
#cated .sbMnCate .bankico{
	margin-bottom: -3px;
}
.postx .imgNws{
	width: 130px;
	height: 98px;
}
.postx .imgNws img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*Begin 6/4/2020: dangtq*/
.colRtx{
	/*width: 300px;*/
	margin-left: 17px; /*30/11/2018 dangtq*/
	/*overflow: hidden;*/
}
/*End 6/4/2020: dangtq*/
.brmCmTbx a{
	text-transform: uppercase;
}
.brmCm2x .bdmHmTb span{
	font-size: 17px;
	font-weight: initial;
	color: #378b36;
}
.brmCm2x .brmCmTbx a{
	font-size: 15px;
	margin-top: -2px;
	display: inline-block;
	color: #378b36;
}
.icoSocialx a img{
	height: 100%;
	object-fit: cover;
}
.brmCm2x .bmTpSeoBlk{
	height: 100%;
}
.brmCm2x .bmTpSeoBlk .icoSocial{
	margin-top: 0;
	float: right;
}

/* live */
.newsx .col1{
	float: left;
	width: 458px;
	height: 333px;
	border-right: 1px solid #e0e0e0;
	padding-right: 10px;
}
.w100{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.newsx .col2{
	padding-left: 480px;
}
.newsx .item{
	position: relative;
	margin-bottom: 10px;
}
.newsx .col2 .item{
	/*overflow: hidden;*/ /*icon_LIVE_tin_so_02_03 - dangtq 6/6/2019*/
}
.liveico{
	background: url(//cdn.24h.com.vn/images/Ellipse-10.jpg) no-repeat center;
	background-size: 100%;
	width: 68px;
	height: 28px;
	display: inline-block;
	position: absolute;
	top: 15px;
	left: -5px;
}
.newsx .picico{
	top: 15px;
	right: 15px;
	left: auto;
}
.newsx .col1 .img{
	height: 333px;
}
.newsx .col2 .img{
	height: 160px; /*icon_LIVE_tin_so_02_03 - dangtq 6/6/2019*/
}
/*Begin tối ưu CSS sau triển khai giao diện mới*/
.newsx .inner{
	position: absolute;
	bottom: 0;
	padding: 10px;
	left: 0;
	right: 0;
	background: url(//cdn.24h.com.vn/images/Rectangle-10.png) no-repeat center bottom;
	background-size: 100% 100%;
	padding-top: 50px;
}
.newsx .name a{
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	color: #fff!important;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	margin-bottom: 0;
}
/*End tối ưu CSS sau triển khai giao diện mới*/
.newsx .col1 .name a{
	font-size: 20px;
}
.newsx .col2 .name{
	height: 51px;
	overflow: hidden;
	line-height: 17px; 
}
.newsx .col1 .name a:hover{
	font-size: 21px;
}
.newsx .col2 .name a:hover{
	font-size: 14px;
}
.newsx .col1 .name:hover .time{
	color: #78b43d;
}
.newsx .col1 .desc{
	font-size: 15px;
	color: #f1f1f1; /*Begin tối ưu CSS sau triển khai giao diện mới*/
}
.m5{
	margin-bottom: 5px;
}
.newsx .icox{
	background-size: 100%;
	width: 12px;
	height: 11px;
	display: inline-block;
}
.newsx .cmr{
	background: url(//cdn.24h.com.vn/images/Forma-1-copy-2.png) no-repeat center;
}
.newsx .tk{
	background: url(//cdn.24h.com.vn/images/Shape-645.png) no-repeat center;
}
.newsx .time{
	font-size: 12px;
	color: #ffffff;
	font-weight: initial;
}
.dot{
	background: #fff;
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 50%;
}
.postname a{
	font-size: 17px;
}
.descd{
	margin-bottom: 5px;
}
.dated{
	font-size: 11px;
}
.ico{
	position: absolute;
	display: block;
	bottom: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	z-index: 1;
}
.mgbt20{
	margin-bottom: 20px;
}
.pgCatex{
	margin-top: 0;
}

/* module1 */
.dib{
	display: inline-block;
}
.module1 .bxDoiSbIt h3{
	font-size: 17px;
	text-transform: uppercase;
	color: #78b43d;
	display: block;
	border-bottom: 2px solid #78b43d;
	text-align: left;
}
.module1 .gryTb2R{
	float: none;
	height: 100%;
	padding: 0;
	background: none;
}
.module1 .lstNml{
	padding-left: 15px;
}
/* module2 */
.module2 .clrWh{
	display: block;
	color: #ef7930;
	font-size: 17px;
	text-transform: uppercase;
	border-bottom: 2px solid #ef7930;
	background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -3797px;
	padding-left: 22px;
	padding-bottom: 5px;
}
.module2 .bx4TBtmHm{
	background: #fff1d9;
	border: 0;
}
.module2 .imgFltT4{
	float: none;
	width: 100%;
	height: auto;
	border: 0;
}
.module2 .tdnSp{
	font-weight: 600;
	margin-top: 10px;
	padding: 0;
	font-size: 13px;
	line-height: 17px;
	height: 51px;
	overflow: hidden;
}
.module2 .dnIt2{
	width: 100%;
	float: none;
	padding: 8px;
}

/* module3 */
.module3 .grnBxT{
	background: none;
	padding: 0;
}
.module3 .grnBxT a{
	color: #d2577e;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	border-bottom: 2px solid #d2577e;
	line-height: 30px;
	background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -4147px;
	padding-left: 25px;
}
.module3 .grnBxT a img{
	margin-right: 10px;
	margin-bottom: -4px;
}
.module3 .bxGrtt{
	border: 0;
	padding: 20px 0;
	padding-top: 16px;
	padding-bottom: 10px;
	height: 100%;
}
.module3 .lstNml{
	background: none;
	position: relative;
}
.module3 .lstNml:before{
	content: '';
	background: #d2577e;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 7px;
	left: 0;
	border-radius: 50%;
}
.module3 .bxCmSbPg .sclDiv article{
	padding-bottom: 17px;
	height: 49px; /*30/11/2018 dangtq fix_loi_nhay_dong_box_danh_cho_phai_dep*/
	overflow: hidden; /*30/11/2018 dangtq fix_loi_nhay_dong_box_danh_cho_phai_dep*/
}
.module3 .bxCmSbPg .lstNml a{
	font-size: 13px;
}
.bttop .inner{
	position: absolute;
	top: -70px;
	right: 0;
	z-index: 1;
}
.bttopd{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.btnTpHmx{
	background: url(//cdn.24h.com.vn/images/Forma-11.png) no-repeat;
}
.btnTpDtx{
	background: url(//cdn.24h.com.vn/images/Shape-1.png) no-repeat;
}
.module3 .pgCate .atv a{
	background-color: #d2577e;
	border: #d2577e;
	line-height: 1.4;
}

/* 
aside */
.sidebar .tttt .clrWh{
	color: #333;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	text-align: left;
	color: #78b43d;
	border-bottom: 1px solid #d7d7d7;
	background-color: white;
	line-height: 30px;
}
.sidebar .tttt .lstNmlx .img{
	float: left;
	width: 100px;
	height: 75px;
}
.sidebar .tttt .inner{
	padding-left: 110px;
}
.sidebar .tttt .lstNws article{
	padding-left: 0;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}
.sidebar .tttt .lstNws article a{
	font-size: 13px;
}
.sidebar .hotnew{
	padding-left: 0;
	height: 100%;
}
.sidebar .hotnew .list{
	height: 100%;
	overflow: initial;
}
.sidebar .hotnew .bxDoiSbIt{
	width: 100%;
}
.sidebar .hotnew .title{
	background: url(//cdn.24h.com.vn/images/Layer-3191-092018.jpg) no-repeat center top;
	background-size: 100%;
	color: #fff;
	text-align: left;
}
.sidebar .hotnew2 .title{
	background: url(//cdn.24h.com.vn/images/iStock_518208206-092018.jpg) no-repeat right center;
}
.sidebar .hotnew .nwsTit a{
	font-weight: initial;
}

/* ads */
.ads a{
	display: inline-block;
	position: fixed;
	top: 52px;
	width: 125px;

}
.ads .bn1{
	left: 40px;
}
.ads .bn2{
	right: 40px;
}

/* 
chuyen muc cap 1 the thao */
.bmTpSeo1 li{
	display: inline-block;
}
.bmTpSeo1 li a{
	font-size: 12px;
	color: #5d8fba;
	font-weight: normal;
	display: block;
	border-right: 1px solid;
	padding-right: 5px;
}
.bmTpSeo1 li:last-child a{
	border: 0;
}
.tbtt .ltdTit, .box_ds_tran_dau_hot_chuyen_muc .ltdTit{
	background: url('//cdn.24h.com.vn/images/sg30_top_bar2.jpg') no-repeat; /*18/11/2019: dangtq thay_background_sea_games_30*/
	background-size: 100%;
	padding: 10px;
	padding-bottom: 7px;
	margin-bottom: 0;
}
.tbtt .ltdTit span, .box_ds_tran_dau_hot_chuyen_muc .txtTrf{
	font-size: 17px;
	color: #002a51; /*18/11/2019: dangtq thay_background_sea_games_30*/
	width: 83%;
}
.tbtt .ltdTit span:before, .tbtt .ltdTit span:after{
	display: none;
}
.tbtt .ltdTit .ltd-detail a, .box_ds_tran_dau_hot_chuyen_muc .ltd-detail a{
	font-size: 12px;
	color: #fff;
	font-style: normal;
	display: inline-block;
	line-height: 20px;
	background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat 20px -3108px;
	padding-right: 25px;
}
.tbtt .ltdTb tbody tr{
	border-bottom: 1px solid #ddd;
	height: 30px;
}
.tbtt .ltdTb tbody tr:first-child{
	height: 40px;
}
.tbtt .ltdTb tbody tr td{
	font-size: 12px;
	padding: 8px 10px;
	position: relative;
	border: 0;
	color: #363636;
}
.tbtt .ltdTb tbody tr:nth-child(even) {
	background-color: #fff;
}
td.up{
	background: url(//cdn.24h.com.vn/images/Polygon-1.png) no-repeat 35px;
}
td.down{
	background: url(//cdn.24h.com.vn/images/Polygon-1-copy-3.png) no-repeat 35px;
}
td.dash{
	background: url(//cdn.24h.com.vn/images/Rectangle-580-copy.png) no-repeat 36px;
}
.flag{
	float: left;
	margin-right: 2px;
	margin-top: -2px;
}
.tbtt td span.inner{
	font-size: 12px;
	text-align: left;
	display: block;
	display: flex; /*20/11/2019: dangtq fix_loi_ten_nhay_dong_box_bxh_huy_chuong*/
}
.tbtt tbody{
	float: left;
	width: 326px;
	margin-left: 15px;
	box-sizing: border-box;
}
.tbtt tbody.fr{
	padding-right: 15px;
} 
.tbtt .ltdBd{
	border: 2px solid #21c879;
	border-top: 0;
}
.tbtt tbody td:first-child{
	width: 30px;
}
.tbtt tbody td:nth-child(2){
	width: 100px;
}
.tbtt tr.vn{
	background-color: #fff2da;
}
.tbtt tbody tr:last-child{
	border-bottom: 0;
}

/* 
trang chuyen muc bong da */
.bmTpSeo1 li{
	display: inline-block;
}
.bmTpSeo1 li a{
	font-size: 12px;
	color: #5d8fba;
	font-weight: normal;
	display: block;
	border-right: 1px solid;
	padding-right: 5px;
}
.bmTpSeo1 li:last-child a{
	border: 0;
}
.ltd .ltdTit{
	background: url(//cdn.24h.com.vn/images/Layer-3198.jpg) no-repeat right bottom;
	background-size: 100%;
	padding: 10px;
	margin-bottom: 0;
}
.ltd .ltdTit span{
	font-size: 17px;
	color: #fff;
	width: 83%;
}
.ltd .ltdTit span:before, .ltd .ltdTit span:after{
	display: none;
}
.ltd .ltdTit .ltd-detail a{
	font-size: 12px;
	color: #fff;
	font-style: normal;
	display: inline-block;
	line-height: 20px;
	background: url(//cdn.24h.com.vn/images/muiten.png) no-repeat right;
	padding-right: 20px;
}
.ltd .ltdTit{
	background: url(//cdn.24h.com.vn/images/Layer-3198b.jpg) no-repeat center;
	background-size: 100%;
}
.ltd .item span{
	font-size: 13px;
	margin: 0 5px; 
	float: left;
	display: block;
}
.ltd .item span.ts{
	background: #daece4;
	display: inline-block;
	font-weight: 600;
	padding: 2px 5px;
	margin-top: 3px;
	font-size: 12px;
}
.ltd .item img{
	display: inline-block;
	margin-bottom: -7px;
}
.ltd .item{
	text-align: center;
	font-size: 12px;
	padding: 5px;
	border-bottom: 1px solid #eeeeee;
	height: 30px;
	position: relative;
}
.ltd .inner{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
	width: 100%;
	text-align: center;
}
.ltd .date{
	color: #179a62;
}
.ltd .col{
	float: left;
	width: 340px;
}
.ltd .list{
	border: 2px solid #05c976;
	display: inline-block;
	width: 99%;
	padding-right: 3px;
	border-top: 0;
}
.fz11{
	font-size: 11px!important;
}

/* doi song showbiz */
.dssb .box_rss_6_rss24hTop{
	background: none;
	padding: 0;
}
.dssb .lstNml{
	position: relative;
	padding: 10px 25px;
	padding-left: 40px;
	border-bottom: 1px solid #eeeeee;
	background: none;
}
.dssb .box_rss_6_rss24hCnt .lstNws article a{
	font-size: 13px;
}
.dssb .box_rss_6_rss24hCnt, .box_rss_7_rss24hCnt{
	background: #fff;
	border: 1px solid #eeeeee;
	border-bottom: 0;
	border-top: 0;
	padding: 0;
}
.dssb .lstNml:before{
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	top: 15px;
	left: 15px;
}
.dssb .box_rss_6_rss24hCnt .lstNws article a:hover{
	color: #78b43d;
}
.dssb .lstNml:nth-child(1):before{
	content: '1';
	color: #ed1c24;
}
.dssb .lstNml:nth-child(2):before{
	content: '2';
	color: #ef7930;
}
.dssb .lstNml:nth-child(3):before{
	content: '3';
	color: #f5c031;
}
/* /doi song showbiz */
/* =================== tin tuc thi truong =================== */
.grnBxTit269 h3{
	margin: 0;
	font-weight: 600;
	font-size: 17px;
	text-align: left;
	display: block;
	/* border-bottom: 1px solid #ddd; */
	text-transform: uppercase;
	word-spacing: -1px;					 
}
.imgNwsSml269{
	width: 100px;
	height: 75px;
}
/* =================== end of tin tuc thi truong =================== */
/* =================== fix cate2: 3/10/2018 =================== */
.hotnew{
	padding-top: 15px;
}
.brmCm2x .brmCmTbx a {
	font-size: 12px;
	text-transform: initial;
}
.brmCm2x .brmCmTbx .brmItem{
	font-size: 17px;
	text-transform: uppercase;
	border-left: 1px solid #378b36;
	margin-top: -3px;
}
.brmCm2x .brmCmTbx .brmItem span{
	font-size: 17px;
	font-weight: initial;
}
.newsx .col1 .name a{
	margin-bottom: 10px;
}
.dcpd269 .item-first .name{
	background-color: rgba(255, 255, 255, 0.84);
}
.newsx .col2 .inner{
	bottom: -3px;
}
.module1 .bxDoiSbIt h3{
	border-bottom: 0;
}
.module1 .bxDoiSbIt .gryTb2R a{
	font-size: 17px;
	text-transform: uppercase;
	display: block;
	color: #78b43d;
	padding-bottom: 5px;
}
.lstNwsInAtcl article, .module1 .lstNml{
	padding-left: 18px;
}
/* =================== /fix cate2: 3/10/2018 ===================*/
/* =================== fix cate1: 3/10/2018 ===================*/
.newsx .col1 .videoico{
	top: 5px;
	right: 5px;
	left: auto;
}
/*Begin tối ưu CSS sau triển khai giao diện mới*/
.postx .bxDoiSbIt{
	height: 145px;
	overflow: hidden;
}
.lstNwsInAtcl article{
	padding-bottom: 10px;
}
/*End tối ưu CSS sau triển khai giao diện mới*/
.dated .updTm{
	font-size: 11px;
}
/* =================== fix cate1: 3/10/2018 ===================*/

/* =================== event-upgrade.css ===================== */
.hotart .bxDoiSbIt{
	float: left;
}
.hotart .img.bxDoiSbIt{
	width: 325px;
	height: 248px;
}
.hotart .inner.bxDoiSbIt{
	margin-left: 15px;
	width: 347px;
	height: 248px;
	position: relative;
}
.hotart .liveico{
	background-image: url(//cdn.24h.com.vn/images/live.png);
	top: 10px;
}
.hotart .videoico{
	top: 5px;
	right: 15px;
	left: auto;
}
.hotart .bigtit{
	font-size: 20px;
	color: #252525;
}
.hotart .divSbNws{
	text-align: left;
	margin: 10px 0;
	padding: 0;
}
.hotart .divSbNws a{
	font-size: 12px;
}
.hotart .bxDoiSbIt .nwsSp{
	padding-left: 0;
	font-size: 15px;
	line-height: 1.2;
}
.hotart .nwsTit{
	margin: 8px 0;
}
.hotart .bxLlq{
	background-color: #eaf8d2;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}
.hotart .bxLlq .tit{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	display: inline-block;
}
.hotart .bxLlq .nwsTitSlHm{
	font-size: 13px;
	color: #252525;
	background: url(//cdn.24h.com.vn/images/2014/sprites.png) 2px -549px no-repeat;
	padding-left: 15px;
	display: block;
	line-height: 1.4;
}
.mico{
	background: url(//cdn.24h.com.vn/images/M--copy-7-092018.png) no-repeat 0 0;
}
.sttico{
	background: url(//cdn.24h.com.vn/images/Shape-645-copy-4.png) no-repeat 0 0;
}
.eArt .divSbNws{
	padding: 0;
	margin-bottom: 5px;
}
.eBtt .inner{
	top: -60px;
}
.eDcpd .tit{
	color: #d2577e;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	text-align: left;
	border-bottom: 2px solid;
	background: url(//cdn.24h.com.vn/images/dep.jpg) no-repeat left;
	padding-left: 25px;
	line-height: 2;
}
.eDcpd .fItem .name{
	display: block;
	font-size: 15px;
	color: #252525;
	position: absolute;
	bottom: 2px;
	left: 0;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.43);
	font-weight: 600;
}
.eDcpd .inner .name{
	font-size: 13px;
	display: block;
	color: #252525;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	background: url(//cdn.24h.com.vn/images/Ellipse-7-copy-5.png) no-repeat 10px 15px;
	padding-left: 22px;
}
/* =================== /event-upgrade.css =================== */
/* =================== custom fix =================== */
.postx{
	overflow: hidden; /*Tối ưu CSS sau triển khai giao diện mới*/
}
/* fix breadcrum */
/* fix header box cap muc */
.module1 .bxDoiSbIt .gryTb2R header{
	border-bottom: 2px solid #78b43d;
	margin-bottom: 15px;
}
/* fix menu */
.menu-c2 li a:hover {
	background: #78b43d url(//cdn.24h.com.vn/images/2014/menuDot.gif) 13px 10px no-repeat;
	color: #fff !important;
}
/* fix breadcrumb */
.sbMnCate ul li.dnSltUpn a.icoDnSlt {
	top: 0;
}
.pgCate .atv span {
	background-color: #78b43d;
	color: #fff;
	border: 1px solid #78b43d;
}
.pgIt img {
	vertical-align: middle;
	margin-top: -3px;
}
/* =================== /custom fix =================== */
/* delete after change html */
div#box_tran_dau_hot_trang_chuyen_muc.block{
	margin-bottom: 20px
}

/* begin 15/10/2018 by dangtq */
.ovf{
	overflow: hidden;
}
/* end 15/10/2018 by dangtq */

/* begin change 20/10/2018 DangTQ */
.bnrPtn{
	margin-left: 0;
}
.pgCate{
	margin-top: 0;
	margin-bottom: 25px;
}
.pgCate .pg{
	margin: 0;
}
/*Begin 18/9/2019: dangtq fix_loi_giao_dien*/
.bxBoiSbTb{
	height: auto;
	/*margin-bottom: 0;*/
}
/*End 18/9/2019: dangtq fix_loi_giao_dien*/
.module1 .tmBv{
	margin-bottom: 15px;
}
.lstChsDy{
	margin-top: 6px;
	padding-left: 10%;
}
.module1{
	margin-bottom: 30px;
}
.brmCm2x .brmCmTbx h1 a{
	border-left: 1px solid #378b36;
}
.postx .mgbt20{
	margin-bottom: 25px;
}
.postx .mrL10{
	margin-left: 15px;
}
.bxDoiSbIt .tmBv .nwsTit a{
	font-size: 17px;
	height: 39px;
	overflow: hidden;
	display: inline; /*begin dangtq toi_uu_css_sau_nang_cap_giao_dien*/
}
.lstNwsInAtcl a{
	font-size: 13px;
}
.box_ds_tran_dau_hot_chuyen_muc .ltdTit{
	background-image: url(//cdn.24h.com.vn/images/Layer-31981.jpg);
}
/* end change 20/10/2018 DangTQ */

/* begin change 22/10/2018 DangTQ */
#ADS_141_15s_container{
	margin-bottom: 20px;
}
/* end change 22/10/2018 DangTQ */

/* begin 23/10/2018 DangTQ */
.colLt{
	width: 687px;
}
.postx .hotnew .bxDoiSbIt{
	height: auto;
}
.otoZone.mgbt20{
	margin-bottom: 15px;
}
.otoZone .hotnew{
	margin-top: -15px;
}
/* end 23/10/2018 DangTQ */

/* begin 27/10/2018 DangTQ */
.hotMatch tbody{
	float: left;
	width: 326px;
	margin-left: 15px;
	box-sizing: border-box;
}
.hotMatch tr{
	background: none!important;
}
.hotMatch td{
	font-size: 13px!important;
	font-weight: normal;
	border: 0!important;
	border-bottom: 1px solid #ddd!important;
	height: 40px;
	box-sizing: border-box;
}
.hotMatch .ltdTb{
	border: 2px solid #21c879;
	border-top: 0;
}
.hotMatch img{
	width: 20px;
	height: 20px;
}
.hotMatch tr:last-child td{
	border-bottom: 0!important;
}
.hotMatch .ltdTeam:nth-child(1){
	text-align: right;
	padding-right: 32px;
	position: relative;
}
.hotMatch .ltdTeam:nth-child(1) img{
	position: absolute;
	top: 50%;
	right: 4px;
	margin-top: -12px;
}
.hotMatch .ltdTeam:nth-child(3){
	text-align: left;
	padding-left: 32px;
	position: relative;
}
.hotMatch .ltdTeam:nth-child(3) img{
	position: absolute;
	top: 50%;
	left: 4px;
	margin-top: -12px;
}
.hotMatch .match-tyso-date{
	font-size: 11px;
	color: #179a62;
}
.hotMatch .match-tyso-time{
	font-size: 11px;
	color: #333;
}
.box_ds_tran_dau_hot_chuyen_muc .txtTrf{
	text-align: right;
	margin-left: -110px;
}
/* end 27/10/2018 DangTQ */

/* begin 31/10/2018 dangtq */
.hotart{
	margin-bottom: 20px;
}
/* end 31/10/2018 dangtq */
.banner_sticky_container{
	position:fixed;
	bottom:0px;
	z-index: 9999;
}

/*begin 26/11/2018 dangtq*/
.ct_art_rght{
	overflow: hidden;
	display: block;
	padding-top: 15px;
	padding-left: 15px;
}
/*end 26/11/2018 dangtq*/

/*begin 27/11/2018 dangtq*/
.otoZone>div{
	overflow: hidden;
}
/*end 27/11/2018 dangtq*/

/*begin 29/11/2018 dangtq*/
.bnhotretngle{
	height: 279px;
}
/*end 29/11/2018 dangtq*/

/*Begin 07-03-2019 trungcq XLCYCMHENG_34262_nang_cap_giao_dien_trang_thoi_tiet*/
.dbtt{
    margin: 10px 0 30px 0;
    border-top: 3px solid #45befc;
}
.dbtt *{
    box-sizing: border-box;
}
.dbtt h2, .dbtt h3, .dbtt h4{
    font-weight: normal;
}
.dbttHere{
    background-color: #f4fbff;
    padding: 10px;
    margin-bottom: 10px;
}
.dbttHere .addName{
    font-size: 18px;
    color: #a73737;
    font-weight: 700;
}
.dbttHere i{
    color: #6f6f6f;
    font-size: 14px;
    margin-left: 20px;
}
.dbttHere .fr span{
    font-size: 13px;
    color: #a73737;
}
.selTinh{
    width: 132px;
    height: 28px;
    outline: none;
    background-color: #fff;
}
.ndBig{
    font-size: 40px;
    font-weight: 700;
    color: #3d7fbc;
}
.dbtt table{
    width: 100%;
    border-spacing: 0;
}
.tabTop{
    margin-top: 5px;
}
.tabTop .hTuong{
    font-size: 14px;
    color: #6f6f6f;
}
.tabTop .tit, .dbttDate{
    font-size: 13px;
    color: #6f6f6f;
    margin-bottom: 5px;
    display: inline-block;
}
.icoTTSmall{
    width: 24px;
    vertical-align: top;
    padding-right: 5px;
    box-sizing: content-box;
}
.ndSmall{
    font-size: 17px;
    font-weight: 700;
    color: #000;
}
.tabTop .col1 img{
  width: 60px;
  height: 60px;
}
.tabTop .col2{
    width: 160px;
    padding-left: 33px;
    border-right: 1px solid #cfe2f2;
}
.tabTop .col3, .tabTop .col4, .tabTop .col5{
    width: 21%;
    padding-left: 15px;
}
.tabBttHead{
    background-color: #3d7fbc;
    color: #fff;
}
.tabBttHead td{
    padding: 5px 0;
    padding-left: 10px;
}
.tabBttHead td:nth-child(2){
    padding-left: 55px;
}
.tabBttHead .pdL{
    padding-left: 30px;
}
.tabBttHead .tit{
    font-size: 14px;
}
.tabBttHead .date{
    font-size: 11px;
    color: #92cbff;
}
.tabBttBody td{
    border-bottom: 1px solid #e6e6e6;
    width: 138px;
}
.tabBttBody td:last-child{
    border-right: 1px solid #e6e6e6;
}
.tabBttBody .add{
    padding-left: 10px;
    border-left: 1px solid #e6e6e6;
    width: 125px; /*edit 11/3/2019 dangtq*/
}
.tabBttBody .add a{
    font-size: 14px;
    color: #000000;
}
.icoTTMedium{
    width: 35px;
    vertical-align: top;
}
.ndBigBtt{
    font-size: 24px;
    font-weight: 700;
    color: #3d7fbc;
    padding-left: 5px;
}
.hTuongBtt{
    color: #6f6f6f;
}
.tabBttBody .col2{
    padding: 5px 0;
    width: 140px;
}
.tabBttBody .bgColor{
    background-color: #f4fbff;
    border: 1px solid #8cc8ff;
    border-radius: 3px;
    padding: 5px;
    max-width: 136px;
}
.mgBt5{
    margin-bottom: 5px;
}
.icoTTMediumFl{
    width: 25px;
    height: 25px;
    float: left;
    padding-top: 10px;
    box-sizing: content-box;
}
.tabBttBody .cont{
    padding-left: 30px;
}
.ndSmallBtt{
    font-size: 16px;
}
.hTuongBttSmall{
    font-size: 11px;
}
.tabBottomScroll{
    height: 289px;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid #e6e6e6;
    /*padding-bottom: 5px;*/
}
.tabBottomScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5
}

.tabBottomScroll::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}

.tabBottomScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #7C7C7C
}
.dbttNote {
    color: #999999;
}
.mgT25{
    margin-top: 25px;
}
.ttTit{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #3d7fbc;
    border-bottom: 2px solid #3d7fbc;
    width: 309px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.bgColorUpdate{
    height: 60px;
    line-height: 50px;
}
.grnBxTit269 span{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    display: block;
    text-transform: uppercase;
    word-spacing: -1px;
}
/*End 07-03-2019 trungcq XLCYCMHENG_34262_nang_cap_giao_dien_trang_thoi_tiet*/

/* begin nang_cap_giao_dien_trang_ty_gia_gia_vang dangtq */
.giaVang *{
  box-sizing: border-box;
}
.giaVang h1, .giaVang h2, .giaVang h3, .giaVang h4, .giaVang h5{
  font-weight: normal;
}
.gvTit{
  font-size: 20px;
  font-weight: 600;
  color: #1c7964;
}
.giaVangReal .gvTit{
  color: #ca931f;
}
.inputDate{
  background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -47px -3333px;
  border: 1px solid #eee;
  color: #787878;
  padding-top: 1px;
  margin-left: 10px;
  outline: none;
  padding: 3px;
  height: 21px;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}
.tabTit{
  background-color: #fcf5db;
  height: 28px;
}
.tabTit .fl{
  width: 50%;
  text-align: right;
}
.tabTit .fr{
  width: 50%;
  text-align: right;
  padding-right: 50px;
}
.tabTit strong{
  font-size: 13px;
  color: #000000;
  line-height: 28px;
}
.giaVang table{
  width: 100%;
  border-spacing: 0;
}
.colorGrey, .colorBlur{
  color: #5e5e5e; /*--- Tối ưu trang TTCB và Box TTCB - 4/4/2019 dangtq ---*/
}
.tabHead{
  background-color: #c4efe5;
  height: 28px;
}
.giaVangReal .tabHead{
  background-color: #fefcf4;
}
.tabHead strong, .tabBody *{
  font-size: 13px;
}
.tabHead i{
  font-size: 11px;
}
.colorGreen{
  color: #008000;
}
.colorRed{
  color: #ff0000;
}
.tabBody{
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.tabBody td{
  height: 30px;
  border-bottom: 1px solid #eee;
}
.tabBody .icoUpDown{
  margin-left: 5px;
}
.tabBody .fixW{
  width: 60px;
  display: inline-block;
}
.giaVangReal .tabBody .fixW{
  width: 65px;
}
.pdL10{
  padding-left: 10px;
}
.tabBody{
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 13px;
}
.tabBody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5
}

.tabBody::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5
}

.tabBody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #7C7C7C
}
.gvNote{
  margin-bottom: 28px;
}
.gvNote .fl{
  padding-left: 10px;
}
.gvNote .fr{
  padding-right: 10px;
}
.gvNote .imgUp{
  vertical-align: -1px;
}
.gvNote i{
  color: #8c8c8c;
}
.gvChart{
  padding-top: 10px;
  border-top: 1px solid #1c7964;
}
.giaVangReal .gvChart{
  border-color: #ca931f;
}
.gvChart .fl{
  width: 50%;
}
.giaVangReal .gvChart .fl{
  padding-top: 5px;
}
.gvChart .fr{
  /*padding-top: 60px;*/
  width: 50%;
    text-align: right;
  /*padding-left: 20px;*/
}
.gvChart select{
  height: 34px;
  border: 2px solid #dddddd;
  outline: none;
  margin-left: 7px;
  background-color: #fff;
}
.colorDefault{
  color: #333;
}
.choiseMB a:first-child img{
  vertical-align: -2px;
}
.choiseMB a:last-child img{
  vertical-align: -1px;
}
.mgR5{
  margin-right: 5px;
}
.gvTitArt{
  border-bottom: 2px solid #1c7964;
    width: 309px;
    padding-bottom: 7px;
    margin-bottom: 29px;
    display: inline-block;
}
.gvTitArtReal{
  border-bottom: 2px solid #ca931f;
  color: #ca931f;
}
.imgFlag{
  width: 40px;
  display: inline-block;
  vertical-align: -2px;
  line-height: 0;
}
.giaVang .mgbt10.ovf{
  margin-top: 5px;
  margin-bottom: 17px;
}
.giaVang td h2{
	color: #333;
}
/* End nang_cap_giao_dien_trang_ty_gia_gia_vang dangtq */

/*Begin 14-03-2019 trungcq XLCYCMHENG_34322_code_trang_thong_tin_can_biet*/
/*begin box_thong_tin_can_biet_ty_gia_gia_vang_cot_phai dangtq*/
.boxTtcbKd{
    overflow: hidden;
    margin-bottom: 10px;
}
.boxTtcbKd *{
    box-sizing: border-box;
    font-size: 11px;
}
.boxTtcbKdCol{
    width: 150px;
}
.boxTtcbTit{
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
}
.boxTtcbKd img{
  display: none;
}
.boxTtcbKd strong img{
    vertical-align: -4px;
    padding-right: 5px;
    height: 14px;
    display: inline-block;
}
.boxTtcbKd .col1 .bor{
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding-top: 5px;
    text-align: center;
}
.boxTtcbKd .col2 .bor{
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding-top: 5px;
    text-align: center;
}
.boxTtcbKd .boxTtcbKdName{
	text-align: left;
}
.boxTtcbKd .bor span{
    display: inline-block;
    padding: 3px 5px;
    overflow: hidden;
    height: 20px;
}
.boxTtcbKdName{
    width: 32px;
}
.boxTtcbKdMua, .boxTtcbKdBan{
    width: 53px;
}
.colorGreyish{
    color: #5e5e5e;
    font-weight: normal;
}
.bgOrange{
    background-color: #e3b014;
}
.bgBlue{
    background-color: #08b089;
}
.bgSeaBlue{
    background-color: #2c90d0;
}
/*end box_thong_tin_can_biet_ty_gia_gia_vang_cot_phai dangtq*/

/*begin box_thong_tin_can_biet_thoi_tiet_cot_phai dangtq*/
.boxTtcbTt{
  border-top: 1px solid #2c90d0;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.boxTtcbTt table{
  border-spacing: 0;
  width: 100%;
}
.boxTtcbTt td{
  box-sizing: border-box;
  height: 22px;
}
.boxTtcbTt *{
  font-size: 11px;
}
.pdL15{
  padding-left: 15px;
}
.boxTtcbTt .colorGrey, .boxTtcbTt .colorGrey *{
  color: #999999; /*--- Tối ưu trang TTCB và Box TTCB - 4/4/2019 dangtq ---*/
}
.boxTtcbTtTit{
  background-color: #2c90d0;
  text-align: center;
  height: 45px;
}
.boxTtcbTtTit a{
  color: #fff;
  font-weight: 600;
}
.boxTtcbTtTit a:hover{
  color: #78b43d;
}
.boxTtcbTt img{
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.boxTtcbTt sup{
  font-size: 8px;
}
.colorBlack{
  color: #000;
}
/*end box_thong_tin_can_biet_thoi_tiet_cot_phai dangtq*/
/*End 14-03-2019 trungcq XLCYCMHENG_34322_code_trang_thong_tin_can_biet*/

/*Begin template trang sự kiện đặc biệt - dangtq 11/4/2019*/
.eventSpecial .list .imgNws{
	width: 100px;
	height: 75px;
}
.lineH10{
	border-bottom: 10px solid #ebebeb;
}
.eventSpecialFirstTitle{
	font-size: 20px;
	color: #646464;
	text-transform: uppercase;
}
.eventSpecialFirstTit{
	border-bottom: 3px solid #237a57;
	margin-top: 12px;
	margin-bottom: 8px; 
}
.eventSpecialFirstTit h2{
	display: inline-block;
	background-color: #237a57;
	color: #fff;
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
}
.bxDoiSbItFirst{
	float: none;
	width: 100%;
	overflow: hidden;
}
.bxDoiSbItFirst .inner{
	width: 435px;
	float: left;
	text-align: left;
	padding-left: 13px;
	box-sizing: border-box;
}
.bxDoiSbItFirst .nwsTit a{
	height: auto;
	display: inline-block;
	font-size: 20px;
	color: #000000;
}
.bxDoiSbItFirst .nwsTit a:hover{
	color: #78b43d;
}
.bxDoiSbItFirst .updTm{
	color: #333333;
	display: inline-block;
}
.bxDoiSbItFirst .nwsSp{
	padding-left: 0;
	font-size: 15px;
	margin: 0;
}
.bxDoiSbItFirst .imgNws{
	width: 242px;
	height: auto;
	line-height: 0;
}
.eventSpecial .list .postname a{
	font-size: 15px;
	height: auto;
}
.eventSpecial .pgCate{
	float: right;
	margin-bottom: 0;
}
.eventSpecial .imgFlt, .eventSpecial .lin{
	padding-top: 2px;
}
/*.eventSpecial .list .postname a{
	word-spacing: -1px;
}*/

/*section 2*/
.eventSpecialTwoTit span{
	display: inline-block;
	font-size: 16px;
	color: #ff0000;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px;
	border-left: 7px solid #ff0000;
	margin-bottom: 8px;
}
.eventSpecialTwoTit:before{
	content: '';
	height: 3px;
	position: absolute;
	right: 0;
	width: 390px;
	top: 50%;
	margin-top: -5px;
	background-color: #ff0000;
}
.mgR20{
	margin-right: 20px;
}
.mgR15{
	margin-right: 15px;
}
.eventSpecial .list .bxDoiSbIt{
	width: 326px;
}

/*section 3*/
.eventSpecialThreeTit{
	border-bottom: 1px solid #dddddd;
	margin-bottom: 8px;
}
.eventSpecialThreeTit a{
	display: inline-block;
	font-size: 16px;
	color: #005ec6;
	text-transform: uppercase;
	font-weight: 600;
	padding-right: 25px;
	padding-bottom: 5px;
	border-bottom: 5px solid #005ec6;
	margin-bottom: -3px;
}

/*section 4*/
.eventSpecialFourTit a{
	display: inline-block;
	font-size: 16px;
	color: #237a57;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px 10px 10px 0;
	margin-bottom: 8px;
}
.eventSpecialFourTit:before{
	content: '';
	height: 3px;
	position: absolute;
	right: 0;
	width: 440px;
	top: 50%;
	margin-top: -3px;
	background-color: #237a57;
}
.eventSpecialFour .bxDoiSbIt{
	height: auto;
}
.eventSpecialFour .bxDoiSbIt .nwsTit a{
	height: 40px;
}
.postx.eArt .bxDoiSbIt:nth-child(2n+2){
	margin-left: 15px;
}
/*End template trang sự kiện đặc biệt - dangtq 11/4/2019*/

/*Begin icon_LIVE_tin_so_02_03 - dangtq 6/6/2019*/
.newsx .col2 .brkLive{
	font-size: 13px;
    width: 40px;
    height: 20px;
    line-height: 21px;
    padding-right: 5px;
    padding-left: 4px;
}
.newsx .col2 .brkLive:before{
	width: 5px;
	height: 5px;
	top: 8px;
}
/*End icon_LIVE_tin_so_02_03 - dangtq 6/6/2019*/

/*Begin 18/9/2019: dangtq fix_loi_giao_dien*/
.sbMnCateIn.ltSbMn{
	float: left;
	width: 100%;
}
/*End 18/9/2019: dangtq fix_loi_giao_dien*/