.vidCm, .lstVidCm {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.lstVidCm1, .lstVidCm2 {
    margin-right: 15px;
}
.lstVidCmNbm {
    width: 223px;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.mnVidImg {
    position: relative;
    display: inline-block;
    width: 100%;
}
.mnVidImg > a img {
    display: block;
    height: 126px;
}
.lgVid {
    background: rgba(0,0,0,0.5);
    padding: 4px 8px;
    color: #FFF;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 15px;
    line-height: 10px;
}
.lgVid a img {
    margin-right: 8px;
}
.dgChg {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 126px;
    line-height: 126px;
    background-color: rgba(0,0,0,0.6);
}
.vidCm .vidBdTit {
    margin-top: 10px;
}
.vidBdTit {
    margin-bottom: 10px;
    text-align: left;
}
.vidCm .vidBdTit a {
    font-size: 14px;
}
.vidBdTit a {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.brmCm2 {
    margin-top: 10px;
}
.vidBdTit a:hover {
    text-decoration: underline;
}
.bvEvt {
    color: #666;
    font-size: 11px;
    padding-bottom: 7px;
}
.bvNw {
    padding-bottom: 5px;
}
.bvEvt a {
    color: #666;
    text-decoration: underline;
}
.vidThpRt {
    float: left;
    width: 298px;
    height: 428px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    overflow-y: auto;
}
.vidThpRtIn {
    padding: 10px;
    display: inline-block;
}
.vidThpRt .bvTit {
    font-size: 20px;
    display: block;
}
.bvTit {
    color: #5ca038;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
}
.vidThpRt .bvNw, .vidThpRt .bvEvt {
    font-size: 12px;
    color: #707070;
}
.bdVidThp {
    line-height: 18px;
}
.bdVidThp span, .vidThpRt .nguontin {
    font-size: 14px;
}
.nguontin {
    text-align: right;
    padding: 5px 0 10px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
.scalSm {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.imgScal {
    width: 40%;
    float: left;
    margin-top: 5px;
}
.vidSefl {
    width: 60%;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 2px solid #5ca038;
}
.vidSefl a {
    font-size: 14px;
    color: #5ca038;
    font-weight: 700;
}
.vidSefl a img {
    margin-right: 2px;
}
/*Start video tong hop*/
.brmCm2 {
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
}
.bdmHmTb, .brmCmTb {
    float: left;
    height: auto;
    line-height: 14px;
    padding: 2px 0 3px 0;
    font-size: 11px!important;
    font-weight: bold;
    color: #fff;
}
.bdmHmTb ul li, .brmCmTb li {
    display: block;
    list-style: none;
    color: #78b43d;
    margin-right: 5px;
}
.bdmHmTb a {
    font-size: 12px;
    font-weight: bold;
    color: #78b43d;
    line-height: 12px;
}
.bdmHmTb span, .brmCmTb a {
    font-size: 12px;
    color: #78b43d;
    text-transform: uppercase;
}
.brmCmTb a:hover {
    text-decoration: underline;
}
.bdmHmTb a:hover, .bdmHmTb span:hover {
    color: #000;
}
.ftLstVid {
    clear: both;
    float: right;
    width: 66%;
    margin: 10px 0;
}
.vidSeMr {
    float: left;
}
.ftLstVid .vidSeMr a {
    color: #333;
    text-transform: uppercase;
    background-color: #ebebeb;
    display: block;
    text-align: center;
    font-weight: 700;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.ftLstVid .vidSeMr a:hover {
    opacity: .75;
}
.ftLstVid .vidSeMr a::before {
    content: "";
    position: absolute;
    background: url(//static.24h.com.vn/images/2014/seemore.png);
    width: 12px;
    height: 12px;
    left: 5px;
    top: 13px;
}
.vidPg {
    width: 28%;
    float: right;
}
.vidPg .pagS2 {
    border: 1px solid #ddd;
    background: #fff;
    padding: 0 10px;
    text-align: center;
}
.vidPg .pagS2 .Prv {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 4px -624px;
    width: 27px;
    height: 34px;
    float: left;
}
.pagPge {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #7d7d7d;
    border-left: #d7d7d7 solid 1px;
    border-right: #d7d7d7 solid 1px;
    font-size: 12px;
}
.vidPg .pagS2 .Nxt {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat -8px -583px;
    width: 27px;
    height: 34px;
    float: right;
}
/*Start video tong hop*/
.foMenuVd {
    width: 100%;
    background: #ebebeb;
}
.ft-video-body ul {
    padding: 0 10px;
    list-style: none;
    margin: 5px 0;
}
.ft-video-body ul li {
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    float: left;
    width: 196px;
    margin: 0 10px;
}
.ft-video-body ul li:nth-of-type(1), .ft-video-body ul li:nth-of-type(2), .ft-video-body ul li:nth-of-type(3),.ft-video-body ul li:nth-of-type(4) {
    border: 0;
}
.ft-video-body ul li a{
    color: #333;
    font-size: 14px;
}
.ft-video-icon {
    background: url(//static.24h.com.vn/images/2014/icon-imgft.png) 0 13px no-repeat;
}
.ft-video-body ul li a:hover {
    text-decoration: underline;
}
/*Start video highlight*/
.frmZplayer {
    border: 1px solid #ddd;
    max-width: 100%;
    display: inline-block;
    max-height: 140px;
    overflow-x: hidden;
    width: 100%;
}
.ptVidZplayer {
    text-align: left;
}
.ptVidZplayer span {
    width: 20px;
    display: block;
    padding: 5px 10px;
    background: #ddd;
    color: #000;
    font-weight: 700;
}
.bxTmHgLit {
    margin-left: -1%;
    margin-right: -1%;
}
.tmHgLit {
    width: 100%;
    float: left;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}
.tmHgLit:hover {
    background-color: #eaf8d2;
}
.tmHgLit a.HgLit {
    color: #000;
}
.icoEvtHgLit {
    width: 23px;
    height: 23px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    margin-top: -3px;
    float: left;
}
.icoEvtHgLit img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    position: absolute;
    top: 3px;
    right: -5px;
    width: 18px;
    height: 29px;
}
.frmZplayer::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
.frmZplayer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a1a1a1;
}
.frmZplayer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
#pinListzplayer {
    width: 660px;
    margin: 0 auto;
}
/*End video highlight*/
.arbackpage{
    bottom: 170px;
}