.brmCm2 {
    width: 693px;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 0;
}
.bdmHmTb, .brmCmTb {
    float: left;
    height: auto;
    padding: 2px 0 3px 0;
    font-size: 11px!important;
    font-weight: bold;
    color: #fff;
}
.bdmHmTb ul li, .brmCmTb li {
    display: block;
    list-style: none;
    color: #78b43d;
    margin-right: 5px;
}
.bdmHmTb a {
    font-size: 16px;
    font-weight: bold;
    color: #78b43d;
    line-height: 12px;
}
.bdmHmTb span, .brmCmTb a {
    font-size: 16px;
    color: #78b43d;
}
.vidCm, .lstVidCm {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.lstVidCm1, .lstVidCm2 {
    margin-right: 15px;
}
.lstVidCmLt {
    width: 48%;
    float: left;
    clear: both;
    margin-right: 2%;
    margin-bottom: 2%;
}
.lstVidCmRt {
    width: 48%;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
}
.mnVidImg {
    position: relative;
    display: inline-block;
    width: 100%;
}
.mnVidImg > a img {
    display: block;
    height: 188px;
}
.lgVid {
    background: rgba(0,0,0,0.5);
    padding: 4px 8px;
    color: #FFF;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 15px;
    line-height: 10px;
}
.lgVid a img {
    margin-right: 8px;
}
.dangchay {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 126px;
    line-height: 126px;
    background-color: rgba(0,0,0,0.6);
}
.vidCm .vidBdTit {
    margin-top: 10px;
}
.vidBdTit {
    margin-bottom: 10px;
    text-align: left;
}
.vidCm .vidBdTit a {
    font-size: 16px;
}
.vidBdTit a {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.bvEvt {
    color: #666;
    font-size: 11px;
    padding-bottom: 7px;
}
.bvNw {
    padding-bottom: 5px;
}
.bvEvt a {
    color: #666;
    text-decoration: underline;
}
.vidThpRt {
    float: left;
    width: 298px;
    margin-top: 6px;
    height: 428px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    overflow-y: auto;
}
.vidThpRtIn {
    padding: 10px;
    display: inline-block;
}
.vidThpRt .bvTit {
    font-size: 20px;
    display: block;
}
.bvTit {
    color: #5ca038;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
}
.vidThpRt .bvNw, .vidThpRt .bvEvt {
    font-size: 12px;
    color: #707070;
}
.bdVidThp {
    line-height: 1.5;
    font-size: 16px;
}
.nguontin {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}
.scalSm {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.imgScal {
    width: 40%;
    float: left;
    margin-top: 5px;
}
.vidSefl {
        width: 35%;
    float: right;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 2px solid #5ca038;
}
.vidSefl a {
    font-size: 14px;
    color: #5ca038;
    font-weight: 700;
}
.vidSefl a img {
    margin-right: 2px;
}
.bxVideo .lkVidTh, .vidCm .titVidCl h3 {
    font-size: 16px;
}
.bxVideo .lkVidTh {
    color: #333;
}
.content30-07 a {
    text-decoration: underline;
}
.content30-07 a.sbevt {
    text-decoration: none;
}
.nmEvt {
        color: #78b43d;
    font-size: 12px;;
}
.tmPst {
    font-style: italic;
}
.vidCm .grnTbL {
    background: url(//static.24h.com.vn/images/2014/tab.gif) 0 0 no-repeat;
}
.vidCm .grnTbR {
        background: url(//static.24h.com.vn/images/2014/tab.gif) right 0 no-repeat;
}

/*Start video tong hop*/
.ftLstVid {
    clear: both;
    float: right;
    width: 70%;
    margin: 10px 0;
}
.vidSeMr {
    float: left;
}
.vidSeMr a {
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    background-color: #ebebeb;
    display: block;
    text-align: center;
    font-weight: 700;
    position: relative;
}
.ftLstVid .vidSeMr a:hover {
    opacity: .75;
}
.ico {
        background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) 0 -162px;
    width: 20px;
    height: 16px;
    display: inline-block;
}
.vidPg {
        width: 30%;
    float: right;
}
.vidPg .pagS2 {
        border: 1px solid #ddd;
    background: #fff;
    padding: 0 10px;
    text-align: center;
}
.vidPg .pagS2 .Prv {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat 4px -624px;
    width: 27px;
    height: 34px;
    float: left;
}
.pagPge {
    font-size: 12px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #7d7d7d;
    border-left: #d7d7d7 solid 1px;
    border-right: #d7d7d7 solid 1px;
}
.vidPg .pagS2 .Nxt {
    background: url(//static.24h.com.vn/images/m2014/images-small/sprites-small.png) no-repeat -8px -583px;
    width: 27px;
    height: 34px;
    float: right;
}
/*Start video tong hop*/
/*Start video highlight*/
.frmZplayer {
    border: 1px solid #ddd;
    max-width: 100%;
    display: inline-block;
    max-height: 140px;
    overflow-x: hidden;
    width: 100%;
}
.ptVidZplayer {
    text-align: left;
}
.ptVidZplayer span {
    width: 20px;
    display: block;
    padding: 5px 10px;
    background: #ddd;
    color: #000;
    font-weight: 700;
}
.bxTmHgLit {
    margin-left: -1%;
    margin-right: -1%;
}
.tmHgLit {
    width: 100%;
    float: left;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}
.tmHgLit:hover {
    background-color: #eaf8d2;
}
.tmHgLit a.HgLit {
    color: #000;
}
.icoEvtHgLit {
    width: 23px;
    height: 23px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    margin-top: -3px;
    float: left;
}
.icoEvtHgLit img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    position: absolute;
    top: 3px;
    right: -5px;
    width: 18px;
    height: 29px;
}
.frmZplayer::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
.frmZplayer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a1a1a1;
}
.frmZplayer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
#pinListzplayer {
    width: 660px;
    margin: 0 auto;
}
/*End video highlight*/