.relateAlbum {
  margin: 40px 0 16px;
  .col:nth-child(1), .col:nth-child(2), .col:nth-child(3), .col:nth-child(4){
    .vidItm{
      margin-bottom: 50px;
    }
  }
  .vidItmImg {
    line-height: 0;
  }
  .vidItmTxt a {
    bottom: 0;
  }
}

//
.relateThumb {
  span {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 24px;
    left: 12px;
    text-align: center;
  }
}
