.innerTaitro {
  display: flex;
  justify-content: space-between; }
  .innerTaitro .tbMn:last-child {
    margin-right: 0; }
  .innerTaitro .logoTaitro {
    padding-top: 8px; }
    .innerTaitro .logoTaitro img {
      max-height: 15px; }
