p.linkOrigin {
  font-size: 14px;
  color: #757575;
  padding: 0;
  margin: 10px; }
  p.linkOrigin button {
    background: url("//cdn.24h.com.vn/images/icoDrop.png") no-repeat;
    width: 13px;
    height: 11px;
    border: 0;
    outline: none; }
  @media screen and (max-width: 320px) {
    p.linkOrigin {
      font-size: 12px; } }
  @media screen and (min-width: 414px) {
    p.linkOrigin {
      font-size: 16px; } }
  @media screen and (min-width: 480px) {
    p.linkOrigin {
      font-size: 14px; } }
  @media screen and (min-width: 640px) {
    p.linkOrigin {
      font-size: 16px; } }
  @media screen and (min-width: 736px) {
    p.linkOrigin {
      font-size: 18px; } }
