p.linkOrigin, p.linkOrigin * {
  font-size: 14px;
  color: #757575; }
  p.linkOrigin .icoDrop {
    display: inline-block;
    background: url("../images/icoDrop.png") no-repeat;
    width: 13px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer; }
  @media screen and (max-width: 320px) {
    p.linkOrigin, p.linkOrigin * {
      font-size: 12px; } }
  @media screen and (min-width: 414px) {
    p.linkOrigin, p.linkOrigin * {
      font-size: 16px; } }
  @media screen and (min-width: 480px) {
    p.linkOrigin, p.linkOrigin * {
      font-size: 14px; } }
  @media screen and (min-width: 640px) {
    p.linkOrigin, p.linkOrigin * {
      font-size: 16px; } }
  @media screen and (min-width: 736px) {
    p.linkOrigin, p.linkOrigin * {
      font-size: 18px; } }
