/* infeed_01 */
.infeed_01{
	display: flex;
	padding: 0;
	.img{
		width: 137px;
		height: 103px;
		position: relative;
		margin: 0 10px 0 0;
	}
	.content{
		width: 137px;
		flex-grow: 1;
		padding-right: 10px;
		margin-top: 7px;
		.label{
			font-size: 11px;
		}
		span.text{
			@extend .label;
			font-weight: normal;
			color: #0155b8;
		}
		.title{
			margin-top: 4px;
			line-height: 1.2;
		}
	}
}

/* infeed_02 */
.infeed_02{
	flex-direction: row-reverse;
	.img{
		margin: 0;
	}
	.content{
		padding: 0 10px;
	}
}